Repository ovn-kubernetes/ovn-kubernetes, pull requests merged in 2024-08, with the labels that each got.

#4576 UT flake: fix panic in node IP handler tests
  go-controller/pkg/node/node_ip_handler_linux_test.go
Labels: area/unit-testing

#4496 Support masquerade subnet to be custom configurable as a day2 operation
  contrib/kind-helm.sh
  contrib/kind.sh
  dist/images/daemonset.sh
  dist/images/ovnkube.sh
  dist/templates/ovnkube-single-node-zone.yaml.j2
  dist/templates/ovnkube-zone-controller.yaml.j2
  go-controller/pkg/config/config.go
  go-controller/pkg/config/utils.go
  go-controller/pkg/libovsdb/ops/mac_binding.go
  go-controller/pkg/node/gateway_init.go
  go-controller/pkg/node/gateway_init_linux_test.go
  go-controller/pkg/node/gateway_iptables.go
  go-controller/pkg/node/gateway_localnet.go
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/ovn/gateway_init.go
  go-controller/pkg/ovn/gateway_test.go
  go-controller/pkg/ovnwebhook/nodeadmission.go
  go-controller/pkg/util/net_linux.go
  go-controller/pkg/util/net_linux_unit_test.go
  go-controller/pkg/util/node_annotations.go
  go-controller/pkg/util/node_annotations_unit_test.go
  test/e2e/service.go
Labels: area/unit-testing, area/e2e-testing, feature/pods, feature/services&endpoints, feature/egress-gateway, feature/user-defined-network-segmentation

#4588 fix: link to kind usage docs in contrib README.md
  contrib/README.md
Labels: kind/documentation

#4551 UDN egress integration: create logical infra for primary UDNs to egress for layer3 networks
  go-controller/pkg/node/gateway.go
  go-controller/pkg/ovn/admin_network_policy_test.go
  go-controller/pkg/ovn/base_network_controller.go
  go-controller/pkg/ovn/base_network_controller_pods.go
  go-controller/pkg/ovn/baseline_admin_network_policy_test.go
  go-controller/pkg/ovn/default_network_controller.go
  go-controller/pkg/ovn/egressip_test.go
  go-controller/pkg/ovn/gateway.go
  go-controller/pkg/ovn/gateway_cleanup.go
  go-controller/pkg/ovn/gateway_test.go
  go-controller/pkg/ovn/gatewayrouter/policybasedroutes.go
  go-controller/pkg/ovn/gatewayrouter/policybasedroutes_test.go
  go-controller/pkg/ovn/hybrid_test.go
  go-controller/pkg/ovn/kubevirt_test.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/master_test.go
  go-controller/pkg/ovn/multicast_test.go
  go-controller/pkg/ovn/multihoming_test.go
  go-controller/pkg/ovn/multipolicy_test.go
  go-controller/pkg/ovn/network_segmentation_test.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/ovn_test.go
  go-controller/pkg/ovn/pod_selector_address_set.go
  go-controller/pkg/ovn/pods_test.go
  go-controller/pkg/ovn/policy_test.go
  go-controller/pkg/ovn/secondary_layer3_network_controller.go
  go-controller/pkg/ovn/secondary_layer3_network_controller_test.go
  go-controller/pkg/ovn/topology/layer3factory_suite_test.go
  go-controller/pkg/ovn/topology/topologyfactory.go
  go-controller/pkg/ovn/topology/topologyfactory_test.go
  go-controller/pkg/types/const.go
  go-controller/pkg/util/multi_network.go
  go-controller/pkg/util/node_annotations.go
  go-controller/pkg/util/node_annotations_unit_test.go
  go-controller/pkg/util/util.go
Labels: feature/egress-ip, area/unit-testing, feature/admin-network-policy, feature/kubevirt-live-migration, feature/egress-gateway, feature/user-defined-network-segmentation

#4486 Network API: Add CRD for managing namespaced scope networks
  contrib/kind.sh
  dist/images/daemonset.sh
  dist/templates/k8s.ovn.org_userdefinednetworks.yaml.j2
  dist/templates/rbac-ovnkube-cluster-manager.yaml.j2
  dist/templates/rbac-ovnkube-master.yaml.j2
  go-controller/hack/update-codegen.sh
  go-controller/pkg/clustermanager/clustermanager.go
  go-controller/pkg/clustermanager/userdefinednetwork/controller.go
  go-controller/pkg/clustermanager/userdefinednetwork/controller_suite_test.go
  go-controller/pkg/clustermanager/userdefinednetwork/controller_test.go
  go-controller/pkg/clustermanager/userdefinednetwork/notifier/net-attach-def.go
  go-controller/pkg/clustermanager/userdefinednetwork/template/net-attach-def-template.go
  go-controller/pkg/clustermanager/userdefinednetwork/template/net-attach-def-template_suite_test.go
  go-controller/pkg/clustermanager/userdefinednetwork/template/net-attach-def-template_test.go
  go-controller/pkg/config/cni.go
  go-controller/pkg/config/utils.go
  go-controller/pkg/config/utils_test.go
  go-controller/pkg/controller/controller.go
  go-controller/pkg/crd/userdefinednetwork/v1/apis/applyconfiguration/internal/internal.go
  go-controller/pkg/crd/userdefinednetwork/v1/apis/applyconfiguration/userdefinednetwork/v1/layer2config.go
  go-controller/pkg/crd/userdefinednetwork/v1/apis/applyconfiguration/userdefinednetwork/v1/layer3config.go
  go-controller/pkg/crd/userdefinednetwork/v1/apis/applyconfiguration/userdefinednetwork/v1/layer3subnet.go
  go-controller/pkg/crd/userdefinednetwork/v1/apis/applyconfiguration/userdefinednetwork/v1/localnetconfig.go
  go-controller/pkg/crd/userdefinednetwork/v1/apis/applyconfiguration/userdefinednetwork/v1/userdefinednetwork.go
  go-controller/pkg/crd/userdefinednetwork/v1/apis/applyconfiguration/userdefinednetwork/v1/userdefinednetworkspec.go
  go-controller/pkg/crd/userdefinednetwork/v1/apis/applyconfiguration/userdefinednetwork/v1/userdefinednetworkstatus.go
  go-controller/pkg/crd/userdefinednetwork/v1/apis/applyconfiguration/utils.go
  go-controller/pkg/crd/userdefinednetwork/v1/apis/clientset/versioned/clientset.go
  go-controller/pkg/crd/userdefinednetwork/v1/apis/clientset/versioned/fake/clientset_generated.go
  go-controller/pkg/crd/userdefinednetwork/v1/apis/clientset/versioned/fake/doc.go
  go-controller/pkg/crd/userdefinednetwork/v1/apis/clientset/versioned/fake/register.go
  go-controller/pkg/crd/userdefinednetwork/v1/apis/clientset/versioned/scheme/doc.go
  go-controller/pkg/crd/userdefinednetwork/v1/apis/clientset/versioned/scheme/register.go
  go-controller/pkg/crd/userdefinednetwork/v1/apis/clientset/versioned/typed/userdefinednetwork/v1/doc.go
  go-controller/pkg/crd/userdefinednetwork/v1/apis/clientset/versioned/typed/userdefinednetwork/v1/fake/doc.go
  go-controller/pkg/crd/userdefinednetwork/v1/apis/clientset/versioned/typed/userdefinednetwork/v1/fake/fake_userdefinednetwork.go
  go-controller/pkg/crd/userdefinednetwork/v1/apis/clientset/versioned/typed/userdefinednetwork/v1/fake/fake_userdefinednetwork_client.go
  go-controller/pkg/crd/userdefinednetwork/v1/apis/clientset/versioned/typed/userdefinednetwork/v1/generated_expansion.go
  go-controller/pkg/crd/userdefinednetwork/v1/apis/clientset/versioned/typed/userdefinednetwork/v1/userdefinednetwork.go
  go-controller/pkg/crd/userdefinednetwork/v1/apis/clientset/versioned/typed/userdefinednetwork/v1/userdefinednetwork_client.go
  go-controller/pkg/crd/userdefinednetwork/v1/apis/informers/externalversions/factory.go
  go-controller/pkg/crd/userdefinednetwork/v1/apis/informers/externalversions/generic.go
  go-controller/pkg/crd/userdefinednetwork/v1/apis/informers/externalversions/internalinterfaces/factory_interfaces.go
  go-controller/pkg/crd/userdefinednetwork/v1/apis/informers/externalversions/userdefinednetwork/interface.go
  go-controller/pkg/crd/userdefinednetwork/v1/apis/informers/externalversions/userdefinednetwork/v1/interface.go
  go-controller/pkg/crd/userdefinednetwork/v1/apis/informers/externalversions/userdefinednetwork/v1/userdefinednetwork.go
  go-controller/pkg/crd/userdefinednetwork/v1/apis/listers/userdefinednetwork/v1/expansion_generated.go
  go-controller/pkg/crd/userdefinednetwork/v1/apis/listers/userdefinednetwork/v1/userdefinednetwork.go
  go-controller/pkg/crd/userdefinednetwork/v1/doc.go
  go-controller/pkg/crd/userdefinednetwork/v1/register.go
  go-controller/pkg/crd/userdefinednetwork/v1/types.go
  go-controller/pkg/crd/userdefinednetwork/v1/zz_generated.deepcopy.go
  go-controller/pkg/factory/factory.go
  go-controller/pkg/factory/handler.go
  go-controller/pkg/ovn/ovn_test.go
  go-controller/pkg/util/fake_client.go
  go-controller/pkg/util/kube.go
  go-controller/pkg/util/multi_network.go
  test/e2e/network_segmentation.go
Labels: area/unit-testing, area/e2e-testing, kind/feature, feature/user-defined-network-segmentation

#4570 Add VRF support for EIP assigned to secondary interface
  .github/workflows/test.yml
  docs/features/cluster-egress-controls/egress-ip.md
  go-controller/pkg/node/controllers/egressip/egressip.go
  go-controller/pkg/node/controllers/egressip/egressip_test.go
  go-controller/pkg/node/linkmanager/link_network_manager.go
  go-controller/pkg/node/linkmanager/link_network_manager_test.go
  go-controller/pkg/node/routemanager/route_manager.go
  go-controller/pkg/node/routemanager/route_manager_test.go
  test/e2e/egressip.go
Labels: kind/documentation, feature/egress-ip, area/unit-testing, area/e2e-testing

#4583 Fixes HO test when HO node switched to OVN node
  go-controller/pkg/ovn/hybrid_test.go
Labels: area/unit-testing

#4577 OCPBUGS-37433: ignore localnet patch ports while bootstrapping the cluster default network
  go-controller/pkg/node/default_node_network_controller.go
  go-controller/pkg/node/openflow_manager.go
  go-controller/pkg/node/openflow_manager_test.go
Labels: area/unit-testing, feature/multi-networks

#4586 Use more exact name match when deleting static routes to HO nodes
  go-controller/pkg/ovn/hybrid.go
  go-controller/pkg/ovn/hybrid_test.go
  go-controller/pkg/ovn/master.go
Labels: area/unit-testing

#4568 udn, cni: Unconfigure interface
  go-controller/pkg/cni/cni.go
  go-controller/pkg/cni/cni_test.go
  go-controller/pkg/cni/cnishim.go
  go-controller/pkg/cni/helper_linux.go
  go-controller/pkg/cni/udn/primary_network.go
Labels: area/unit-testing

#4599 Use 169.254.0.0/17 as the default masquerade subnet
  contrib/kind-helm.sh
  contrib/kind.sh
  go-controller/pkg/generator/udn/masquerade_ips.go
  go-controller/pkg/generator/udn/masquerade_ips_test.go
Labels: area/unit-testing

#4559 Delete EgressIP LRP stale nexthops when node is not found
  go-controller/pkg/libovsdb/ops/router.go
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/egressip_test.go
Labels: feature/egress-ip, area/unit-testing

#4532 helm: fix appVersion to be 1.0.0
  helm/ovn-kubernetes/Chart.yaml
  helm/ovn-kubernetes/README.md
  helm/ovn-kubernetes/charts/ovn-ipsec/Chart.yaml
  helm/ovn-kubernetes/charts/ovnkube-control-plane/Chart.yaml
  helm/ovn-kubernetes/charts/ovnkube-db-raft/Chart.yaml
  helm/ovn-kubernetes/charts/ovnkube-db/Chart.yaml
  helm/ovn-kubernetes/charts/ovnkube-identity/Chart.yaml
  helm/ovn-kubernetes/charts/ovnkube-master/Chart.yaml
  helm/ovn-kubernetes/charts/ovnkube-node-dpu-host/Chart.yaml
  helm/ovn-kubernetes/charts/ovnkube-node-dpu/Chart.yaml
  helm/ovn-kubernetes/charts/ovnkube-node/Chart.yaml
  helm/ovn-kubernetes/charts/ovnkube-single-node-zone/Chart.yaml
  helm/ovn-kubernetes/charts/ovnkube-zone-controller/Chart.yaml
  helm/ovn-kubernetes/charts/ovs-node/Chart.yaml
Labels: kind/documentation

#4611 UT egress firewall: stop node controller in AfterEach.
  go-controller/pkg/ovn/egressfirewall_test.go
Labels: area/unit-testing, feature/egress-firewall

#4624 Don't use zone 0 for UDN Networks
  go-controller/pkg/ovn/gateway.go
  go-controller/pkg/ovn/secondary_layer3_network_controller_test.go
Labels: area/unit-testing, feature/user-defined-network-segmentation

#4439 Avoid calling oc.deleteStaleNodeChassis for every node update event
  go-controller/pkg/ovn/master.go
Labels: area/scale&performance, feature/nodes

#4622 Dead code, gofmt, typos, and other trivial test/e2e fixes
  test/e2e/e2e.go
  test/e2e/egressip.go
  test/e2e/external_gateways.go
  test/e2e/multicast.go
  test/e2e/multihoming.go
  test/e2e/node_ip_mac_migration.go
  test/e2e/ovspinning.go
  test/e2e/pod.go
  test/e2e/service.go
  test/e2e/static_pods.go
  test/e2e/util.go
Labels: feature/egress-ip, area/e2e-testing, feature/services&endpoints, feature/egress-gateway

#4639 Network Segmentation E2E: Use current pod state when checking readiness
  test/e2e/network_segmentation.go
Labels: area/e2e-testing, feature/user-defined-network-segmentation

#4557 UDN: Program flows on default bridge
  go-controller/pkg/network-controller-manager/node_network_controller_manager.go
  go-controller/pkg/node/default_node_network_controller.go
  go-controller/pkg/node/gateway.go
  go-controller/pkg/node/gateway_init.go
  go-controller/pkg/node/gateway_localnet.go
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/node/gateway_udn.go
  go-controller/pkg/node/gateway_udn_test.go
  go-controller/pkg/node/openflow_manager.go
  go-controller/pkg/node/secondary_node_network_controller.go
  go-controller/pkg/node/secondary_node_network_controller_test.go
  go-controller/pkg/node/startup-waiter.go
  go-controller/pkg/ovn/gateway.go
  go-controller/pkg/ovn/secondary_layer3_network_controller_test.go
  test/e2e/network_segmentation.go
Labels: feature/egress-ip, area/unit-testing, area/e2e-testing, feature/admin-network-policy, feature/kubevirt-live-migration, feature/egress-firewall, feature/user-defined-network-segmentation

#4605 EIP e2e: skip test if VRF kernel module isn't loaded on target node
  test/e2e/egressip.go
  test/e2e/util.go
Labels: feature/egress-ip, area/e2e-testing

#4544 enable interconnect in helm chart
  .github/workflows/test.yml
  contrib/kind-helm.sh
  dist/images/ovnkube.sh
  docs/installation/launching-ovn-kubernetes-with-helm.md
  helm/ovn-kubernetes/README.md
  helm/ovn-kubernetes/README.md.gotmpl
  helm/ovn-kubernetes/charts/ovnkube-control-plane/templates/ovnkube-control-plane.yaml
  helm/ovn-kubernetes/charts/ovnkube-control-plane/templates/rbac-ovnkube-cluster-manager.yaml
  helm/ovn-kubernetes/charts/ovnkube-identity/values.yaml
  helm/ovn-kubernetes/charts/ovnkube-master/templates/deployment-ovnkube-master.yaml
  helm/ovn-kubernetes/charts/ovnkube-single-node-zone/templates/ovnkube-single-node-zone.yaml
  helm/ovn-kubernetes/charts/ovnkube-zone-controller/templates/ovnkube-zone-controller.yaml
  helm/ovn-kubernetes/charts/ovnkube-zone-controller/values.yaml
  helm/ovn-kubernetes/templates/rbac-ovnkube-node.yaml
  helm/ovn-kubernetes/values-multi-node-zone.yaml
  helm/ovn-kubernetes/values-no-ic.yaml
  helm/ovn-kubernetes/values-single-node-zone.yaml
Labels: kind/documentation, area/e2e-testing, feature/egress-qos

#4621 Consistently reorder test/e2e imports
  test/e2e/acl_logging.go
  test/e2e/e2e.go
  test/e2e/e2e_suite_test.go
  test/e2e/egress_firewall.go
  test/e2e/egress_services.go
  test/e2e/egressqos.go
  test/e2e/endpointslices_mirror.go
  test/e2e/external_gateways.go
  test/e2e/gateway_mtu.go
  test/e2e/multi_node_zones_interconnect.go
  test/e2e/multicast.go
  test/e2e/node_ip_mac_migration.go
  test/e2e/pod.go
  test/e2e/reporter.go
  test/e2e/service.go
  test/e2e/static_pods.go
  test/e2e/unidling.go
  test/e2e/util.go
Labels: area/unit-testing, area/e2e-testing, feature/egress-service, feature/services&endpoints, feature/egress-gateway, feature/egress-qos

#4597 Set gomega poll interval on retry to allow ~5 retries instead of just 1.
  test/e2e/status_manager.go
Labels: area/e2e-testing

#4643 Use both the NAD and the CRD in endpointslice mirror tests
  test/e2e/endpointslices_mirror.go
  test/e2e/network_segmentation_endpointslices_mirror.go
Labels: area/e2e-testing, feature/user-defined-network-segmentation

#4640 Udn layer3 add cleanup unit tests
  go-controller/pkg/ovn/secondary_layer3_network_controller_test.go
Labels: area/unit-testing, feature/user-defined-network-segmentation

#4615 networksegmentation,UDN CRD: Remove localnet
  dist/templates/k8s.ovn.org_userdefinednetworks.yaml.j2
  go-controller/pkg/clustermanager/userdefinednetwork/template/net-attach-def-template.go
  go-controller/pkg/clustermanager/userdefinednetwork/template/net-attach-def-template_test.go
  go-controller/pkg/crd/userdefinednetwork/v1/apis/applyconfiguration/userdefinednetwork/v1/localnetconfig.go
  go-controller/pkg/crd/userdefinednetwork/v1/apis/applyconfiguration/userdefinednetwork/v1/userdefinednetworkspec.go
  go-controller/pkg/crd/userdefinednetwork/v1/apis/applyconfiguration/utils.go
  go-controller/pkg/crd/userdefinednetwork/v1/types.go
  go-controller/pkg/crd/userdefinednetwork/v1/zz_generated.deepcopy.go
Labels: area/unit-testing, feature/user-defined-network-segmentation

#4561 UDN egress integration: create logical infra for primary UDNs to egress for layer2 networks
  go-controller/pkg/node/secondary_node_network_controller.go
  go-controller/pkg/ovn/gateway.go
  go-controller/pkg/ovn/multihoming_test.go
  go-controller/pkg/ovn/secondary_layer2_network_controller.go
  go-controller/pkg/ovn/secondary_layer2_network_controller_test.go
  go-controller/pkg/ovn/secondary_layer3_network_controller_test.go
  test/e2e/network_segmentation.go
Labels: feature/egress-ip, area/unit-testing, area/e2e-testing, feature/user-defined-network-segmentation

#4649 UT: Skip eip test when iptables doesn't exist
  go-controller/pkg/node/controllers/egressip/egressip_test.go
Labels: area/unit-testing

#4626 Fix IPv6 network mgnt port IP address assignment
  go-controller/pkg/node/gateway_udn.go
  go-controller/pkg/node/gateway_udn_test.go
  go-controller/pkg/node/secondary_node_network_controller_test.go
Labels: area/unit-testing, feature/user-defined-network-segmentation

#4633 Node IP hander: ignore mgnt port IPs
  go-controller/pkg/node/gateway_localnet_linux_test.go
  go-controller/pkg/node/node_ip_handler_linux.go
  go-controller/pkg/node/node_ip_handler_linux_test.go
Labels: area/unit-testing, feature/user-defined-network-segmentation

#4550 UDN: Add IPRules Manager
  go-controller/pkg/network-controller-manager/node_network_controller_manager.go
  go-controller/pkg/node/gateway_udn.go
  go-controller/pkg/node/gateway_udn_test.go
  go-controller/pkg/node/iprulemanager/ip_rule_manager.go
  go-controller/pkg/node/secondary_node_network_controller.go
  go-controller/pkg/node/secondary_node_network_controller_test.go
Labels: area/unit-testing, area/gateway, feature/user-defined-network-segmentation

#4652 Serializes Network Manager Start up
  go-controller/pkg/network-attach-def-controller/network_manager.go
Labels: feature/user-defined-network-segmentation

#4660 Fixes panic in DPU mgmt port tests
  go-controller/pkg/node/management-port_dpu_test.go
  go-controller/pkg/util/node_annotations.go
Labels: area/unit-testing

#4659 PBR: remove erroneous constraint to deny host IPs ending in 0
  go-controller/pkg/ovn/gatewayrouter/policybasedroutes.go
  go-controller/pkg/ovn/gatewayrouter/policybasedroutes_test.go
Labels: area/unit-testing

#4552 UDN: Add `MASQUERADE` IPTable Rules
  go-controller/pkg/node/gateway_init_linux_test.go
  go-controller/pkg/node/gateway_iptables.go
Labels: area/unit-testing, area/gateway, feature/user-defined-network-segmentation

#4553 UDN: Add RPFilter Loose Mode for management port
  go-controller/pkg/node/gateway_udn.go
  go-controller/pkg/node/gateway_udn_test.go
  go-controller/pkg/node/secondary_node_network_controller_test.go
Labels: area/unit-testing, feature/user-defined-network-segmentation

#4555 UDN L3 support for services
  go-controller/pkg/clustermanager/egressservice/egressservice_cluster_endpointslices.go
  go-controller/pkg/clustermanager/endpointslicemirror/endpointslice_mirror_controller.go
  go-controller/pkg/clustermanager/endpointslicemirror/endpointslice_mirror_controller_test.go
  go-controller/pkg/factory/factory.go
  go-controller/pkg/libovsdb/ops/lbgroup.go
  go-controller/pkg/libovsdb/ops/loadbalancer.go
  go-controller/pkg/network-controller-manager/network_controller_manager.go
  go-controller/pkg/node/controllers/egressservice/egressservice_node_endpointslice.go
  go-controller/pkg/ovn/base_network_controller.go
  go-controller/pkg/ovn/base_secondary_layer2_network_controller.go
  go-controller/pkg/ovn/controller/egressservice/egressservice_zone_endpointslice.go
  go-controller/pkg/ovn/controller/services/lb_config.go
  go-controller/pkg/ovn/controller/services/lb_config_test.go
  go-controller/pkg/ovn/controller/services/loadbalancer.go
  go-controller/pkg/ovn/controller/services/loadbalancer_test.go
  go-controller/pkg/ovn/controller/services/node_tracker.go
  go-controller/pkg/ovn/controller/services/repair.go
  go-controller/pkg/ovn/controller/services/services_controller.go
  go-controller/pkg/ovn/controller/services/services_controller_test.go
  go-controller/pkg/ovn/controller/services/svc_template_var.go
  go-controller/pkg/ovn/controller/services/utils.go
  go-controller/pkg/ovn/controller/services/utils_test.go
  go-controller/pkg/ovn/default_network_controller.go
  go-controller/pkg/ovn/gateway.go
  go-controller/pkg/ovn/multihoming_test.go
  go-controller/pkg/ovn/multipolicy_test.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/ovn_test.go
  go-controller/pkg/ovn/secondary_layer2_network_controller_test.go
  go-controller/pkg/ovn/secondary_layer3_network_controller.go
  go-controller/pkg/ovn/secondary_layer3_network_controller_test.go
  go-controller/pkg/ovn/topology/topologyfactory_test.go
  go-controller/pkg/testing/kube.go
  go-controller/pkg/types/const.go
  go-controller/pkg/util/kube.go
  go-controller/pkg/util/kube_test.go
  go-controller/pkg/util/multi_network.go
  go-controller/pkg/util/node_annotations.go
  go-controller/pkg/util/util.go
  test/e2e/network_segmentation_services.go
  test/scripts/e2e-cp.sh
Labels: kind/documentation, area/unit-testing, area/e2e-testing, feature/egress-service, feature/services&endpoints, feature/user-defined-network-segmentation

#4675 Use faked iptables in UDN gateway tests
  go-controller/pkg/node/gateway_udn_test.go
Labels: area/unit-testing, feature/user-defined-network-segmentation

#4672 Fixes remote node checks to be network aware
  go-controller/pkg/ovn/base_network_controller.go
  go-controller/pkg/ovn/default_network_controller.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/secondary_layer2_network_controller.go
  go-controller/pkg/ovn/secondary_layer3_network_controller.go
  go-controller/pkg/util/node_annotations.go
Labels: area/scale&performance, feature/user-defined-network-segmentation

#4648 UDN: SGW: L2/L3 Add support for external -> service traffic.
  go-controller/pkg/node/gateway.go
  go-controller/pkg/node/gateway_init.go
  go-controller/pkg/node/gateway_init_linux_test.go
  go-controller/pkg/node/gateway_localnet_linux_test.go
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/node/gateway_udn.go
  go-controller/pkg/node/gateway_udn_test.go
  go-controller/pkg/node/openflow_manager.go
  go-controller/pkg/ovn/zone_interconnect/zone_ic_handler.go
  test/e2e/network_segmentation_services.go
Labels: area/unit-testing, area/e2e-testing, feature/egress-service, feature/services&endpoints, feature/user-defined-network-segmentation

#4595 docs, api-reference: Add doc for UDN API
  docs/api-reference/introduction.md
  docs/api-reference/userdefinednetwork-api-spec.md
  mkdocs.yml
Labels: kind/documentation, feature/user-defined-network-segmentation
