Repository ovn-kubernetes/ovn-kubernetes, pull requests merged in 2024-09, with the labels that each got.

#4669 UDN: Fix per pod SNATing
  .github/workflows/test.yml
  go-controller/pkg/generator/udn/masquerade_ips.go
  go-controller/pkg/ovn/base_network_controller_secondary.go
  go-controller/pkg/ovn/secondary_layer2_network_controller.go
  go-controller/pkg/ovn/secondary_layer3_network_controller.go
Labels: kind/bug, feature/user-defined-network-segmentation

#4604 Add subnet overlap check for POD and join subnets in net-attach-def
  go-controller/pkg/clustermanager/endpointslicemirror/endpointslice_mirror_controller_test.go
  go-controller/pkg/config/config.go
  go-controller/pkg/config/utils.go
  go-controller/pkg/config/utils_test.go
  go-controller/pkg/util/multi_network.go
  go-controller/pkg/util/multi_network_test.go
Labels: area/unit-testing, feature/user-defined-network-segmentation

#4677 Emit Event if NAD cannot be parsed
  go-controller/pkg/clustermanager/secondary_network_cluster_manager.go
  go-controller/pkg/network-attach-def-controller/network_attach_def_controller.go
  go-controller/pkg/network-attach-def-controller/network_attach_def_controller_test.go
  go-controller/pkg/network-controller-manager/network_controller_manager.go
  go-controller/pkg/network-controller-manager/node_network_controller_manager.go
Labels: area/unit-testing, feature/user-defined-network-segmentation

#4697 UDN LGW: ensure masq chain exists before adding rules
  go-controller/pkg/node/gateway_iptables.go
  go-controller/pkg/node/gateway_localnet.go
Labels: feature/user-defined-network-segmentation

#4625 corrections to user defined networking
  go-controller/pkg/clustermanager/pod/allocator_test.go
  go-controller/pkg/clustermanager/secondary_network_unit_test.go
  go-controller/pkg/clustermanager/userdefinednetwork/template/net-attach-def-template_test.go
  go-controller/pkg/cni/udn/primary_network_test.go
  go-controller/pkg/node/gateway_udn_test.go
  go-controller/pkg/ovn/controller/services/lb_config_test.go
  go-controller/pkg/ovn/controller/services/services_controller_test.go
  go-controller/pkg/ovn/controller/services/utils_test.go
  go-controller/pkg/ovn/topology/topologyfactory_test.go
  go-controller/pkg/util/multi_network.go
  go-controller/pkg/util/multi_network_test.go
  test/e2e/multihoming.go
  test/e2e/multihoming_utils.go
  test/e2e/network_segmentation.go
  test/e2e/network_segmentation_endpointslices_mirror.go
  test/e2e/util.go
Labels: area/unit-testing, area/e2e-testing, feature/services&endpoints, feature/user-defined-network-segmentation

#4707 Add unit tests for UDN while DS is true
  go-controller/pkg/ovn/multihoming_test.go
  go-controller/pkg/ovn/secondary_layer2_network_controller_test.go
  go-controller/pkg/ovn/secondary_layer3_network_controller_test.go
Labels: area/unit-testing

#4706 kubevirt, e2e: Use e2enode to label/unlabel
  test/e2e/kubevirt.go
Labels: area/e2e-testing, feature/kubevirt-live-migration

#4650 Add a source pod create retry function for egress firewall e2e.
  test/e2e/egress_firewall.go
Labels: area/e2e-testing, feature/egress-firewall

#4674 Add static route to the hairpin masquerade IPs to pod
  go-controller/pkg/allocator/pod/pod_annotation_test.go
  go-controller/pkg/ovn/pods_test.go
  go-controller/pkg/util/pod_annotation.go
Labels: area/unit-testing, feature/multi-networks

#4712 Adds e2e test: conntrack flush after ovnkube delete + bumps OVN with fix
  dist/images/Dockerfile.fedora
  test/e2e/e2e.go
  test/e2e/util.go
Labels: area/e2e-testing

#4718 UDN: L3: Use nodesubnet annotations for L3; not clustersubnet from NAD
  go-controller/pkg/ovn/multihoming_test.go
  go-controller/pkg/ovn/secondary_layer2_network_controller_test.go
  go-controller/pkg/ovn/secondary_layer3_network_controller.go
  go-controller/pkg/ovn/secondary_layer3_network_controller_test.go
Labels: kind/bug, area/unit-testing, feature/user-defined-network-segmentation

#4722 UDN gateway & test fixes
  contrib/kind-common
  go-controller/pkg/config/utils.go
  go-controller/pkg/ovn/gateway.go
  go-controller/pkg/ovn/multihoming_test.go
  go-controller/pkg/ovn/secondary_layer2_network_controller_test.go
  go-controller/pkg/ovn/secondary_layer3_network_controller_test.go
Labels: area/unit-testing

#4554 UDN L3/L2 Add Masquerade SNAT
  go-controller/Makefile
  go-controller/pkg/libovsdb/ops/router.go
  go-controller/pkg/ovn/base_network_controller.go
  go-controller/pkg/ovn/base_network_controller_secondary.go
  go-controller/pkg/ovn/base_network_controller_secondary_test.go
  go-controller/pkg/ovn/secondary_layer2_network_controller.go
  go-controller/pkg/ovn/secondary_layer2_network_controller_test.go
  go-controller/pkg/ovn/secondary_layer3_network_controller.go
  go-controller/pkg/ovn/secondary_layer3_network_controller_test.go
  test/e2e/network_segmentation.go
  test/e2e/network_segmentation_services.go
Labels: area/unit-testing, area/e2e-testing, feature/user-defined-network-segmentation

#4694 UDN: Design routes and policies on L2's GR correctly.
  go-controller/pkg/libovsdb/ops/router.go
  go-controller/pkg/ovn/base_network_controller.go
  go-controller/pkg/ovn/gateway.go
  go-controller/pkg/ovn/gatewayrouter/policybasedroutes.go
  go-controller/pkg/ovn/gatewayrouter/policybasedroutes_test.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/multihoming_test.go
  go-controller/pkg/ovn/secondary_layer2_network_controller.go
  go-controller/pkg/ovn/secondary_layer2_network_controller_test.go
  go-controller/pkg/ovn/secondary_layer3_network_controller.go
  go-controller/pkg/ovn/secondary_layer3_network_controller_test.go
  go-controller/pkg/types/const.go
  go-controller/pkg/util/multi_network.go
  go-controller/pkg/util/node_annotations.go
  test/e2e/network_segmentation.go
Labels: area/unit-testing, area/e2e-testing, feature/user-defined-network-segmentation

#4740 Services NodePort E2Es: Reset shared variables before each test
  test/e2e/service.go
Labels: area/e2e-testing, feature/services&endpoints

#4729 Fix missing ICMP SNAT for L2 UDNs GR
  go-controller/pkg/ovn/gateway.go
  go-controller/pkg/ovn/secondary_layer2_network_controller_test.go
Labels: kind/bug, area/unit-testing, feature/user-defined-network-segmentation

#4735 Fix arp proxy configuration for UDNs
  .gitignore
  dist/images/.gitignore
  go-controller/pkg/ovn/base_network_controller.go
  go-controller/pkg/ovn/multihoming_test.go
Labels: area/unit-testing, feature/kubevirt-live-migration, feature/user-defined-network-segmentation

#4705 UDN: Ensure pod2service isolation in local gw mode.
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/node/gateway_udn.go
  go-controller/pkg/node/gateway_udn_test.go
  go-controller/pkg/node/openflow_manager.go
  test/e2e/network_segmentation_services.go
Labels: kind/documentation, feature/egress-ip, area/unit-testing, area/e2e-testing, feature/services&endpoints, feature/egress-gateway, feature/user-defined-network-segmentation
