Repository ovn-kubernetes/ovn-kubernetes, pull requests merged in 2024-10, with the labels that each got.

#4744 Fix egress gateway pod cleanup for remote zone pods.
  go-controller/pkg/ovn/ovn.go
  test/e2e/external_gateways.go
  test/scripts/e2e-cp.sh
Labels: area/e2e-testing, feature/egress-gateway

#4696 Add UDN pod annotation to open default network ports.
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/pods.go
  go-controller/pkg/ovn/udn_isolation.go
  go-controller/pkg/util/pod_annotation.go
  go-controller/pkg/util/pod_annotation_unit_test.go
  test/e2e/network_segmentation.go
Labels: area/unit-testing, area/e2e-testing

#4713 Fix sudo perms when running tests
  go-controller/pkg/network-controller-manager/node_network_controller_manager_test.go
  go-controller/pkg/node/secondary_node_network_controller_test.go
Labels: area/unit-testing, feature/user-defined-network-segmentation

#4767 Fix panic in UT
  go-controller/pkg/node/secondary_node_network_controller_test.go
Labels: area/unit-testing

#4742 Backport E2E fixes
  go-controller/pkg/ovn/egressfirewall.go
  test/e2e/egress_firewall.go
  test/e2e/egressip.go
  test/e2e/go.mod
  test/e2e/go.sum
  test/e2e/service.go
  test/scripts/e2e-cp.sh
Labels: feature/egress-ip, area/e2e-testing, feature/services&endpoints, feature/egress-firewall

#4738 Skip cluster port group operations for UDN
  go-controller/pkg/ovn/base_network_controller.go
  go-controller/pkg/ovn/multihoming_test.go
Labels: kind/bug, area/unit-testing, feature/user-defined-network-segmentation

#4745 Verify udn-allowed-default-services config field
  go-controller/pkg/config/config.go
  go-controller/pkg/config/config_test.go
  go-controller/pkg/util/util.go
Labels: area/unit-testing, feature/user-defined-network-segmentation

#4782 controller: make stop idempotent.
  go-controller/pkg/controller/controller.go
  go-controller/pkg/controller/controller_test.go
Labels: area/unit-testing

#4781 node_annotations: Make GetNodeHostAddrs() return stable results.
  go-controller/pkg/util/node_annotations.go
Labels: kind/bug, area/scale&performance

#4786 node: Relax check_ports() for UDN patch ports.
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/node/gateway_udn.go
  go-controller/pkg/node/gateway_udn_test.go
  go-controller/pkg/node/openflow_manager.go
Labels: kind/bug, area/unit-testing, feature/user-defined-network-segmentation

#4734 OCPBUGS-41499: split gateway creation
  .github/workflows/test.yml
  go-controller/pkg/clustermanager/network_cluster_controller.go
  go-controller/pkg/clustermanager/secondary_network_cluster_manager.go
  go-controller/pkg/network-attach-def-controller/network_attach_def_controller.go
  go-controller/pkg/network-attach-def-controller/network_attach_def_controller_test.go
  go-controller/pkg/network-controller-manager/node_network_controller_manager.go
  go-controller/pkg/node/default_node_network_controller.go
  go-controller/pkg/node/gateway.go
  go-controller/pkg/node/gateway_init.go
  go-controller/pkg/node/gateway_init_linux_test.go
  go-controller/pkg/node/gateway_localnet.go
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/node/gateway_udn.go
  go-controller/pkg/node/gateway_udn_test.go
  go-controller/pkg/node/ovn_test.go
  go-controller/pkg/node/secondary_node_network_controller.go
  go-controller/pkg/ovn/base_network_controller.go
  go-controller/pkg/ovn/default_network_controller.go
  go-controller/pkg/ovn/secondary_layer2_network_controller.go
  go-controller/pkg/ovn/secondary_layer3_network_controller.go
  go-controller/pkg/ovn/secondary_localnet_network_controller.go
  go-controller/pkg/testing/nad/netattach.go
  test/e2e/e2e.go
  test/e2e/egressip.go
  test/e2e/external_gateways.go
  test/e2e/localnet-underlay.go
  test/e2e/multi_node_zones_interconnect.go
  test/e2e/multicast.go
  test/e2e/network_segmentation_services.go
  test/e2e/node_ip_mac_migration.go
  test/e2e/pod.go
  test/e2e/service.go
  test/e2e/util.go
Labels: feature/egress-ip, area/unit-testing, area/e2e-testing, feature/services&endpoints, feature/egress-gateway, feature/user-defined-network-segmentation

#4801 Remove PreStart from NetworkController interface
  go-controller/pkg/clustermanager/network_cluster_controller.go
  go-controller/pkg/clustermanager/secondary_network_cluster_manager.go
  go-controller/pkg/network-attach-def-controller/network_attach_def_controller.go
  go-controller/pkg/network-attach-def-controller/network_attach_def_controller_test.go
  go-controller/pkg/network-controller-manager/node_network_controller_manager.go
  go-controller/pkg/node/secondary_node_network_controller.go
  go-controller/pkg/ovn/default_network_controller.go
  go-controller/pkg/ovn/secondary_layer2_network_controller.go
  go-controller/pkg/ovn/secondary_layer3_network_controller.go
  go-controller/pkg/ovn/secondary_localnet_network_controller.go
  go-controller/pkg/testing/nad/netattach.go
Labels: area/unit-testing

#4803 Remove 5hours of sleeping time from e2e
  test/e2e/multicast.go
Labels: kind/bug, area/e2e-testing, area/debugging, needs-backport

#4796 Suppress remote node annotation missing
  go-controller/pkg/ovn/zone_interconnect/zone_ic_handler.go
Labels: area/code-cleanup

#4777 UDN: L2: Add missing remote LRPs
  go-controller/pkg/clustermanager/network_cluster_controller.go
  go-controller/pkg/clustermanager/node/node_allocator.go
  go-controller/pkg/clustermanager/pod/allocator.go
  go-controller/pkg/network-controller-manager/node_network_controller_manager.go
  go-controller/pkg/node/secondary_node_network_controller.go
  go-controller/pkg/node/secondary_node_network_controller_test.go
  go-controller/pkg/ovn/base_network_controller_secondary.go
  go-controller/pkg/ovn/base_network_controller_secondary_test.go
  go-controller/pkg/ovn/default_network_controller.go
  go-controller/pkg/ovn/gateway.go
  go-controller/pkg/ovn/multihoming_test.go
  go-controller/pkg/ovn/secondary_layer2_network_controller.go
  go-controller/pkg/ovn/secondary_layer3_network_controller_test.go
  go-controller/pkg/ovn/zone_interconnect/zone_ic_handler.go
  go-controller/pkg/types/const.go
  go-controller/pkg/util/node_annotations.go
  go-controller/pkg/util/node_annotations_unit_test.go
  test/e2e/network_segmentation_services.go
Labels: do-not-merge/hold, area/unit-testing, area/e2e-testing, feature/user-defined-network-segmentation

#4751 Add hybird overlay pod IPs to the namespace address_set
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/pods_test.go
Labels: area/unit-testing

#4778 Fix incorrect removal of VRF device
  go-controller/hack/test-go.sh
  go-controller/pkg/node/vrfmanager/vrf_manager.go
  go-controller/pkg/node/vrfmanager/vrf_manager_test.go
Labels: kind/bug, area/unit-testing, feature/user-defined-network-segmentation

#4808 add single-stack ipv4 lane and correctCIDR family selection for udn network isolation testing
  .github/workflows/test.yml
  test/e2e/network_segmentation.go
  test/e2e/network_segmentation_services.go
Labels: area/e2e-testing

#4809 Dont modify pod routes in tests
  test/e2e/network_segmentation.go
Labels: area/e2e-testing, area/code-cleanup, feature/user-defined-network-segmentation

#4811 Adds startup probe to UDN e2e
  test/e2e/network_segmentation.go
Labels: area/e2e-testing, area/code-cleanup, feature/user-defined-network-segmentation

#4805 Enable IP forwarding on the UDN management interface
  .github/workflows/test.yml
  go-controller/pkg/node/gateway_udn.go
  go-controller/pkg/node/gateway_udn_test.go
  go-controller/pkg/node/secondary_node_network_controller_test.go
Labels: area/unit-testing, area/ci, feature/user-defined-network-segmentation

#4810 Only configure IPv6 RAs when ipv6 mode enabled
  go-controller/pkg/ovn/gateway.go
  go-controller/pkg/ovn/secondary_layer2_network_controller_test.go
  go-controller/pkg/ovn/secondary_layer3_network_controller_test.go
Labels: area/unit-testing, feature/kubevirt-live-migration
