Repository ovn-kubernetes/ovn-kubernetes, pull requests merged in 2024-12, with the labels that each got.

#4789 Ensure UDN namespace is configured when MultiNetPolicy is disabled
  go-controller/pkg/ovn/base_network_controller_secondary.go
  go-controller/pkg/ovn/multihoming_test.go
  go-controller/pkg/ovn/policy_test.go
  go-controller/pkg/ovn/secondary_layer2_network_controller_test.go
  go-controller/pkg/ovn/secondary_layer3_network_controller_test.go
Labels: kind/bug, area/unit-testing, feature/user-defined-network-segmentation

#4862 gateway_udn: Don't bail out early when waiting for UDN patch ports.
  go-controller/pkg/node/gateway_udn.go
Labels: kind/bug, feature/user-defined-network-segmentation

#4864 gateway: Access default net config under bridge lock.
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/node/gateway_udn.go
  go-controller/pkg/node/openflow_manager.go
Labels: kind/bug, feature/user-defined-network-segmentation

#4792 UDN: Support external to service in LGW
  go-controller/pkg/node/default_node_network_controller.go
  go-controller/pkg/node/gateway.go
  go-controller/pkg/node/gateway_init_linux_test.go
  go-controller/pkg/node/gateway_localnet_linux_test.go
  go-controller/pkg/node/gateway_nftables.go
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/node/gateway_udn.go
  go-controller/pkg/node/gateway_udn_test.go
  go-controller/pkg/node/openflow_manager.go
  go-controller/pkg/node/secondary_node_network_controller_test.go
  go-controller/pkg/node/vrfmanager/vrf_manager.go
  go-controller/pkg/ovn/gateway.go
  go-controller/pkg/ovn/gateway/gateway.go
  go-controller/pkg/ovn/secondary_layer2_network_controller_test.go
  go-controller/pkg/ovn/secondary_layer3_network_controller_test.go
  go-controller/pkg/util/util.go
  test/e2e/network_segmentation_services.go
Labels: area/unit-testing, area/e2e-testing, feature/services&endpoints, feature/user-defined-network-segmentation

#4848 Do not configure ports for host-networked pods in secondary networks
  go-controller/pkg/ovn/base_network_controller_secondary.go
Labels: kind/bug, feature/multi-networks

#4832 node network controller: Add CUDN check to GetActiveNetworkForNamespace
  go-controller/pkg/factory/mocks/NodeWatchFactory.go
  go-controller/pkg/factory/types.go
  go-controller/pkg/network-attach-def-controller/network_attach_def_controller.go
  go-controller/pkg/network-controller-manager/node_network_controller_manager_test.go
Labels: area/unit-testing, feature/user-defined-network-segmentation

#4661 crd, udn: Improve minimum MTU validations
  dist/templates/k8s.ovn.org_clusteruserdefinednetworks.yaml.j2
  dist/templates/k8s.ovn.org_userdefinednetworks.yaml.j2
  go-controller/pkg/crd/userdefinednetwork/v1/shared.go
Labels: area/e2e-testing, feature/user-defined-network-segmentation

#4824 docs, api-reference: Update UDN content
  docs/api-reference/userdefinednetwork-api-spec.md
Labels: kind/documentation, feature/user-defined-network-segmentation

#4853 Fix issues with ovnkube-identity pod deletion in kind clusters
  test/e2e/e2e.go
Labels: area/e2e-testing

#4812 nit fixes in docs
  docs/design/service-traffic-policy.md
  docs/features/network-security-controls/admin-network-policy.md
Labels: kind/documentation

#4637 Use libovsdb bindings for collecting ovs metrics
  go-controller/Makefile
  go-controller/cmd/ovn-kube-util/app/ovs-exporter.go
  go-controller/cmd/ovnkube/ovnkube.go
  go-controller/hack/update-modelgen.sh
  go-controller/pkg/libovsdb/libovsdb.go
  go-controller/pkg/libovsdb/ops/ovs/bridge.go
  go-controller/pkg/libovsdb/ops/ovs/interface.go
  go-controller/pkg/libovsdb/ops/ovs/openvswitch.go
  go-controller/pkg/metrics/metrics.go
  go-controller/pkg/metrics/ovn.go
  go-controller/pkg/metrics/ovs.go
  go-controller/pkg/metrics/ovs_test.go
  go-controller/pkg/testing/libovsdb/libovsdb.go
  go-controller/pkg/vswitchd/autoattach.go
  go-controller/pkg/vswitchd/bridge.go
  go-controller/pkg/vswitchd/controller.go
  go-controller/pkg/vswitchd/ct_timeout_policy.go
  go-controller/pkg/vswitchd/ct_zone.go
  go-controller/pkg/vswitchd/datapath.go
  go-controller/pkg/vswitchd/flow_sample_collector_set.go
  go-controller/pkg/vswitchd/flow_table.go
  go-controller/pkg/vswitchd/gen.go
  go-controller/pkg/vswitchd/interface.go
  go-controller/pkg/vswitchd/ipfix.go
  go-controller/pkg/vswitchd/manager.go
  go-controller/pkg/vswitchd/mirror.go
  go-controller/pkg/vswitchd/model.go
  go-controller/pkg/vswitchd/netflow.go
  go-controller/pkg/vswitchd/open_vswitch.go
  go-controller/pkg/vswitchd/port.go
  go-controller/pkg/vswitchd/qos.go
  go-controller/pkg/vswitchd/queue.go
  go-controller/pkg/vswitchd/sflow.go
  go-controller/pkg/vswitchd/ssl.go
  go-controller/pkg/vswitchd/vswitch.ovsschema
Labels: area/unit-testing

#4868 correctly remove stale EgressService rules at startup
  go-controller/pkg/node/controllers/egressservice/egressservice_node.go
  go-controller/pkg/node/egress_service_test.go
  go-controller/pkg/util/iptables.go
Labels: kind/bug, area/unit-testing, feature/egress-service

#4840 ip allocator: rename AllocateIPs method
  go-controller/pkg/allocator/ip/subnet/allocator.go
  go-controller/pkg/allocator/ip/subnet/allocator_test.go
  go-controller/pkg/clustermanager/pod/allocator_test.go
  go-controller/pkg/clustermanager/secondary_network_unit_test.go
  go-controller/pkg/ovn/logical_switch_manager/logical_switch_manager.go
  go-controller/pkg/persistentips/allocator_test.go
Labels: area/unit-testing

#4727 fixes overzealous deletion of SNAT in egressIP
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/egressip_test.go
  go-controller/pkg/ovn/pods_test.go
Labels: feature/egress-ip, area/unit-testing

#4873 e2e: Improve IGMP validation test with retries
  test/e2e/multicast.go
Labels: area/e2e-testing

#4472 Add base support for RouteAdvertisements CRD
  contrib/kind-common
  contrib/kind.sh
  dist/images/daemonset.sh
  dist/images/ovnkube.sh
  dist/templates/k8s.ovn.org_routeadvertisements.yaml.j2
  dist/templates/ovnkube-control-plane.yaml.j2
  dist/templates/ovnkube-master.yaml.j2
  dist/templates/ovnkube-node.yaml.j2
  dist/templates/ovnkube-single-node-zone.yaml.j2
  dist/templates/ovnkube-zone-controller.yaml.j2
  dist/templates/rbac-ovnkube-cluster-manager.yaml.j2
  dist/templates/rbac-ovnkube-master.yaml.j2
  dist/templates/rbac-ovnkube-node.yaml.j2
  go-controller/hack/update-codegen.sh
  go-controller/pkg/config/config.go
  go-controller/pkg/config/config_test.go
  go-controller/pkg/crd/routeadvertisements/v1/apis/applyconfiguration/internal/internal.go
  go-controller/pkg/crd/routeadvertisements/v1/apis/applyconfiguration/routeadvertisements/v1/advertisements.go
  go-controller/pkg/crd/routeadvertisements/v1/apis/applyconfiguration/routeadvertisements/v1/routeadvertisements.go
  go-controller/pkg/crd/routeadvertisements/v1/apis/applyconfiguration/routeadvertisements/v1/routeadvertisementsspec.go
  go-controller/pkg/crd/routeadvertisements/v1/apis/applyconfiguration/routeadvertisements/v1/routeadvertisementsstatus.go
  go-controller/pkg/crd/routeadvertisements/v1/apis/applyconfiguration/utils.go
  go-controller/pkg/crd/routeadvertisements/v1/apis/clientset/versioned/clientset.go
  go-controller/pkg/crd/routeadvertisements/v1/apis/clientset/versioned/fake/clientset_generated.go
  go-controller/pkg/crd/routeadvertisements/v1/apis/clientset/versioned/fake/doc.go
  go-controller/pkg/crd/routeadvertisements/v1/apis/clientset/versioned/fake/register.go
  go-controller/pkg/crd/routeadvertisements/v1/apis/clientset/versioned/scheme/doc.go
  go-controller/pkg/crd/routeadvertisements/v1/apis/clientset/versioned/scheme/register.go
  go-controller/pkg/crd/routeadvertisements/v1/apis/clientset/versioned/typed/routeadvertisements/v1/doc.go
  go-controller/pkg/crd/routeadvertisements/v1/apis/clientset/versioned/typed/routeadvertisements/v1/fake/doc.go
  go-controller/pkg/crd/routeadvertisements/v1/apis/clientset/versioned/typed/routeadvertisements/v1/fake/fake_routeadvertisements.go
  go-controller/pkg/crd/routeadvertisements/v1/apis/clientset/versioned/typed/routeadvertisements/v1/fake/fake_routeadvertisements_client.go
  go-controller/pkg/crd/routeadvertisements/v1/apis/clientset/versioned/typed/routeadvertisements/v1/generated_expansion.go
  go-controller/pkg/crd/routeadvertisements/v1/apis/clientset/versioned/typed/routeadvertisements/v1/routeadvertisements.go
  go-controller/pkg/crd/routeadvertisements/v1/apis/clientset/versioned/typed/routeadvertisements/v1/routeadvertisements_client.go
  go-controller/pkg/crd/routeadvertisements/v1/apis/informers/externalversions/factory.go
  go-controller/pkg/crd/routeadvertisements/v1/apis/informers/externalversions/generic.go
  go-controller/pkg/crd/routeadvertisements/v1/apis/informers/externalversions/internalinterfaces/factory_interfaces.go
  go-controller/pkg/crd/routeadvertisements/v1/apis/informers/externalversions/routeadvertisements/interface.go
  go-controller/pkg/crd/routeadvertisements/v1/apis/informers/externalversions/routeadvertisements/v1/interface.go
  go-controller/pkg/crd/routeadvertisements/v1/apis/informers/externalversions/routeadvertisements/v1/routeadvertisements.go
  go-controller/pkg/crd/routeadvertisements/v1/apis/listers/routeadvertisements/v1/expansion_generated.go
  go-controller/pkg/crd/routeadvertisements/v1/apis/listers/routeadvertisements/v1/routeadvertisements.go
  go-controller/pkg/crd/routeadvertisements/v1/doc.go
  go-controller/pkg/crd/routeadvertisements/v1/register.go
  go-controller/pkg/crd/routeadvertisements/v1/types.go
  go-controller/pkg/crd/routeadvertisements/v1/zz_generated.deepcopy.go
  go-controller/pkg/crd/userdefinednetwork/v1/shared.go
  go-controller/pkg/factory/factory.go
  go-controller/pkg/factory/mocks/NodeWatchFactory.go
  go-controller/pkg/factory/types.go
  go-controller/pkg/types/const.go
  go-controller/pkg/util/fake_client.go
  go-controller/pkg/util/kube.go
  go-controller/pkg/util/multi_network.go
Labels: kind/documentation, area/unit-testing, area/e2e-testing, kind/feature, feature/admin-network-policy, feature/egress-service, feature/services&endpoints, feature/kubevirt-live-migration, feature/egress-gateway, feature/egress-firewall, feature/bgp, feature/egress-qos

#4882 Calculates mgmt port MAC rather than storing
  go-controller/cmd/ovnkube-trace/ovnkube-trace.go
  go-controller/pkg/node/gateway_udn.go
  go-controller/pkg/node/gateway_udn_test.go
  go-controller/pkg/node/management-port-dpu.go
  go-controller/pkg/node/management-port.go
  go-controller/pkg/node/management-port_linux_test.go
  go-controller/pkg/node/secondary_node_network_controller_test.go
  go-controller/pkg/ovn/base_network_controller.go
  go-controller/pkg/ovn/base_network_controller_secondary.go
  go-controller/pkg/ovn/egressfirewall_test.go
  go-controller/pkg/ovn/multihoming_test.go
  go-controller/pkg/ovn/secondary_layer3_network_controller_test.go
Labels: area/unit-testing, feature/egress-firewall

#4771 Improves pod deletion with user defined networks
  go-controller/pkg/ovn/base_network_controller_secondary.go
Labels: kind/bug, feature/user-defined-network-segmentation

#4902 UDN Gateway: Ignore EndpointSlices without a service label
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/util/util.go
  go-controller/pkg/util/util_unit_test.go
Labels: kind/bug, area/unit-testing, feature/services&endpoints, feature/user-defined-network-segmentation

#4906 fix flaky VM live migration e2e case
  test/e2e/kubevirt.go
Labels: area/e2e-testing, feature/kubevirt-live-migration

#4907 Add EgressIP E2Es to Net Seg lanes
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/ovn/egressip.go
  test/e2e/egressip.go
Labels: feature/egress-ip, area/unit-testing, area/e2e-testing

#4572 SDN-5139: Direct ingress for default network in LGW mode with route advertisements
  go-controller/pkg/node/default_node_network_controller.go
  go-controller/pkg/node/gateway.go
  go-controller/pkg/node/gateway_init_linux_test.go
  go-controller/pkg/node/gateway_iptables.go
  go-controller/pkg/node/gateway_localnet_linux_test.go
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/node/gateway_udn_test.go
  go-controller/pkg/node/management-port-dpu.go
  go-controller/pkg/node/management-port.go
  go-controller/pkg/node/management-port_dpu_test.go
  go-controller/pkg/node/management-port_linux.go
  go-controller/pkg/node/management-port_linux_test.go
  go-controller/pkg/node/node_ip_handler_linux_test.go
Labels: kind/documentation, feature/egress-ip, area/unit-testing, area/e2e-testing, feature/admin-network-policy, feature/egress-service, feature/services&endpoints, feature/kubevirt-live-migration, feature/egress-gateway, feature/egress-firewall, feature/bgp, feature/egress-qos

#4924 Ensure only ginkgo v2 for DescribeTable support
  go-controller/pkg/ovn/controller/egressservice/egressservice_zone_node.go
  go-controller/pkg/ovn/egressip_test.go
  go-controller/pkg/ovn/egressservices_test.go
  go-controller/pkg/ovn/external_ids_syncer/logical_router_policy/logical_router_policy_sync_test.go
  go-controller/pkg/ovn/external_ids_syncer/nat/nat_sync_test.go
  go-controller/pkg/ovn/ovn_test.go
  go-controller/vendor/github.com/onsi/ginkgo/LICENSE
  go-controller/vendor/github.com/onsi/ginkgo/config/config.go
  go-controller/vendor/github.com/onsi/ginkgo/extensions/table/table.go
  go-controller/vendor/github.com/onsi/ginkgo/extensions/table/table_entry.go
  go-controller/vendor/github.com/onsi/ginkgo/formatter/formatter.go
  go-controller/vendor/github.com/onsi/ginkgo/internal/codelocation/code_location.go
  go-controller/vendor/github.com/onsi/ginkgo/internal/containernode/container_node.go
  go-controller/vendor/github.com/onsi/ginkgo/internal/failer/failer.go
  go-controller/vendor/github.com/onsi/ginkgo/internal/global/init.go
  go-controller/vendor/github.com/onsi/ginkgo/internal/leafnodes/benchmarker.go
  go-controller/vendor/github.com/onsi/ginkgo/internal/leafnodes/interfaces.go
  go-controller/vendor/github.com/onsi/ginkgo/internal/leafnodes/it_node.go
  go-controller/vendor/github.com/onsi/ginkgo/internal/leafnodes/measure_node.go
  go-controller/vendor/github.com/onsi/ginkgo/internal/leafnodes/runner.go
  go-controller/vendor/github.com/onsi/ginkgo/internal/leafnodes/setup_nodes.go
  go-controller/vendor/github.com/onsi/ginkgo/internal/leafnodes/suite_nodes.go
  go-controller/vendor/github.com/onsi/ginkgo/internal/leafnodes/synchronized_after_suite_node.go
  go-controller/vendor/github.com/onsi/ginkgo/internal/leafnodes/synchronized_before_suite_node.go
  go-controller/vendor/github.com/onsi/ginkgo/internal/spec/spec.go
  go-controller/vendor/github.com/onsi/ginkgo/internal/spec/specs.go
  go-controller/vendor/github.com/onsi/ginkgo/internal/spec_iterator/index_computer.go
  go-controller/vendor/github.com/onsi/ginkgo/internal/spec_iterator/parallel_spec_iterator.go
  go-controller/vendor/github.com/onsi/ginkgo/internal/spec_iterator/serial_spec_iterator.go
  go-controller/vendor/github.com/onsi/ginkgo/internal/spec_iterator/sharded_parallel_spec_iterator.go
  go-controller/vendor/github.com/onsi/ginkgo/internal/spec_iterator/spec_iterator.go
  go-controller/vendor/github.com/onsi/ginkgo/internal/specrunner/random_id.go
  go-controller/vendor/github.com/onsi/ginkgo/internal/specrunner/spec_runner.go
  go-controller/vendor/github.com/onsi/ginkgo/internal/suite/suite.go
  go-controller/vendor/github.com/onsi/ginkgo/internal/writer/fake_writer.go
  go-controller/vendor/github.com/onsi/ginkgo/internal/writer/writer.go
  go-controller/vendor/github.com/onsi/ginkgo/reporters/default_reporter.go
  go-controller/vendor/github.com/onsi/ginkgo/reporters/fake_reporter.go
  go-controller/vendor/github.com/onsi/ginkgo/reporters/junit_reporter.go
  go-controller/vendor/github.com/onsi/ginkgo/reporters/reporter.go
  go-controller/vendor/github.com/onsi/ginkgo/reporters/stenographer/console_logging.go
  go-controller/vendor/github.com/onsi/ginkgo/reporters/stenographer/fake_stenographer.go
  go-controller/vendor/github.com/onsi/ginkgo/reporters/stenographer/stenographer.go
  go-controller/vendor/github.com/onsi/ginkgo/reporters/teamcity_reporter.go
  go-controller/vendor/github.com/onsi/ginkgo/types/code_location.go
  go-controller/vendor/github.com/onsi/ginkgo/types/deprecation_support.go
  go-controller/vendor/github.com/onsi/ginkgo/types/synchronization.go
  go-controller/vendor/github.com/onsi/ginkgo/types/types.go
  test/e2e/egressip.go
Labels: feature/egress-ip, area/unit-testing, area/e2e-testing, feature/egress-service

#4918 Remove service from cache on add failure
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/ovn/controller/services/services_controller.go
Labels: kind/bug, area/e2e-testing, feature/services&endpoints, feature/user-defined-network-segmentation

#4930 udn host isolation: fix initialSync.
  go-controller/pkg/node/udn_isolation.go
  go-controller/pkg/node/udn_isolation_test.go
Labels: kind/bug, area/unit-testing, feature/user-defined-network-segmentation

#4680 Do not update EncapIP if it is configured
  go-controller/pkg/config/config.go
  go-controller/pkg/node/default_node_network_controller.go
  go-controller/pkg/node/default_node_network_controller_test.go
  go-controller/pkg/node/node_ip_handler_linux.go
Labels: area/unit-testing, area/gateway
