Repository ovn-kubernetes/ovn-kubernetes, pull requests merged in 2024-11, with the labels that each got.

#4755 e2e flake fix: kubevirt
  test/e2e/kubevirt.go
Labels: area/e2e-testing, feature/kubevirt-live-migration

#4814 change PR template to be checklist
  .github/PULL_REQUEST_TEMPLATE.md
Labels: kind/documentation

#4612 Network API: Add CRD for managing cluster scope networks
  contrib/kind.sh
  dist/images/daemonset.sh
  dist/templates/k8s.ovn.org_clusteruserdefinednetworks.yaml.j2
  dist/templates/rbac-ovnkube-cluster-manager.yaml.j2
  dist/templates/rbac-ovnkube-master.yaml.j2
  dist/templates/rbac-ovnkube-node.yaml.j2
  go-controller/hack/update-codegen.sh
  go-controller/pkg/clustermanager/clustermanager.go
  go-controller/pkg/clustermanager/userdefinednetwork/controller.go
  go-controller/pkg/clustermanager/userdefinednetwork/controller_helper.go
  go-controller/pkg/clustermanager/userdefinednetwork/controller_test.go
  go-controller/pkg/clustermanager/userdefinednetwork/nad.go
  go-controller/pkg/clustermanager/userdefinednetwork/nad_test.go
  go-controller/pkg/clustermanager/userdefinednetwork/notifier/namespace.go
  go-controller/pkg/clustermanager/userdefinednetwork/notifier/namespace_test.go
  go-controller/pkg/clustermanager/userdefinednetwork/notifier/net-attach-def.go
  go-controller/pkg/clustermanager/userdefinednetwork/notifier/notifier_suite_test.go
  go-controller/pkg/clustermanager/userdefinednetwork/template/net-attach-def-template.go
  go-controller/pkg/clustermanager/userdefinednetwork/template/net-attach-def-template_suite_test.go
  go-controller/pkg/clustermanager/userdefinednetwork/template/net-attach-def-template_test.go
  go-controller/pkg/crd/userdefinednetwork/v1/apis/applyconfiguration/userdefinednetwork/v1/clusteruserdefinednetwork.go
  go-controller/pkg/crd/userdefinednetwork/v1/apis/applyconfiguration/userdefinednetwork/v1/clusteruserdefinednetworkspec.go
  go-controller/pkg/crd/userdefinednetwork/v1/apis/applyconfiguration/userdefinednetwork/v1/clusteruserdefinednetworkstatus.go
  go-controller/pkg/crd/userdefinednetwork/v1/apis/applyconfiguration/userdefinednetwork/v1/networkspec.go
  go-controller/pkg/crd/userdefinednetwork/v1/apis/applyconfiguration/utils.go
  go-controller/pkg/crd/userdefinednetwork/v1/apis/clientset/versioned/typed/userdefinednetwork/v1/clusteruserdefinednetwork.go
  go-controller/pkg/crd/userdefinednetwork/v1/apis/clientset/versioned/typed/userdefinednetwork/v1/fake/fake_clusteruserdefinednetwork.go
  go-controller/pkg/crd/userdefinednetwork/v1/apis/clientset/versioned/typed/userdefinednetwork/v1/fake/fake_userdefinednetwork_client.go
  go-controller/pkg/crd/userdefinednetwork/v1/apis/clientset/versioned/typed/userdefinednetwork/v1/generated_expansion.go
  go-controller/pkg/crd/userdefinednetwork/v1/apis/clientset/versioned/typed/userdefinednetwork/v1/userdefinednetwork_client.go
  go-controller/pkg/crd/userdefinednetwork/v1/apis/informers/externalversions/generic.go
  go-controller/pkg/crd/userdefinednetwork/v1/apis/informers/externalversions/userdefinednetwork/v1/clusteruserdefinednetwork.go
  go-controller/pkg/crd/userdefinednetwork/v1/apis/informers/externalversions/userdefinednetwork/v1/interface.go
  go-controller/pkg/crd/userdefinednetwork/v1/apis/listers/userdefinednetwork/v1/clusteruserdefinednetwork.go
  go-controller/pkg/crd/userdefinednetwork/v1/apis/listers/userdefinednetwork/v1/expansion_generated.go
  go-controller/pkg/crd/userdefinednetwork/v1/cudn.go
  go-controller/pkg/crd/userdefinednetwork/v1/register.go
  go-controller/pkg/crd/userdefinednetwork/v1/shared.go
  go-controller/pkg/crd/userdefinednetwork/v1/spec.go
  go-controller/pkg/crd/userdefinednetwork/v1/udn.go
  go-controller/pkg/crd/userdefinednetwork/v1/zz_generated.deepcopy.go
  go-controller/pkg/factory/factory.go
  go-controller/pkg/factory/handler.go
  go-controller/pkg/network-attach-def-controller/network_attach_def_controller.go
  go-controller/pkg/util/fake_client.go
  go-controller/pkg/util/multi_network.go
  go-controller/pkg/util/udn/udn.go
  go-controller/pkg/util/udn/udn_suite_test.go
  go-controller/pkg/util/udn/udn_test.go
  test/e2e/network_segmentation.go
Labels: area/unit-testing, area/e2e-testing, feature/user-defined-network-segmentation

#4820 Repo migration fixes
  .github/ISSUE_TEMPLATE/bug-report.yaml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/docker.yml
  .github/workflows/test.yml
Labels: kind/documentation

#4827 Fix Panic in ClusterManager: Release IDs only for Primary L2 UDNs
  go-controller/pkg/clustermanager/node/node_allocator.go
Labels: kind/bug, feature/user-defined-network-segmentation

#4825 Fixes unexpected mp0 route removal during start up
  go-controller/pkg/node/management-port_linux.go
  go-controller/pkg/util/net_linux.go
  go-controller/pkg/util/net_linux_unit_test.go
Labels: area/unit-testing

#4819 UDN: L2: Fix router ip on multiple networks set on LRP case
  go-controller/pkg/ovn/gateway.go
  go-controller/pkg/ovn/secondary_layer2_network_controller.go
  go-controller/pkg/ovn/secondary_layer2_network_controller_test.go
  go-controller/pkg/ovn/secondary_layer3_network_controller.go
  test/e2e/network_segmentation_services.go
Labels: area/unit-testing, area/e2e-testing

#4823 ipam: Fix init flow in case there are sticky ips in the system
  go-controller/pkg/allocator/ip/subnet/allocator_test.go
  go-controller/pkg/clustermanager/secondary_network_unit_test.go
  go-controller/pkg/persistentips/allocator.go
  go-controller/pkg/persistentips/allocator_test.go
Labels: area/unit-testing

#3709 port management-port-related iptables code to nftables
  dist/images/Dockerfile.fedora
  dist/images/Dockerfile.fedora.dev
  dist/images/Dockerfile.ubuntu
  go-controller/go.mod
  go-controller/go.sum
  go-controller/pkg/node/gateway_init.go
  go-controller/pkg/node/gateway_init_linux_test.go
  go-controller/pkg/node/gateway_iptables.go
  go-controller/pkg/node/gateway_localnet_linux_test.go
  go-controller/pkg/node/gateway_nftables.go
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/node/gateway_udn_test.go
  go-controller/pkg/node/management-port_linux.go
  go-controller/pkg/node/management-port_linux_test.go
  go-controller/pkg/node/nftables/helpers.go
  go-controller/pkg/node/nftables/testing.go
  go-controller/pkg/node/nftables/util.go
  go-controller/pkg/node/node_ip_handler_linux_test.go
  go-controller/vendor/modules.txt
  go-controller/vendor/sigs.k8s.io/knftables/.gitignore
  go-controller/vendor/sigs.k8s.io/knftables/CHANGELOG.md
  go-controller/vendor/sigs.k8s.io/knftables/CONTRIBUTING.md
  go-controller/vendor/sigs.k8s.io/knftables/LICENSE
  go-controller/vendor/sigs.k8s.io/knftables/Makefile
  go-controller/vendor/sigs.k8s.io/knftables/OWNERS
  go-controller/vendor/sigs.k8s.io/knftables/README.md
  go-controller/vendor/sigs.k8s.io/knftables/SECURITY_CONTACTS
  go-controller/vendor/sigs.k8s.io/knftables/code-of-conduct.md
  go-controller/vendor/sigs.k8s.io/knftables/error.go
  go-controller/vendor/sigs.k8s.io/knftables/exec.go
  go-controller/vendor/sigs.k8s.io/knftables/fake.go
  go-controller/vendor/sigs.k8s.io/knftables/nftables.go
  go-controller/vendor/sigs.k8s.io/knftables/objects.go
  go-controller/vendor/sigs.k8s.io/knftables/transaction.go
  go-controller/vendor/sigs.k8s.io/knftables/types.go
  go-controller/vendor/sigs.k8s.io/knftables/util.go
  test/e2e/service.go
  test/e2e/util.go
  test/scripts/install-kind.sh
Labels: kind/documentation, area/unit-testing, area/e2e-testing, feature/services&endpoints

#4828 NAD validations: Fix typo in error message
  go-controller/pkg/util/multi_network.go
  go-controller/pkg/util/multi_network_test.go
Labels: area/unit-testing, area/code-cleanup, feature/user-defined-network-segmentation

#4815 cluster manager, tests: ignore topology not managed errors
  go-controller/pkg/clustermanager/secondary_network_unit_test.go
  go-controller/pkg/network-attach-def-controller/network_attach_def_controller_test.go
Labels: area/unit-testing, feature/multi-networks

#4843 Fix predicate for cluster subnet route to gateway router
  go-controller/pkg/libovsdb/util/router.go
  go-controller/pkg/libovsdb/util/router_test.go
  go-controller/pkg/util/kube.go
Labels: kind/bug, area/unit-testing

#4797 Add support for multicast in user defined networks.
  .github/workflows/test.yml
  go-controller/pkg/ovn/base_network_controller.go
  go-controller/pkg/ovn/base_network_controller_multicast.go
  go-controller/pkg/ovn/base_network_controller_policy.go
  go-controller/pkg/ovn/base_network_controller_secondary.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/master_test.go
  go-controller/pkg/ovn/multicast_test.go
  go-controller/pkg/ovn/multihoming_test.go
  go-controller/pkg/ovn/namespace.go
  go-controller/pkg/ovn/namespace_test.go
  go-controller/pkg/ovn/pods_test.go
  go-controller/pkg/ovn/policy_stale_test.go
  go-controller/pkg/ovn/secondary_layer2_network_controller.go
  go-controller/pkg/ovn/secondary_layer2_network_controller_test.go
  go-controller/pkg/ovn/secondary_layer3_network_controller.go
  go-controller/pkg/ovn/secondary_layer3_network_controller_test.go
  test/e2e/multicast.go
  test/e2e/network_segmentation.go
  test/scripts/e2e-cp.sh
Labels: area/unit-testing, area/e2e-testing, feature/user-defined-network-segmentation, feature/multicast

#4830 udn controller, tests: Fix flake where pods not exist yet
  go-controller/pkg/clustermanager/userdefinednetwork/controller_test.go
Labels: area/unit-testing, feature/user-defined-network-segmentation
