Repository ovn-kubernetes/ovn-kubernetes, pull requests merged in 2024-05, with the labels that each got.

#4302 Follow up fix how detect any network following lib change
  go-controller/pkg/util/net_linux.go
  go-controller/pkg/util/nicstobridge.go
Labels: egress-ip, gateway

#4267 OVS Process metrics cannot be collected through the PID file location
  go-controller/pkg/metrics/ovs.go
Labels: kind/bug, metrics

#4317 Update ovnkube_clustermanager_allocated_v4_host_subnets metric during add/delete node event
  dist/templates/ovnkube-alerts.yaml.j2
  go-controller/pkg/clustermanager/node/node_allocator.go
  go-controller/pkg/metrics/cluster_manager.go
  helm/ovn-kubernetes/templates/ovnkube-alerts.yaml
Labels: alerts

#4305 check disk usage before and after 'Run Tests' step
  .github/actions/diagnostics/action.yml
  .github/workflows/test.yml
Labels: ci, debugging

#4312 Fix templates for issues/prs in OVN Kubernetes
  .github/ISSUE_TEMPLATE/bug-report.yaml
  .github/ISSUE_TEMPLATE/documentation.yaml
  .github/ISSUE_TEMPLATE/e2e-testing.yaml
  .github/ISSUE_TEMPLATE/enhancement.yaml
  .github/ISSUE_TEMPLATE/flaking-test.yaml
  .github/ISSUE_TEMPLATE/generic-issue.yaml
  .github/ISSUE_TEMPLATE/support.yaml
  .github/ISSUE_TEMPLATE/unit-testing.yaml
  .github/PULL_REQUEST_TEMPLATE.md
Labels: community

#4331 Enables scaling worker nodes in KIND cluster
  contrib/kind.sh
Labels: scale/performance

#3973 Remove ginkgo deprecated APIs from e2e test
  test/e2e/e2e_suite_test.go
  test/scripts/conformance.sh
  test/scripts/e2e-cp.sh
  test/scripts/upgrade-ovn.sh
Labels: e2e-testing, ci

#4313 Fix README.md
  README.md
  README_MANUAL.md
  docs/stylesheets/extra.css
Labels: kind/documentation, community

#4248 Add Rule count metrics for (B)ANP feature
  go-controller/pkg/ovn/controller/admin_network_policy/admin_network_policy_controller.go
  go-controller/pkg/ovn/controller/admin_network_policy/metrics.go
Labels: kind/feature, admin-network-policy, metrics

#4265 Add support for EgressIP and ExternalTrafficPolicy=Local to coexist
  dist/images/Dockerfile.fedora
  dist/images/Dockerfile.fedora.dev
  go-controller/Makefile
  go-controller/pkg/libovsdb/libovsdb.go
  go-controller/pkg/libovsdb/ops/db_object_ids.go
  go-controller/pkg/libovsdb/ops/db_object_types.go
  go-controller/pkg/libovsdb/ops/model.go
  go-controller/pkg/libovsdb/ops/qos.go
  go-controller/pkg/nbdb/dns.go
  go-controller/pkg/nbdb/logical_router_policy.go
  go-controller/pkg/nbdb/logical_router_port.go
  go-controller/pkg/nbdb/model.go
  go-controller/pkg/nbdb/qos.go
  go-controller/pkg/ovn/address_set/address_set.go
  go-controller/pkg/ovn/controller/admin_network_policy/repair_test.go
  go-controller/pkg/ovn/default_network_controller.go
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/egressip_test.go
  go-controller/pkg/ovn/egressqos.go
  go-controller/pkg/ovn/egressqos_test.go
  go-controller/pkg/ovn/egressservices_test.go
  go-controller/pkg/ovn/external_ids_syncer/address_set/address_set_sync.go
  go-controller/pkg/ovn/external_ids_syncer/address_set/address_set_sync_test.go
  go-controller/pkg/sbdb/bfd.go
  go-controller/pkg/sbdb/dhcpv6_options.go
  go-controller/pkg/sbdb/dns.go
  go-controller/pkg/sbdb/fdb.go
  go-controller/pkg/sbdb/igmp_group.go
  go-controller/pkg/sbdb/load_balancer.go
  go-controller/pkg/sbdb/model.go
  go-controller/pkg/sbdb/service_monitor.go
  go-controller/pkg/types/const.go
  test/e2e/egressip.go
  test/e2e/service.go
Labels: egress-ip, kind/feature, services/endpoints

#4303 Move parts of kind.sh into kind-common
  .github/workflows/test.yml
  contrib/kind-common
  contrib/kind-helm.sh
  contrib/kind.sh
  helm/ovn-kubernetes/values.yaml
  test/scripts/e2e-cp.sh
Labels: code-cleanup, installation

#4355 Add feature doc template
  .github/ISSUE_TEMPLATE/bug-report.yaml
  .github/ISSUE_TEMPLATE/flaking-test.yaml
  dist/images/Dockerfile.ubuntu
  docs/design/architecture.md
  docs/design/external-ip-and-loadbalancer-ingress.md
  docs/design/topology.md
  docs/features/cluster-egress-controls/egress-ip.md
  docs/features/template.md
  docs/index.md
  mkdocs.yml
Labels: kind/documentation

#4296 host-networked pod backed cluster service not accesible on same node if
  go-controller/pkg/ovn/controller/services/lb_config.go
  go-controller/pkg/ovn/controller/services/node_tracker.go
  go-controller/pkg/ovn/gateway_init.go
Labels: services/endpoints

#4258 Refactor NetworkController.Cleanup
  go-controller/pkg/clustermanager/network_cluster_controller.go
  go-controller/pkg/clustermanager/node/node_allocator.go
  go-controller/pkg/clustermanager/secondary_network_cluster_manager.go
  go-controller/pkg/network-attach-def-controller/network_attach_def_controller.go
  go-controller/pkg/network-controller-manager/network_controller_manager.go
  go-controller/pkg/node/secondary_node_network_controller.go
  go-controller/pkg/ovn/base_secondary_layer2_network_controller.go
  go-controller/pkg/ovn/secondary_layer2_network_controller.go
  go-controller/pkg/ovn/secondary_layer3_network_controller.go
  go-controller/pkg/ovn/secondary_localnet_network_controller.go
Labels: multi-networks, code-cleanup

#4374 Fix meetings relative link in readme
  README.md
Labels: kind/documentation, community

#4378 Bump the go version for the container running the unit tests
  go-controller/Makefile
Labels: good first issue, unit-testing

#4261 Add nb-connection-status & sb-connection-status metrics for ovn-northd
  go-controller/pkg/metrics/ovn_northd.go
Labels: kind/feature, metrics

#4386 dns: fix deadlock in case of error
  go-controller/pkg/ovn/dns_name_resolver/dns.go
Labels: kind/bug, egress-firewall

#4383 Fixes waiting for level-driven informers to stop
  go-controller/pkg/factory/factory.go
Labels: kind/bug

#4403 Add github actions for stale issues
  .github/workflows/stale-action.yml
Labels: area/community

#4391 Fix ICMP MEG Ingress e2es
  test/e2e/external_gateways.go
Labels: area/e2e-testing, feature/egress-gateway

#4404 Add labeler workflow for PRs
  .github/pr-labeler.yml
Labels: area/community

#4407 Unskip OVS CPU affinity pinning E2Es for IPv6
  test/scripts/e2e-cp.sh
Labels: ci-ipv6, area/e2e-testing

#4395 Add adopters
  ADOPTERS.md
  FAQ.md
  README.md
Labels: area/community
