Repository ovn-kubernetes/ovn-kubernetes, pull requests merged in 2024-03, with the labels that each got.

#4215 Fix multihoming docs
  docs/multi-homing.md
Labels: documentation

#4201 Fix and enable MetalLB service tests for LGW mode with IPv6
  contrib/kind.sh
  test/e2e/service.go
  test/e2e/util.go
  test/scripts/e2e-cp.sh
Labels: e2e-testing, core-kubernetes

#4205 Fix and enable MetalLB service tests for Shared mode with IPv6
  test/e2e/service.go
  test/scripts/e2e-cp.sh
Labels: e2e-testing, core-kubernetes

#4210 Fix EgressIP initialization on IPv6 LGW clusters
  go-controller/pkg/node/controllers/egressip/egressip.go
  test/scripts/e2e-cp.sh
Labels: bug, egress-ip

#4158 Update EgressQoS with status
  dist/images/ovnkube.sh
  dist/templates/k8s.ovn.org_egressqoses.yaml.j2
  dist/templates/rbac-ovnkube-cluster-manager.yaml.j2
  dist/templates/rbac-ovnkube-master.yaml.j2
  dist/templates/rbac-ovnkube-node.yaml.j2
  go-controller/pkg/clustermanager/status_manager/egressqos_manager.go
  go-controller/pkg/clustermanager/status_manager/status_manager.go
  go-controller/pkg/clustermanager/status_manager/status_manager_test.go
  go-controller/pkg/crd/egressqos/v1/apis/applyconfiguration/egressqos/v1/egressqos.go
  go-controller/pkg/crd/egressqos/v1/apis/applyconfiguration/egressqos/v1/egressqosstatus.go
  go-controller/pkg/crd/egressqos/v1/apis/applyconfiguration/utils.go
  go-controller/pkg/crd/egressqos/v1/types.go
  go-controller/pkg/crd/egressqos/v1/zz_generated.deepcopy.go
  go-controller/pkg/factory/factory.go
  go-controller/pkg/kube/kube.go
  go-controller/pkg/network-controller-manager/network_controller_manager.go
  go-controller/pkg/ovn/egressqos.go
  go-controller/pkg/ovn/egressqos_test.go
  go-controller/pkg/ovn/ovn_test.go
  go-controller/pkg/types/resource_status.go
  go-controller/pkg/util/kube.go
  test/e2e/egressqos.go
Labels: feature, egress-qos

#4233 ANP: Fix PortRange typo
  go-controller/pkg/ovn/admin_network_policy_test.go
  go-controller/pkg/ovn/controller/admin_network_policy/types.go
Labels: bug, admin-network-policy

#4226 remove test_periodic workflow
  .github/workflows/test_periodic.yml
Labels: code-cleanup, ci

#4224 kubevirt, e2e: Fill in the http server pods slice
  test/e2e/kubevirt.go
Labels: e2e-testing, kubevirt

#4178 ANP: Support ACL logging
  go-controller/pkg/libovsdb/util/acl.go
  go-controller/pkg/ovn/admin_network_policy_test.go
  go-controller/pkg/ovn/baseline_admin_network_policy_test.go
  go-controller/pkg/ovn/controller/admin_network_policy/admin_network_policy.go
  go-controller/pkg/ovn/controller/admin_network_policy/admin_network_policy_controller.go
  go-controller/pkg/ovn/controller/admin_network_policy/types.go
  go-controller/pkg/ovn/controller/admin_network_policy/utils.go
  go-controller/pkg/ovn/controller/admin_network_policy/utils_test.go
  test/e2e/acl_logging.go
Labels: feature, admin-network-policy

#4244 Fix-flake: ACLlogging ANP/BANP test
  test/e2e/acl_logging.go
  test/e2e/util.go
Labels: ci-flake, e2e-testing, admin-network-policy

#4154 ipv6+all protocols conntrack flush
  go-controller/go.mod
  go-controller/go.sum
  go-controller/pkg/node/default_node_network_controller.go
  go-controller/pkg/ovn/controller/apbroute/network_client.go
  go-controller/pkg/ovn/egressgw.go
  go-controller/pkg/util/external_gw_conntrack.go
  go-controller/vendor/github.com/mdlayher/ndp/.gitignore
  go-controller/vendor/github.com/mdlayher/ndp/CHANGELOG.md
  go-controller/vendor/github.com/mdlayher/ndp/LICENSE.md
  go-controller/vendor/github.com/mdlayher/ndp/README.md
  go-controller/vendor/github.com/mdlayher/ndp/addr.go
  go-controller/vendor/github.com/mdlayher/ndp/conn.go
  go-controller/vendor/github.com/mdlayher/ndp/doc.go
  go-controller/vendor/github.com/mdlayher/ndp/fuzz.go
  go-controller/vendor/github.com/mdlayher/ndp/gofuzz.go
  go-controller/vendor/github.com/mdlayher/ndp/message.go
  go-controller/vendor/github.com/mdlayher/ndp/option.go
  go-controller/vendor/github.com/mdlayher/ndp/string.go
  go-controller/vendor/golang.org/x/net/icmp/dstunreach.go
  go-controller/vendor/golang.org/x/net/icmp/echo.go
  go-controller/vendor/golang.org/x/net/icmp/endpoint.go
  go-controller/vendor/golang.org/x/net/icmp/extension.go
  go-controller/vendor/golang.org/x/net/icmp/helper_posix.go
  go-controller/vendor/golang.org/x/net/icmp/interface.go
  go-controller/vendor/golang.org/x/net/icmp/ipv4.go
  go-controller/vendor/golang.org/x/net/icmp/ipv6.go
  go-controller/vendor/golang.org/x/net/icmp/listen_posix.go
  go-controller/vendor/golang.org/x/net/icmp/listen_stub.go
  go-controller/vendor/golang.org/x/net/icmp/message.go
  go-controller/vendor/golang.org/x/net/icmp/messagebody.go
  go-controller/vendor/golang.org/x/net/icmp/mpls.go
  go-controller/vendor/golang.org/x/net/icmp/multipart.go
  go-controller/vendor/golang.org/x/net/icmp/packettoobig.go
  go-controller/vendor/golang.org/x/net/icmp/paramprob.go
  go-controller/vendor/golang.org/x/net/icmp/sys_freebsd.go
  go-controller/vendor/golang.org/x/net/icmp/timeexceeded.go
  go-controller/vendor/modules.txt
  test/e2e/external_gateways.go
Labels: core-networking, admin-policy-based-route

#4243 e2e tests: Refactor multihoming tests
  test/e2e/multihoming.go
Labels: e2e-testing, multi-networks
