Repository ovn-kubernetes/ovn-kubernetes, pull requests merged in 2024-07, with the labels that each got.

#4393 e2e flake fix: Fixes race in e2e ACL logging
  test/e2e/acl_logging.go
Labels: area/e2e-testing

#4487 e2e, udn: Exclude ipv6 gateway address
  test/e2e/network_segmentation.go
Labels: area/e2e-testing, feature/user-defined-network-segmentation

#4490 Change `primaryNetwork` boolean to `role` type in NAD config
  go-controller/pkg/allocator/pod/pod_annotation.go
  go-controller/pkg/allocator/pod/pod_annotation_test.go
  go-controller/pkg/clustermanager/pod/allocator.go
  go-controller/pkg/cni/types/types.go
  go-controller/pkg/ovn/base_network_controller.go
  go-controller/pkg/ovn/base_network_controller_pods.go
  go-controller/pkg/ovn/pods_test.go
  go-controller/pkg/testing/util.go
  go-controller/pkg/types/const.go
  go-controller/pkg/util/multi_network.go
  go-controller/pkg/util/multi_network_test.go
  go-controller/pkg/util/pod_annotation.go
  go-controller/pkg/util/pod_annotation_unit_test.go
  go-controller/pkg/util/util_unit_test.go
  test/e2e/multihoming_utils.go
  test/e2e/network_segmentation.go
Labels: area/unit-testing, area/e2e-testing, feature/user-defined-network-segmentation

#4492 segmentation e2e: add runUDNPod function to simplify tests.
  test/e2e/network_segmentation.go
Labels: area/e2e-testing, feature/user-defined-network-segmentation

#4491 util: Move route table calculator from egressip
  docs/troubleshooting/ovnkube-trace.md
  docs/troubleshooting/udn.md
  go-controller/cmd/ovnkube-trace/ovnkube-trace.go
  go-controller/cmd/ovnkube-trace/udn.go
  go-controller/pkg/node/controllers/egressip/egressip.go
  go-controller/pkg/node/controllers/egressip/egressip_test.go
  go-controller/pkg/util/net.go
Labels: kind/documentation, area/unit-testing, feature/user-defined-network-segmentation

#4497 Refactor NAD controller: Do not attach to default network
  go-controller/pkg/network-attach-def-controller/network_attach_def_controller.go
  go-controller/pkg/network-attach-def-controller/network_attach_def_controller_test.go
Labels: area/unit-testing

#4458 udn, allocator: Add masquerade IPs
  go-controller/pkg/generator/udn/masquerade_ips.go
  go-controller/pkg/generator/udn/masquerade_ips_test.go
Labels: area/unit-testing, kind/feature, feature/multi-networks, installation, feature/pods, feature/user-defined-network-segmentation

#4498 ci: Add lane to test ovnkube-trace
  .github/workflows/test.yml
  go-controller/cmd/ovnkube-trace/udn.go
  go-controller/pkg/types/const.go
  go-controller/pkg/util/util.go
  go-controller/pkg/util/util_unit_test.go
  test/Makefile
  test/scripts/test-ovnkube-trace.sh
Labels: kind/bug, area/unit-testing, area/debugging, feature/user-defined-network-segmentation

#4484 ef e2e: make sure external containers are running and ready to serve
  test/e2e/egress_firewall.go
Labels: area/e2e-testing

#4500 UDN: Lock default network
  go-controller/pkg/libovsdb/ops/db_object_types.go
  go-controller/pkg/libovsdb/util/acl.go
  go-controller/pkg/ovn/egressfirewall_test.go
  go-controller/pkg/ovn/external_ids_syncer/acl/acl_sync.go
  go-controller/pkg/ovn/external_ids_syncer/acl/acl_sync_test.go
  go-controller/pkg/ovn/external_ids_syncer/address_set/address_set_sync_test.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/pods.go
  go-controller/pkg/ovn/policy_stale_test.go
  go-controller/pkg/ovn/policy_test.go
  go-controller/pkg/ovn/udn_isolation.go
  go-controller/pkg/types/const.go
  test/e2e/go.mod
  test/e2e/go.sum
  test/e2e/network_segmentation.go
Labels: area/unit-testing, area/e2e-testing, feature/egress-firewall, feature/user-defined-network-segmentation

#4509 udn: auto-exclude GW and mp0 IPs from the subnet
  go-controller/pkg/ovn/logical_switch_manager/logical_switch_manager.go
  go-controller/pkg/ovn/logical_switch_manager/logical_switch_manager_test.go
  go-controller/pkg/ovn/secondary_layer2_network_controller.go
  test/e2e/network_segmentation.go
Labels: area/unit-testing, area/e2e-testing, feature/user-defined-network-segmentation

#4431 Add ANP Documentation
  docs/features/network-security-controls/admin-network-policy.md
  docs/features/template.md
  docs/images/allow-egress-to-dns.png
  docs/images/allow-ingress-from-monitoring.png
  docs/images/anp-metrics-1.png
  docs/images/anp-metrics-2.png
  docs/images/anp-metrics-3.png
  docs/images/anp-metrics-4.png
  docs/images/delegate-sample.png
  docs/images/isolate-tenants.png
  docs/images/precedence.png
  docs/images/sensitive-deny.png
  mkdocs.yml
Labels: kind/documentation, feature/admin-network-policy

#4482 test: Integrate mockery to Makefile
  go-controller/.mockery.yaml
  go-controller/Makefile
  go-controller/pkg/cni/mocks/CNIPluginLibOps.go
  go-controller/pkg/factory/mocks/ObjectCacheInterface.go
  go-controller/pkg/kube/mocks/Annotator.go
  go-controller/pkg/kube/mocks/HTTPServer.go
  go-controller/pkg/kube/mocks/HTTPServerFactory.go
  go-controller/pkg/kube/mocks/Interface.go
  go-controller/pkg/kube/mocks/InterfaceOVN.go
  go-controller/pkg/kube/mocks/Listener.go
  go-controller/pkg/kube/mocks/Server.go
  go-controller/pkg/ovn/address_set/mocks/AddressSet.go
  go-controller/pkg/ovn/address_set/mocks/AddressSetFactory.go
  go-controller/pkg/ovn/address_set/mocks/AddressSetIterFunc.go
  go-controller/pkg/ovn/address_set/mocks/removeFunc.go
  go-controller/pkg/testing/mocks/github.com/containernetworking/cni/pkg/types/Result.go
  go-controller/pkg/testing/mocks/github.com/containernetworking/plugins/pkg/ns/NetNS.go
  go-controller/pkg/testing/mocks/github.com/k8snetworkplumbingwg/network-attachment-definition-client/pkg/client/listers/k8s.cni.cncf.io/v1/NetworkAttachmentDefinitionLister.go
  go-controller/pkg/testing/mocks/github.com/k8snetworkplumbingwg/network-attachment-definition-client/pkg/client/listers/k8s.cni.cncf.io/v1/NetworkAttachmentDefinitionNamespaceLister.go
  go-controller/pkg/testing/mocks/github.com/vishvananda/netlink/Link.go
  go-controller/pkg/testing/mocks/k8s.io/utils/exec/Cmd.go
  go-controller/pkg/testing/mocks/k8s.io/utils/exec/ExitError.go
  go-controller/pkg/testing/mocks/k8s.io/utils/exec/Interface.go
  go-controller/pkg/util/mocks/DNSOps.go
  go-controller/pkg/util/mocks/ExecRunner.go
  go-controller/pkg/util/mocks/FileSystemOps.go
  go-controller/pkg/util/mocks/NetLinkOps.go
  go-controller/pkg/util/mocks/SriovnetOps.go
  go-controller/pkg/util/mocks/VdpaDevice.go
  go-controller/pkg/util/mocks/VdpaOps.go
  go-controller/pkg/util/util_unit_test.go
Labels: area/unit-testing

#4495 UDN: L2/L3 - add OVN management port
  go-controller/pkg/ovn/base_network_controller.go
  go-controller/pkg/ovn/base_network_controller_policy.go
  go-controller/pkg/ovn/base_secondary_layer2_network_controller.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/master_test.go
  go-controller/pkg/ovn/secondary_layer2_network_controller.go
  go-controller/pkg/ovn/secondary_layer3_network_controller.go
  go-controller/pkg/ovn/secondary_localnet_network_controller.go
Labels: area/unit-testing, feature/user-defined-network-segmentation

#4514 udn, layer2: auto-exclude GW and mgmt port ips on cluster manager
  go-controller/pkg/clustermanager/network_cluster_controller.go
  go-controller/pkg/clustermanager/secondary_network_unit_test.go
  go-controller/pkg/ovn/logical_switch_manager/logical_switch_manager.go
  go-controller/pkg/ovn/logical_switch_manager/logical_switch_manager_test.go
  go-controller/pkg/ovn/secondary_layer2_network_controller.go
  test/e2e/network_segmentation.go
Labels: area/unit-testing, area/e2e-testing, component/cluster-manager, feature/user-defined-network-segmentation

#4376 Enable global IPv6 forwarding
  docs/getting-started/configuration.md
  go-controller/pkg/node/default_node_network_controller.go
  go-controller/pkg/node/egress_service_test.go
  go-controller/pkg/node/gateway_init.go
  go-controller/pkg/node/gateway_init_linux_test.go
  go-controller/pkg/node/gateway_iptables.go
  go-controller/pkg/node/gateway_localnet.go
  go-controller/pkg/node/gateway_localnet_linux_test.go
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/node/management-port_linux.go
  go-controller/pkg/node/management-port_linux_test.go
  go-controller/pkg/util/iptables.go
Labels: kind/bug, kind/documentation, area/unit-testing, area/core-networking

#4504 NodeIdentity: Recover from a corrupted certificate file
  go-controller/pkg/util/kube.go
Labels: kind/bug, area/security

#4433 node: Use mdlayher/arp at link_network_manager
  go-controller/go.mod
  go-controller/go.sum
  go-controller/pkg/node/default_node_network_controller.go
  go-controller/pkg/node/linkmanager/link_network_manager.go
  go-controller/pkg/ovn/default_network_controller.go
  go-controller/pkg/util/net_linux.go
  go-controller/vendor/github.com/j-keck/arping/.gitignore
  go-controller/vendor/github.com/j-keck/arping/LICENSE
  go-controller/vendor/github.com/j-keck/arping/README.md
  go-controller/vendor/github.com/j-keck/arping/arp_datagram.go
  go-controller/vendor/github.com/j-keck/arping/arping.go
  go-controller/vendor/github.com/j-keck/arping/arping_bsd.go
  go-controller/vendor/github.com/j-keck/arping/arping_linux.go
  go-controller/vendor/github.com/j-keck/arping/netutils.go
  go-controller/vendor/github.com/josharian/native/doc.go
  go-controller/vendor/github.com/josharian/native/endian_big.go
  go-controller/vendor/github.com/josharian/native/endian_generic.go
  go-controller/vendor/github.com/josharian/native/endian_little.go
  go-controller/vendor/github.com/josharian/native/license
  go-controller/vendor/github.com/josharian/native/readme.md
  go-controller/vendor/github.com/mdlayher/arp/.travis.yml
  go-controller/vendor/github.com/mdlayher/arp/LICENSE.md
  go-controller/vendor/github.com/mdlayher/arp/README.md
  go-controller/vendor/github.com/mdlayher/arp/client.go
  go-controller/vendor/github.com/mdlayher/arp/doc.go
  go-controller/vendor/github.com/mdlayher/arp/fuzz.go
  go-controller/vendor/github.com/mdlayher/arp/packet.go
  go-controller/vendor/github.com/mdlayher/arp/string.go
  go-controller/vendor/github.com/mdlayher/ethernet/.travis.yml
  go-controller/vendor/github.com/mdlayher/ethernet/LICENSE.md
  go-controller/vendor/github.com/mdlayher/ethernet/README.md
  go-controller/vendor/github.com/mdlayher/ethernet/ethernet.go
  go-controller/vendor/github.com/mdlayher/ethernet/fuzz.go
  go-controller/vendor/github.com/mdlayher/ethernet/string.go
  go-controller/vendor/github.com/mdlayher/ethernet/vlan.go
  go-controller/vendor/github.com/mdlayher/packet/.gitignore
  go-controller/vendor/github.com/mdlayher/packet/CHANGELOG.md
  go-controller/vendor/github.com/mdlayher/packet/LICENSE.md
  go-controller/vendor/github.com/mdlayher/packet/README.md
  go-controller/vendor/github.com/mdlayher/packet/doc.go
  go-controller/vendor/github.com/mdlayher/packet/packet.go
  go-controller/vendor/github.com/mdlayher/packet/packet_linux.go
  go-controller/vendor/github.com/mdlayher/packet/packet_others.go
  go-controller/vendor/github.com/mdlayher/socket/CHANGELOG.md
  go-controller/vendor/github.com/mdlayher/socket/LICENSE.md
  go-controller/vendor/github.com/mdlayher/socket/README.md
  go-controller/vendor/github.com/mdlayher/socket/accept.go
  go-controller/vendor/github.com/mdlayher/socket/accept4.go
  go-controller/vendor/github.com/mdlayher/socket/conn.go
  go-controller/vendor/github.com/mdlayher/socket/conn_linux.go
  go-controller/vendor/github.com/mdlayher/socket/doc.go
  go-controller/vendor/github.com/mdlayher/socket/netns_linux.go
  go-controller/vendor/github.com/mdlayher/socket/netns_others.go
  go-controller/vendor/github.com/mdlayher/socket/setbuffer_linux.go
  go-controller/vendor/github.com/mdlayher/socket/setbuffer_others.go
  go-controller/vendor/github.com/mdlayher/socket/typ_cloexec_nonblock.go
  go-controller/vendor/github.com/mdlayher/socket/typ_none.go
  go-controller/vendor/modules.txt
Labels: kind/documentation

#4519 udn: Skip non ovn nads
  go-controller/pkg/testing/util.go
  go-controller/pkg/util/util.go
  go-controller/pkg/util/util_unit_test.go
Labels: kind/bug, area/unit-testing, feature/user-defined-network-segmentation

#4473 UDN: Use synthetic network selection element
  go-controller/pkg/clustermanager/pod/allocator.go
  go-controller/pkg/cni/cni.go
  go-controller/pkg/cni/cniserver.go
  go-controller/pkg/cni/helper_linux.go
  go-controller/pkg/cni/helper_linux_test.go
  go-controller/pkg/cni/types.go
  go-controller/pkg/cni/udn/primary_network.go
  go-controller/pkg/cni/udn/primary_network_test.go
  go-controller/pkg/cni/utils.go
  go-controller/pkg/ovn/base_network_controller.go
  go-controller/pkg/ovn/base_network_controller_secondary.go
  go-controller/pkg/testing/util.go
  go-controller/pkg/types/const.go
  go-controller/pkg/util/multi_network.go
  go-controller/pkg/util/util.go
  go-controller/pkg/util/util_unit_test.go
  test/e2e/multihoming_utils.go
  test/e2e/network_segmentation.go
Labels: area/unit-testing, area/e2e-testing, area/core-kubernetes, feature/pods, feature/user-defined-network-segmentation

#4517 Auto exclude gw mgmtport ips layer2 udn for non-IC deployments
  go-controller/pkg/ovn/logical_switch_manager/logical_switch_manager.go
  go-controller/pkg/ovn/logical_switch_manager/logical_switch_manager_test.go
  go-controller/pkg/ovn/secondary_layer2_network_controller.go
  test/e2e/network_segmentation.go
Labels: area/unit-testing, area/e2e-testing, feature/user-defined-network-segmentation

#4525 ci: Add network segmentation lgw lane
  .github/workflows/test.yml
Labels: kind/feature, feature/user-defined-network-segmentation

#4522 helm: fix appVersion to be 1.0.0
  helm/ovn-kubernetes/Chart.yaml
  helm/ovn-kubernetes/README.md
  helm/ovn-kubernetes/charts/ovn-ipsec/Chart.yaml
  helm/ovn-kubernetes/charts/ovnkube-control-plane/Chart.yaml
  helm/ovn-kubernetes/charts/ovnkube-db-raft/Chart.yaml
  helm/ovn-kubernetes/charts/ovnkube-db/Chart.yaml
  helm/ovn-kubernetes/charts/ovnkube-identity/Chart.yaml
  helm/ovn-kubernetes/charts/ovnkube-master/Chart.yaml
  helm/ovn-kubernetes/charts/ovnkube-node-dpu-host/Chart.yaml
  helm/ovn-kubernetes/charts/ovnkube-node-dpu/Chart.yaml
  helm/ovn-kubernetes/charts/ovnkube-node/Chart.yaml
  helm/ovn-kubernetes/charts/ovnkube-single-node-zone/Chart.yaml
  helm/ovn-kubernetes/charts/ovnkube-zone-controller/Chart.yaml
  helm/ovn-kubernetes/charts/ovs-node/Chart.yaml
Labels: kind/documentation, needs-backport

#4518 udn, ci, e2e: add a non-IC lane
  .github/workflows/test.yml
  dist/templates/rbac-ovnkube-node.yaml.j2
  go-controller/pkg/factory/factory.go
  test/e2e/network_segmentation.go
Labels: area/e2e-testing, feature/user-defined-network-segmentation

#4499 Introduce EndpointSlice mirror controller for user defined networks
  dist/images/daemonset.sh
  dist/templates/rbac-ovnkube-cluster-manager.yaml.j2
  dist/templates/rbac-ovnkube-master.yaml.j2
  docs/features/multiple-networks/mirrored-endpointslices.md
  go-controller/pkg/clustermanager/clustermanager.go
  go-controller/pkg/clustermanager/egressservice/egressservice_cluster.go
  go-controller/pkg/clustermanager/egressservice/egressservice_cluster_service.go
  go-controller/pkg/clustermanager/endpointslicemirror/endpointslice_mirror_controller.go
  go-controller/pkg/clustermanager/endpointslicemirror/endpointslice_mirror_controller_suite_test.go
  go-controller/pkg/clustermanager/endpointslicemirror/endpointslice_mirror_controller_test.go
  go-controller/pkg/clustermanager/fake_cluster_manager_test.go
  go-controller/pkg/factory/factory.go
  go-controller/pkg/factory/mocks/NodeWatchFactory.go
  go-controller/pkg/factory/mocks/ObjectCacheInterface.go
  go-controller/pkg/factory/types.go
  go-controller/pkg/node/controllers/egressservice/egressservice_node.go
  go-controller/pkg/node/controllers/egressservice/egressservice_node_endpointslice.go
  go-controller/pkg/node/default_node_network_controller.go
  go-controller/pkg/node/gateway.go
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/node/healthcheck_service.go
  go-controller/pkg/ovn/controller/egressservice/egressservice_zone.go
  go-controller/pkg/ovn/controller/services/services_controller.go
  go-controller/pkg/types/const.go
  go-controller/pkg/util/util.go
  test/e2e/endpointslices_mirror.go
  test/e2e/go.mod
  test/e2e/go.sum
Labels: kind/documentation, area/unit-testing, area/e2e-testing, feature/egress-service, feature/services&endpoints, feature/user-defined-network-segmentation

#4527 Fix stale network cleanup
  go-controller/pkg/clustermanager/secondary_network_cluster_manager.go
  go-controller/pkg/clustermanager/secondary_network_unit_test.go
  go-controller/pkg/network-attach-def-controller/network_attach_def_controller.go
  go-controller/pkg/network-attach-def-controller/network_attach_def_controller_test.go
  go-controller/pkg/network-attach-def-controller/network_manager.go
  go-controller/pkg/network-controller-manager/network_controller_manager.go
  go-controller/pkg/network-controller-manager/node_network_controller_manager.go
Labels: kind/bug, area/unit-testing, feature/user-defined-network-segmentation

#4507 Add `joinSubnets` config for UDNs
  go-controller/pkg/clustermanager/clustermanager_test.go
  go-controller/pkg/clustermanager/network_cluster_controller_test.go
  go-controller/pkg/clustermanager/node/node_allocator.go
  go-controller/pkg/clustermanager/zone_cluster_controller.go
  go-controller/pkg/cni/types/types.go
  go-controller/pkg/ovn/base_network_controller.go
  go-controller/pkg/ovn/default_network_controller.go
  go-controller/pkg/ovn/egressfirewall_test.go
  go-controller/pkg/ovn/hybrid_test.go
  go-controller/pkg/ovn/kubevirt_test.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/master_test.go
  go-controller/pkg/ovn/namespace.go
  go-controller/pkg/ovn/namespace_test.go
  go-controller/pkg/ovn/zone_interconnect/zone_ic_handler.go
  go-controller/pkg/ovn/zone_interconnect/zone_ic_handler_test.go
  go-controller/pkg/types/const.go
  go-controller/pkg/util/multi_network.go
  go-controller/pkg/util/multi_network_test.go
  go-controller/pkg/util/node_annotations.go
  go-controller/pkg/util/node_annotations_unit_test.go
  go-controller/pkg/util/pod_annotation.go
  go-controller/pkg/util/util_unit_test.go
Labels: area/unit-testing, feature/kubevirt-live-migration, feature/egress-firewall, feature/user-defined-network-segmentation

#4524 Prevent user defined network from being attached as secondary net
  go-controller/pkg/util/multi_network_test.go
Labels: area/unit-testing, feature/multi-networks, feature/user-defined-network-segmentation

#4535 fix multi-net when deploying via helm
  .github/workflows/test.yml
  helm/ovn-kubernetes/templates/rbac-ovnkube-node.yaml
Labels: kind/bug, feature/user-defined-network-segmentation

#4529 udn, controllers: Add getNetworkID helper
  go-controller/pkg/node/secondary_node_network_controller.go
  go-controller/pkg/node/secondary_node_network_controller_test.go
  go-controller/pkg/ovn/base_network_controller.go
  go-controller/pkg/ovn/base_network_controller_secondary.go
  go-controller/pkg/ovn/base_network_controller_secondary_test.go
  go-controller/pkg/util/node_annotations.go
  go-controller/pkg/util/node_annotations_unit_test.go
Labels: area/unit-testing, feature/user-defined-network-segmentation

#4543 UDN: Create/Delete management port interface on the host side
  go-controller/pkg/network-controller-manager/node_network_controller_manager.go
  go-controller/pkg/node/gateway_udn.go
  go-controller/pkg/node/gateway_udn_test.go
  go-controller/pkg/node/secondary_node_network_controller.go
  go-controller/pkg/node/secondary_node_network_controller_test.go
Labels: area/unit-testing, area/gateway, feature/user-defined-network-segmentation

#4539 udn, cni: Gate primary role networks
  go-controller/pkg/cni/cni.go
  go-controller/pkg/cni/cni_test.go
  go-controller/pkg/cni/cnishim.go
  go-controller/pkg/cni/types.go
Labels: area/unit-testing, feature/user-defined-network-segmentation

#4542 udn, pods, cni: Add default net 'role=primary'
  go-controller/pkg/cni/udn/primary_network.go
  go-controller/pkg/cni/udn/primary_network_test.go
  go-controller/pkg/ovn/network_segmentation_test.go
  go-controller/pkg/ovn/pods.go
  go-controller/pkg/ovn/pods_test.go
Labels: area/unit-testing

#4556 udn, config: a layer2 primary UDN requires subnets
  go-controller/pkg/util/multi_network.go
  go-controller/pkg/util/multi_network_test.go
Labels: area/unit-testing, feature/user-defined-network-segmentation

#4531 Add subnet overlap check for transit switch subnet
  go-controller/pkg/clustermanager/clustermanager_test.go
  go-controller/pkg/config/config.go
  go-controller/pkg/config/config_test.go
  go-controller/pkg/config/utils.go
Labels: area/unit-testing

#4560 Make annotation in pod sync only happen for local pods
  go-controller/pkg/node/node_ip_handler_linux_test.go
  go-controller/pkg/ovn/pods.go
Labels: area/unit-testing, feature/user-defined-network-segmentation

#4505 Bump OVSDBTimeout and make it configurable.
  go-controller/pkg/config/config.go
  go-controller/pkg/libovsdb/libovsdb.go
  go-controller/pkg/libovsdb/ops/acl.go
  go-controller/pkg/libovsdb/ops/address_set.go
  go-controller/pkg/libovsdb/ops/chassis.go
  go-controller/pkg/libovsdb/ops/lbgroup.go
  go-controller/pkg/libovsdb/ops/loadbalancer.go
  go-controller/pkg/libovsdb/ops/model_client.go
  go-controller/pkg/libovsdb/ops/portgroup.go
  go-controller/pkg/libovsdb/ops/qos.go
  go-controller/pkg/libovsdb/ops/router.go
  go-controller/pkg/libovsdb/ops/switch.go
  go-controller/pkg/libovsdb/ops/template_var.go
  go-controller/pkg/libovsdb/ops/transact.go
  go-controller/pkg/ovn/controller/unidling/unidle.go
  go-controller/pkg/ovn/controller/unidling/unidle_test.go
  go-controller/pkg/ovn/egressfirewall_test.go
  go-controller/pkg/ovn/egressip_test.go
  go-controller/pkg/ovn/master_test.go
  go-controller/pkg/ovn/pods_test.go
  go-controller/pkg/ovn/policy_test.go
Labels: feature/egress-ip, area/unit-testing, feature/services&endpoints, feature/egress-firewall

#4526 udn: Add events to primary role network related problems
  go-controller/pkg/clustermanager/clustermanager.go
  go-controller/pkg/clustermanager/network_cluster_controller.go
  go-controller/pkg/clustermanager/network_cluster_controller_test.go
  go-controller/pkg/clustermanager/pod/allocator.go
  go-controller/pkg/clustermanager/pod/allocator_test.go
  go-controller/pkg/clustermanager/secondary_network_cluster_manager.go
  go-controller/pkg/clustermanager/secondary_network_unit_test.go
  go-controller/pkg/cni/udn/primary_network.go
  go-controller/pkg/ovn/base_network_controller_secondary.go
  go-controller/pkg/util/util.go
Labels: area/unit-testing, kind/feature, feature/user-defined-network-segmentation

#4569 Fixes hybrid overlay from deprecated annotation
  go-controller/hybrid-overlay/pkg/controller/ovn_node_linux.go
  go-controller/hybrid-overlay/pkg/controller/ovn_node_linux_test.go
  go-controller/pkg/util/node_annotations.go
Labels: area/unit-testing
