Repository ovn-kubernetes/ovn-kubernetes, pull requests merged in 2024-06, with the labels that each got.

#4405 Change area labels on issues
  .github/ISSUE_TEMPLATE/e2e-testing.yaml
  .github/ISSUE_TEMPLATE/unit-testing.yaml
Labels: area/community

#4389 Consolidate use of errors
  go-controller/cmd/ovn-kube-util/app/nics-to-bridge.go
  go-controller/cmd/ovnkube-identity/ovnkubeidentity.go
  go-controller/cmd/ovnkube/ovnkube.go
  go-controller/go.mod
  go-controller/pkg/clustermanager/dnsnameresolver/resolver_info.go
  go-controller/pkg/clustermanager/egressip_controller.go
  go-controller/pkg/clustermanager/egressservice/egressservice_cluster.go
  go-controller/pkg/clustermanager/node/subnet_allocator.go
  go-controller/pkg/cni/bandwidth.go
  go-controller/pkg/kube/healthcheck/healthcheck.go
  go-controller/pkg/node/base_node_network_controller_dpu.go
  go-controller/pkg/node/controllers/egressip/egressip.go
  go-controller/pkg/node/controllers/egressservice/egressservice_node.go
  go-controller/pkg/node/default_node_network_controller.go
  go-controller/pkg/node/gateway.go
  go-controller/pkg/node/gateway_iptables.go
  go-controller/pkg/node/gateway_localnet.go
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/node/healthcheck_node.go
  go-controller/pkg/node/healthcheck_service.go
  go-controller/pkg/node/helper_linux.go
  go-controller/pkg/node/iprulemanager/ip_rule_manager.go
  go-controller/pkg/node/iptables/iptables.go
  go-controller/pkg/node/openflow_manager.go
  go-controller/pkg/node/port_claim.go
  go-controller/pkg/ovn/address_set/address_set.go
  go-controller/pkg/ovn/base_network_controller_namespace.go
  go-controller/pkg/ovn/base_network_controller_pods.go
  go-controller/pkg/ovn/base_network_controller_policy.go
  go-controller/pkg/ovn/base_network_controller_secondary.go
  go-controller/pkg/ovn/base_secondary_layer2_network_controller.go
  go-controller/pkg/ovn/controller/admin_network_policy/admin_network_policy.go
  go-controller/pkg/ovn/controller/admin_network_policy/repair.go
  go-controller/pkg/ovn/controller/admin_network_policy/types.go
  go-controller/pkg/ovn/controller/admin_network_policy/utils.go
  go-controller/pkg/ovn/controller/apbroute/network_client.go
  go-controller/pkg/ovn/controller/egressservice/egressservice_zone.go
  go-controller/pkg/ovn/default_network_controller.go
  go-controller/pkg/ovn/egressfirewall.go
  go-controller/pkg/ovn/egressgw.go
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/egressqos.go
  go-controller/pkg/ovn/gateway_init.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/master_test.go
  go-controller/pkg/ovn/namespace.go
  go-controller/pkg/ovn/pod_selector_address_set.go
  go-controller/pkg/ovn/secondary_layer3_network_controller.go
  go-controller/pkg/util/errors/join.go
  go-controller/pkg/util/errors/join_test.go
  go-controller/pkg/util/external_gw_conntrack.go
Labels: area/code-cleanup

#4172 Implementation required to enable Forwarding if it is already disabled
  docs/developer-guide/configuration.md
  docs/getting-started/configuration.md
  go-controller/pkg/node/gateway_iptables.go
  go-controller/pkg/node/gateway_localnet.go
  go-controller/pkg/node/gateway_localnet_linux_test.go
  go-controller/pkg/node/gateway_shared_intf.go
  mkdocs.yml
Labels: kind/bug, area/gateway, core-networking

#4410 CNI: Add VFIO support for SR-IOV enabled systems
  go-controller/pkg/cni/cni.go
  go-controller/pkg/cni/cni_dpu_test.go
  go-controller/pkg/cni/cniserver.go
  go-controller/pkg/cni/helper_linux.go
  go-controller/pkg/cni/helper_linux_test.go
  go-controller/pkg/cni/types.go
  go-controller/pkg/util/mocks/NetLinkOps.go
  go-controller/pkg/util/mocks/SriovnetOps.go
  go-controller/pkg/util/net_linux.go
  go-controller/pkg/util/sriovnet_linux.go
Labels: area/unit-testing

#3794 Remove FakeAddressSet from EgressIP testing
  go-controller/pkg/ovn/egressip_test.go
Labels: feature/egress-ip, area/unit-testing, area/code-cleanup

#4412 Added SDN Dashboard helm chart
  docs/installation/helm/sdn-dashboard.md
  helm/sdn-dashboard/.helmdocsignore
  helm/sdn-dashboard/.helmignore
  helm/sdn-dashboard/CHANGELOG.md
  helm/sdn-dashboard/Chart.yaml
  helm/sdn-dashboard/json/sdn-central-north-daemon.json
  helm/sdn-dashboard/json/sdn-central-northbound-db.json
  helm/sdn-dashboard/json/sdn-central-southbound-db.json
  helm/sdn-dashboard/json/sdn-host-controller-without-dpu.json
  helm/sdn-dashboard/json/sdn-host-controller.json
  helm/sdn-dashboard/json/sdn-host-ovs.json
  helm/sdn-dashboard/json/sdn-k8s-control-panel-kube-agent-without-dpu.json
  helm/sdn-dashboard/json/sdn-k8s-control-panel-kube-agent.json
  helm/sdn-dashboard/json/sdn-k8s-control-panel-kube-manager.json
  helm/sdn-dashboard/templates/is-prometheus-installed.yaml
  helm/sdn-dashboard/templates/sdn-dashboard-central-north-daemon.yaml
  helm/sdn-dashboard/templates/sdn-dashboard-central-northbound-db.yaml
  helm/sdn-dashboard/templates/sdn-dashboard-central-southbound-db.yaml
  helm/sdn-dashboard/templates/sdn-dashboard-host-controller-without-dpu.yaml
  helm/sdn-dashboard/templates/sdn-dashboard-host-controller.yaml
  helm/sdn-dashboard/templates/sdn-dashboard-host-dpu.yaml
  helm/sdn-dashboard/templates/sdn-dashboard-host-ovs.yaml
  helm/sdn-dashboard/templates/sdn-dashboard-k8s-control-panel-kube-agent-without-dpu.yaml
  helm/sdn-dashboard/templates/sdn-dashboard-k8s-control-panel-kube-agent.yaml
  helm/sdn-dashboard/templates/sdn-dashboard-k8s-control-panel-kube-manager.yaml
  helm/sdn-dashboard/values.yaml
  mkdocs.yml
Labels: kind/documentation, kind/feature, area/dashboard

#4409 Support OVS-DOCA
  go-controller/pkg/cni/cni.go
  go-controller/pkg/cni/helper_linux.go
  go-controller/pkg/cni/helper_linux_test.go
  go-controller/pkg/cni/ovs.go
  go-controller/pkg/node/base_node_network_controller_dpu_test.go
  go-controller/pkg/node/management-port-dpu.go
  go-controller/pkg/node/management-port_dpu_test.go
  go-controller/pkg/node/management-port_linux_test.go
  go-controller/pkg/types/const.go
  go-controller/pkg/util/mocks/SriovnetOps.go
  go-controller/pkg/util/ovs.go
  go-controller/pkg/util/sriovnet_linux.go
Labels: area/unit-testing, kind/feature, feature/hardware-offload

#4408 OVS-DOCA configuration instructions
  docs/features/hardware-offload/ovs-doca.md
  docs/images/ovs-datapath-offload-interfaces.png
  mkdocs.yml
Labels: kind/documentation, feature/hardware-offload

#4419 Starting to refactor developer documentation
  docs/developer-guide/local_testing_guide.md
  docs/governance/CONTRIBUTING.md
  docs/index.md
  docs/installation/launching-ovn-kubernetes-on-kind.md
  mkdocs.yml
Labels: kind/documentation, area/community

#4429 Update README.md
  README.md
Labels: kind/documentation

#4382 Fix race condition when creating/deleting namespace address set
  go-controller/pkg/ovn/base_network_controller.go
Labels: kind/bug, feature/network-policy

#4440 Update hardware offloads to hardware acceleration
  docs/features/hardware-offload/ovs-doca.md
  docs/features/hardware-offload/ovs_acceleration.md
  mkdocs.yml
Labels: kind/documentation

#4443 docs-nit-fix
  README.md
  docs/index.md
Labels: kind/documentation

#4441 Rename packages
  .github/workflows/docker.yml
Labels: area/community, area/configuration

#4445 nit-fix: log statement had extra %s
  go-controller/pkg/ovn/controller/admin_network_policy/admin_network_policy.go
Labels: feature/admin-network-policy

#4446 User Defined Network Segmentation Feature Gate
  contrib/kind.sh
  dist/images/daemonset.sh
  dist/images/ovnkube.sh
  dist/templates/ovnkube-control-plane.yaml.j2
  dist/templates/ovnkube-master.yaml.j2
  dist/templates/ovnkube-node.yaml.j2
  dist/templates/ovnkube-single-node-zone.yaml.j2
  dist/templates/ovnkube-zone-controller.yaml.j2
  docs/getting-started/configuration.md
  go-controller/pkg/cni/types/types.go
  go-controller/pkg/config/config.go
  go-controller/pkg/config/config_test.go
  go-controller/pkg/util/multi_network.go
  go-controller/pkg/util/multi_network_test.go
Labels: kind/documentation, area/unit-testing, area/configuration, feature/user-defined-network-segmentation

#4418 kubevirt, docs: Honor feature template for kv docs
  docs/design/live-migration.md
  docs/features/live-migration.md
Labels: kind/documentation, feature/kubevirt-live-migration

#4450 e2e: Fix secondaryIPV6Subnet mask
  test/e2e/egressip.go
Labels: feature/egress-ip, area/e2e-testing

#4421 SDN-4909: rm e2e-periodic and run e2e in full twice daily
  .github/workflows/test.yml
  docs/ci/ci.md
Labels: kind/documentation, area/ci

#4452 Add missing places when renaming ovn-kubernetes packages
  .github/workflows/test.yml
  contrib/kind-helm.sh
  contrib/kind.sh
  dist/images/Dockerfile.ubuntu
  dist/images/Makefile
  dist/images/push_manifest.sh
  docs/developer-guide/image-build.md
  docs/developer-guide/release.md
  docs/installation/INSTALL.KUBEADM.md
  docs/installation/launching-ovn-kubernetes-with-helm.md
  helm/basic-deploy.sh
  helm/ovn-kubernetes/README.md
  helm/ovn-kubernetes/README.md.gotmpl
  helm/ovn-kubernetes/values.yaml
  test/e2e/diagnostics/daemonset.go
  test/scripts/test-ovnkube-trace.sh
  test/scripts/upgrade-ovn.sh
Labels: kind/documentation, area/e2e-testing, needs-backport

#4448 Fix the Fedora dev Dockerfile.
  dist/images/Dockerfile.fedora.dev
Labels: installation

#4437 docs, multi-homing, virt: persistent IPs for virt workloads
  docs/features/multiple-networks/multi-homing.md
Labels: kind/documentation, feature/multi-networks

#4442 Fix hardware acceleration documentation.
  docs/features/hardware-offload/ovs-doca.md
  docs/features/hardware-offload/ovs-kernel.md
  mkdocs.yml
Labels: kind/documentation, feature/hardware-offload

#4428 Fix registering northd metrics on appropriate nodes
  dist/templates/ovnkube-db.yaml.j2
  dist/templates/ovnkube-single-node-zone.yaml.j2
  dist/templates/ovnkube-zone-controller.yaml.j2
  go-controller/pkg/metrics/ovn_northd.go
  helm/ovn-kubernetes/charts/ovnkube-db-raft/templates/statefulset.yaml
  helm/ovn-kubernetes/charts/ovnkube-db/templates/deployment.yaml
  helm/ovn-kubernetes/charts/ovnkube-single-node-zone/templates/ovnkube-single-node-zone.yaml
  helm/ovn-kubernetes/charts/ovnkube-zone-controller/templates/ovnkube-zone-controller.yaml
Labels: kind/bug, area/metrics

#4462 User Defined Networks L2/L3 Foundation
  .github/workflows/test.yml
  go-controller/pkg/allocator/pod/pod_annotation.go
  go-controller/pkg/allocator/pod/pod_annotation_test.go
  go-controller/pkg/clustermanager/network_cluster_controller.go
  go-controller/pkg/clustermanager/pod/allocator.go
  go-controller/pkg/clustermanager/secondary_network_unit_test.go
  go-controller/pkg/factory/factory.go
  go-controller/pkg/ovn/base_network_controller.go
  go-controller/pkg/ovn/base_network_controller_pods.go
  go-controller/pkg/ovn/pods_test.go
  go-controller/pkg/testing/mocks/github.com/k8snetworkplumbingwg/network-attachment-definition-client/listers/k8s.cni.cncf.io/v1/NetworkAttachmentDefinitionLister.go
  go-controller/pkg/testing/mocks/github.com/k8snetworkplumbingwg/network-attachment-definition-client/listers/k8s.cni.cncf.io/v1/NetworkAttachmentDefinitionNamespaceLister.go
  go-controller/pkg/testing/util.go
  go-controller/pkg/types/const.go
  go-controller/pkg/util/kube.go
  go-controller/pkg/util/multi_network.go
  go-controller/pkg/util/multi_network_test.go
  go-controller/pkg/util/pod_annotation.go
  go-controller/pkg/util/pod_annotation_unit_test.go
  go-controller/pkg/util/util.go
  go-controller/pkg/util/util_unit_test.go
  test/e2e/e2e.go
  test/e2e/multihoming_utils.go
  test/e2e/network_segmentation.go
  test/e2e/util.go
  test/scripts/e2e-cp.sh
Labels: area/unit-testing, area/e2e-testing, kind/feature, area/core-kubernetes, feature/pods, feature/user-defined-network-segmentation

#4457 Bump OVN to ovn-24.03.2-19 to fix multicast bug
  dist/images/Dockerfile.fedora
  test/e2e/kubevirt.go
  test/e2e/multicast.go
Labels: kind/bug, area/e2e-testing, area/core-networking, feature/kubevirt-live-migration, feature/multicast

#4385 e2e ipv6 egress firewall fix
  go-controller/pkg/ovn/dns_name_resolver/dns.go
  go-controller/pkg/ovn/egressfirewall.go
  test/e2e/egress_firewall.go
  test/e2e/go.mod
  test/e2e/go.sum
  test/scripts/e2e-cp.sh
Labels: ci-ipv6, area/e2e-testing, feature/egress-firewall

#4461 NAD controller refactor
  go-controller/pkg/clustermanager/clustermanager.go
  go-controller/pkg/clustermanager/dnsnameresolver/controller.go
  go-controller/pkg/clustermanager/pod/allocator_test.go
  go-controller/pkg/clustermanager/secondary_network_cluster_manager.go
  go-controller/pkg/clustermanager/secondary_network_unit_test.go
  go-controller/pkg/clustermanager/status_manager/status_manager.go
  go-controller/pkg/clustermanager/status_manager/zone_tracker/zone_tracker.go
  go-controller/pkg/controller/controller.go
  go-controller/pkg/controller/controller_test.go
  go-controller/pkg/factory/factory.go
  go-controller/pkg/factory/factory_test.go
  go-controller/pkg/factory/mocks/NodeWatchFactory.go
  go-controller/pkg/factory/types.go
  go-controller/pkg/network-attach-def-controller/network_attach_def_controller.go
  go-controller/pkg/network-attach-def-controller/network_attach_def_controller_test.go
  go-controller/pkg/network-attach-def-controller/network_manager.go
  go-controller/pkg/network-controller-manager/network_controller_manager.go
  go-controller/pkg/network-controller-manager/node_network_controller_manager.go
  go-controller/pkg/ovn/dns_name_resolver/external_dns.go
  go-controller/pkg/ovn/ovn_test.go
  go-controller/pkg/util/kube.go
  go-controller/pkg/util/multi_network.go
  go-controller/pkg/util/multi_network_test.go
  go-controller/pkg/util/pod_annotation_unit_test.go
Labels: kind/enhancement, area/unit-testing, feature/multi-networks

#4423 Remove FakeAddressSet from network policy testing
  go-controller/pkg/ovn/pod_selector_address_set_test.go
  go-controller/pkg/ovn/policy_test.go
Labels: area/unit-testing, feature/network-policy, area/code-cleanup

#4478 UDN: Prerequisite: Make OVN topology network aware.
  go-controller/pkg/kubevirt/router.go
  go-controller/pkg/libovsdb/util/router.go
  go-controller/pkg/libovsdb/util/switch.go
  go-controller/pkg/libovsdb/util/switch_test.go
  go-controller/pkg/ovn/base_network_controller.go
  go-controller/pkg/ovn/base_network_controller_pods.go
  go-controller/pkg/ovn/controller/apbroute/master_controller.go
  go-controller/pkg/ovn/controller/apbroute/network_client.go
  go-controller/pkg/ovn/controller/apbroute/repair.go
  go-controller/pkg/ovn/controller/egressservice/egressservice_zone.go
  go-controller/pkg/ovn/controller/egressservice/egressservice_zone_node.go
  go-controller/pkg/ovn/controller/egressservice/egressservice_zone_service.go
  go-controller/pkg/ovn/default_network_controller.go
  go-controller/pkg/ovn/egressfirewall.go
  go-controller/pkg/ovn/egressgw.go
  go-controller/pkg/ovn/egressgw_test.go
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/egressqos.go
  go-controller/pkg/ovn/external_gateway_apb_test.go
  go-controller/pkg/ovn/gateway/gateway.go
  go-controller/pkg/ovn/gateway_cleanup.go
  go-controller/pkg/ovn/gateway_init.go
  go-controller/pkg/ovn/hybrid.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/namespace.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/pods.go
  go-controller/pkg/ovn/secondary_layer2_network_controller.go
  go-controller/pkg/ovn/secondary_localnet_network_controller.go
  go-controller/pkg/util/multi_network.go
  go-controller/pkg/util/util.go
Labels: feature/egress-ip, area/unit-testing, feature/egress-qos, feature/egress-service, feature/egress-gateway, feature/egress-firewall, feature/user-defined-network-segmentation
