Repository ovn-kubernetes/ovn-kubernetes, pull requests merged in 2024-04, with the labels that each got.

#4239 (B)ANP: Add num_anp && num_banp metrics
  docs/metrics.md
  go-controller/pkg/metrics/ovnkube_controller.go
  go-controller/pkg/ovn/controller/admin_network_policy/admin_network_policy.go
  go-controller/pkg/ovn/controller/admin_network_policy/baseline_admin_network_policy.go
Labels: admin-network-policy, metrics

#4236 kubevirt, e2e: Add diagnostics tools
  test/e2e/diagnostics/conntrack.go
  test/e2e/diagnostics/context.go
  test/e2e/diagnostics/daemonset.go
  test/e2e/diagnostics/diagnostics.go
  test/e2e/diagnostics/doc.go
  test/e2e/diagnostics/iptables.go
  test/e2e/diagnostics/ovsflows.go
  test/e2e/diagnostics/tcpdump.go
  test/e2e/e2e_suite_test.go
  test/e2e/kubevirt.go
Labels: e2e-testing, kubevirt

#4240 Enable EgressQoS tests for IPv6 and LGW mode
  test/e2e/e2e.go
  test/scripts/e2e-cp.sh
Labels: e2e-testing, egress-qos

#4256 Remove extra || in SKIP formatting && bump k8 test binary to fix e2e issues found
  test/scripts/e2e-kind.sh
  test/scripts/install-kind.sh
Labels: bug, e2e-testing, ci

#4125 Update EIP docs for EIP multi NIC
  docs/egress-ip.md
Labels: documentation

#4260 remove ovn-{nb|sb}ctl CLI latency metrics and alerts
  dist/templates/ovnkube-alerts.yaml.j2
  docs/metrics.md
  go-controller/pkg/metrics/ovnkube_controller.go
  go-controller/pkg/util/ovs.go
Labels: code-cleanup, metrics

#4271 OVN bump to 23.09.0-139
  dist/images/Dockerfile.fedora
  test/e2e/service.go
Labels: bug, core-networking

#4108 Kube Rebase 1.29
  .github/workflows/docker.yml
  .github/workflows/test.yml
  contrib/kind.sh
  docs/kind.md
  test/e2e/e2e.go
  test/e2e/egress_services.go
  test/e2e/external_gateways.go
  test/e2e/go.mod
  test/e2e/go.sum
  test/e2e/service.go
  test/scripts/e2e-kind.sh
  test/scripts/install-kind.sh
  test/scripts/upgrade-ovn.sh
Labels: go, e2e-testing, core-kubernetes

#4266 control file is not same as sock file
  go-controller/pkg/util/ovs.go
  go-controller/pkg/util/ovs_unit_test.go
Labels: code-cleanup

#4170 Fix endpoint selection for externalTrafficPolicy=local
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/ovn/controller/services/lb_config.go
  go-controller/pkg/ovn/controller/services/lb_config_test.go
  go-controller/pkg/ovn/controller/services/node_tracker.go
  go-controller/pkg/ovn/controller/services/services_controller.go
  go-controller/pkg/ovn/controller/services/services_controller_test.go
  go-controller/pkg/testing/kube.go
  go-controller/pkg/util/kube.go
  go-controller/pkg/util/kube_test.go
Labels: bug, gateway, core-kubernetes, services/endpoints

#4281 skip ipv6 'should listen on each host address test'
  test/scripts/e2e-cp.sh
Labels: ci-flake, e2e-testing

#4241 Improves service iptables efficiency on start up
  go-controller/go.mod
  go-controller/go.sum
  go-controller/pkg/node/gateway.go
  go-controller/pkg/node/gateway_iptables.go
  go-controller/pkg/node/gateway_localnet_linux_test.go
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/node/iptables/iptables.go
  go-controller/pkg/util/iptables.go
  go-controller/vendor/github.com/coreos/go-iptables/iptables/iptables.go
  go-controller/vendor/modules.txt
Labels: gateway, scale/performance

#4245 Final ANP Bump: ANP status server side apply
  contrib/kind-helm.sh
  contrib/kind.sh
  dist/images/daemonset.sh
  dist/images/ovnkube.sh
  dist/templates/policy.networking.k8s.io_adminnetworkpolicies.yaml
  dist/templates/policy.networking.k8s.io_baselineadminnetworkpolicies.yaml
  dist/templates/rbac-ovnkube-cluster-manager.yaml.j2
  go-controller/go.mod
  go-controller/go.sum
  go-controller/hack/update-codegen.sh
  go-controller/pkg/clustermanager/status_manager/admin_network_policy_manager.go
  go-controller/pkg/clustermanager/status_manager/status_manager.go
  go-controller/pkg/clustermanager/status_manager/status_manager_test.go
  go-controller/pkg/ovn/admin_network_policy_test.go
  go-controller/pkg/ovn/baseline_admin_network_policy_test.go
  go-controller/pkg/ovn/controller/admin_network_policy/admin_network_policy.go
  go-controller/pkg/ovn/controller/admin_network_policy/baseline_admin_network_policy.go
  go-controller/pkg/ovn/controller/admin_network_policy/status.go
  go-controller/pkg/ovn/controller/admin_network_policy/status_test.go
  go-controller/pkg/ovn/controller/admin_network_policy/types.go
  go-controller/pkg/util/kube.go
  go-controller/vendor/modules.txt
  go-controller/vendor/sigs.k8s.io/network-policy-api/apis/v1alpha1/adminnetworkpolicy_types.go
  go-controller/vendor/sigs.k8s.io/network-policy-api/apis/v1alpha1/baselineadminnetworkpolicy_types.go
  go-controller/vendor/sigs.k8s.io/network-policy-api/apis/v1alpha1/shared_types.go
  go-controller/vendor/sigs.k8s.io/network-policy-api/apis/v1alpha1/zz_generated.deepcopy.go
  go-controller/vendor/sigs.k8s.io/network-policy-api/pkg/client/applyconfiguration/apis/v1alpha1/adminnetworkpolicy.go
  go-controller/vendor/sigs.k8s.io/network-policy-api/pkg/client/applyconfiguration/apis/v1alpha1/adminnetworkpolicyegresspeer.go
  go-controller/vendor/sigs.k8s.io/network-policy-api/pkg/client/applyconfiguration/apis/v1alpha1/adminnetworkpolicyegressrule.go
  go-controller/vendor/sigs.k8s.io/network-policy-api/pkg/client/applyconfiguration/apis/v1alpha1/adminnetworkpolicyingresspeer.go
  go-controller/vendor/sigs.k8s.io/network-policy-api/pkg/client/applyconfiguration/apis/v1alpha1/adminnetworkpolicyingressrule.go
  go-controller/vendor/sigs.k8s.io/network-policy-api/pkg/client/applyconfiguration/apis/v1alpha1/adminnetworkpolicyport.go
  go-controller/vendor/sigs.k8s.io/network-policy-api/pkg/client/applyconfiguration/apis/v1alpha1/adminnetworkpolicyspec.go
  go-controller/vendor/sigs.k8s.io/network-policy-api/pkg/client/applyconfiguration/apis/v1alpha1/adminnetworkpolicystatus.go
  go-controller/vendor/sigs.k8s.io/network-policy-api/pkg/client/applyconfiguration/apis/v1alpha1/adminnetworkpolicysubject.go
  go-controller/vendor/sigs.k8s.io/network-policy-api/pkg/client/applyconfiguration/apis/v1alpha1/baselineadminnetworkpolicy.go
  go-controller/vendor/sigs.k8s.io/network-policy-api/pkg/client/applyconfiguration/apis/v1alpha1/baselineadminnetworkpolicyegressrule.go
  go-controller/vendor/sigs.k8s.io/network-policy-api/pkg/client/applyconfiguration/apis/v1alpha1/baselineadminnetworkpolicyingressrule.go
  go-controller/vendor/sigs.k8s.io/network-policy-api/pkg/client/applyconfiguration/apis/v1alpha1/baselineadminnetworkpolicyspec.go
  go-controller/vendor/sigs.k8s.io/network-policy-api/pkg/client/applyconfiguration/apis/v1alpha1/baselineadminnetworkpolicystatus.go
  go-controller/vendor/sigs.k8s.io/network-policy-api/pkg/client/applyconfiguration/apis/v1alpha1/namespacedpeer.go
  go-controller/vendor/sigs.k8s.io/network-policy-api/pkg/client/applyconfiguration/apis/v1alpha1/namespacedpod.go
  go-controller/vendor/sigs.k8s.io/network-policy-api/pkg/client/applyconfiguration/apis/v1alpha1/namespacedpodpeer.go
  go-controller/vendor/sigs.k8s.io/network-policy-api/pkg/client/applyconfiguration/apis/v1alpha1/namespacedpodsubject.go
  go-controller/vendor/sigs.k8s.io/network-policy-api/pkg/client/applyconfiguration/apis/v1alpha1/port.go
  go-controller/vendor/sigs.k8s.io/network-policy-api/pkg/client/applyconfiguration/apis/v1alpha1/portrange.go
  go-controller/vendor/sigs.k8s.io/network-policy-api/pkg/client/clientset/versioned/typed/apis/v1alpha1/adminnetworkpolicy.go
  go-controller/vendor/sigs.k8s.io/network-policy-api/pkg/client/clientset/versioned/typed/apis/v1alpha1/baselineadminnetworkpolicy.go
  go-controller/vendor/sigs.k8s.io/network-policy-api/pkg/client/clientset/versioned/typed/apis/v1alpha1/fake/fake_adminnetworkpolicy.go
  go-controller/vendor/sigs.k8s.io/network-policy-api/pkg/client/clientset/versioned/typed/apis/v1alpha1/fake/fake_baselineadminnetworkpolicy.go
  helm/ovn-kubernetes/crds/policy.networking.k8s.io_adminnetworkpolicies.yaml
  helm/ovn-kubernetes/crds/policy.networking.k8s.io_baselineadminnetworkpolicies.yaml
  test/conformance/go.mod
  test/conformance/go.sum
  test/conformance/network_policy_v2_test.go
  test/e2e/acl_logging.go
Labels: feature, admin-network-policy

#4254 Add (B)ANP ACL/AddressSet count metrics
  docs/metrics.md
  go-controller/pkg/libovsdb/util/metric.go
  go-controller/pkg/metrics/ovnkube_controller.go
  go-controller/pkg/ovn/default_network_controller.go
Labels: admin-network-policy, metrics

#4288 set external_ids:ovn-set-local-ip="true" on nodes
  go-controller/pkg/node/default_node_network_controller.go
  go-controller/pkg/node/default_node_network_controller_test.go
  test/scripts/e2e-cp.sh
Labels: bug, ci-flake, ci-ipv6, core-networking

#4295 Fixes regression to service openflow rules
  go-controller/pkg/node/gateway_localnet_linux_test.go
  go-controller/pkg/node/gateway_shared_intf.go
Labels: bug, ci-flake

#4251 pkg/controller: add MultiController to allow common initial sync for multiple informers.
  go-controller/pkg/clustermanager/status_manager/status_manager.go
  go-controller/pkg/clustermanager/status_manager/zone_tracker/zone_tracker.go
  go-controller/pkg/controller/controller.go
  go-controller/pkg/controller/controller_test.go
Labels: code-cleanup, cluster-manager

#4298 e2e: wait for taints to be removed when setting node back to ready
  test/e2e/egressip.go
Labels: bug, ci-flake, e2e-testing

#4268 move retrieving upcall related metrics to coverage/show command
  go-controller/pkg/metrics/metrics.go
  go-controller/pkg/metrics/ovs.go
Labels: metrics

#4314 EQoS: Set force:true for server-side-apply
  go-controller/pkg/ovn/egressqos.go
Labels: kind/bug, egress-qos

#4253 Unskip ETP=local+terminating endpoints
  test/scripts/e2e-kind.sh
Labels: kind/bug, e2e-testing, ci

#4153 e2e, multi-net policies: Add ingress allow all and deny all tests
  test/e2e/multihoming.go
Labels: e2e-testing, network-policy, multi-networks

#4067 Reuse node-subnet from cache if exists
  go-controller/pkg/clustermanager/node/subnet_allocator.go
  go-controller/pkg/clustermanager/node/subnet_allocator_test.go
Labels: kind/bug, pods
