Repository ovn-kubernetes/ovn-kubernetes, pull requests merged in 2025-02, with the labels that each got.

#5022 Fixes 1 minute delay for primary UDN controllers to start
  go-controller/pkg/ovn/base_network_controller_secondary.go
  go-controller/pkg/ovn/base_network_controller_secondary_test.go
Labels: area/unit-testing

#5028 change slack url to point to the cloud-native workspace
  CONTRIBUTING.md
  README.md
  REVIEWING.md
  docs/governance/CONTRIBUTING.md
  docs/governance/REVIEWING.md
Labels: kind/documentation

#4834 kubevirt, e2e, udn: Add north south traffic and tcp connection checks for e/w and n/s.
  .github/workflows/test.yml
  test/e2e/go.mod
  test/e2e/go.sum
  test/e2e/images/crictl.go
  test/e2e/kubevirt.go
  test/e2e/kubevirt/ip.go
  test/e2e/kubevirt/pod.go
  test/e2e/kubevirt/types.go
  test/e2e/multihoming_utils.go
Labels: area/unit-testing, area/e2e-testing, feature/kubevirt-live-migration

#4964 kubevirt, l2, pudn: reconcile ipv4 gateway mac after live migration
  go-controller/pkg/kubevirt/pod.go
  go-controller/pkg/node/linkmanager/link_network_manager.go
  go-controller/pkg/ovn/base_network_controller_secondary.go
  go-controller/pkg/ovn/secondary_layer2_network_controller.go
  go-controller/pkg/util/arp.go
  test/e2e/kubevirt.go
  test/e2e/kubevirt/net.go
Labels: area/e2e-testing, feature/kubevirt-live-migration

#4917 kubevirt, localnet: Reduce live migration downtime.
  go-controller/pkg/kubevirt/pod.go
  go-controller/pkg/ovn/base_network_controller_pods.go
  go-controller/pkg/ovn/base_network_controller_secondary.go
  go-controller/pkg/ovn/multihoming_test.go
  go-controller/pkg/ovn/ovn_test.go
  go-controller/pkg/ovn/secondary_layer2_network_controller_test.go
  go-controller/pkg/ovn/secondary_layer3_network_controller_test.go
  test/e2e/kubevirt.go
Labels: area/unit-testing, area/e2e-testing, feature/kubevirt-live-migration

#5038 [UDN: host isolation] check that node uses cgroup v2.
  go-controller/go.mod
  go-controller/go.sum
  go-controller/pkg/node/default_node_network_controller.go
  go-controller/pkg/node/udn_isolation.go
  go-controller/pkg/node/udn_isolation_test.go
  go-controller/vendor/github.com/moby/sys/userns/LICENSE
  go-controller/vendor/github.com/moby/sys/userns/userns.go
  go-controller/vendor/github.com/moby/sys/userns/userns_linux.go
  go-controller/vendor/github.com/moby/sys/userns/userns_linux_fuzzer.go
  go-controller/vendor/github.com/moby/sys/userns/userns_unsupported.go
  go-controller/vendor/modules.txt
Labels: kind/documentation, area/unit-testing, feature/user-defined-network-segmentation

#5004 Handles unspecified protocol in network policy port
  go-controller/pkg/ovn/gress_policy.go
  go-controller/pkg/ovn/policy_test.go
Labels: area/unit-testing

#5040 [UDN: host isolation] don't return error for pods with no IPs assigned.
  go-controller/pkg/node/udn_isolation.go
  go-controller/pkg/node/udn_isolation_test.go
Labels: area/unit-testing

#5045 [UDN: host isolation]: fix lint
  go-controller/pkg/node/udn_isolation_test.go
Labels: area/unit-testing

#4994 Add e2e test to validate that egressfirewall supports DNS name in caps
  test/e2e/egress_firewall.go
Labels: area/e2e-testing

#5020 Change dynamic_neigh_routers to false for the Interconnect topology.
  go-controller/pkg/ovn/egressip_test.go
  go-controller/pkg/ovn/gateway.go
  go-controller/pkg/ovn/gateway_test.go
  go-controller/pkg/ovn/secondary_layer3_network_controller_test.go
Labels: feature/egress-ip, area/unit-testing

#4890 Small iptables/nftables fixes
  go-controller/pkg/node/gateway_init_linux_test.go
  go-controller/pkg/node/gateway_iptables.go
  go-controller/pkg/node/gateway_localnet_linux_test.go
Labels: area/unit-testing, feature/nftables

#4623 Add some more ExpectNoError checks to the e2e tests
  test/e2e/e2e.go
  test/e2e/egress_firewall.go
  test/e2e/external_gateways.go
  test/e2e/multi_node_zones_interconnect.go
  test/e2e/node_ip_mac_migration.go
  test/e2e/util.go
Labels: feature/egress-ip, area/e2e-testing, feature/egress-gateway

#4537 MultiNetworking Docs: Refactor to meet org template
  docs/features/multiple-networks/micro-segmentation-layer2-use-case.png
  docs/features/multiple-networks/micro-segmentation-localnet-use-case.png
  docs/features/multiple-networks/multi-homing-use-case-layer2.png
  docs/features/multiple-networks/multi-homing-use-case-localnet.png
  docs/features/multiple-networks/multi-homing.md
  docs/features/multiple-networks/multi-network-policies.md
Labels: kind/documentation

#5057 Fix CM-EIP controller UT flake
  go-controller/pkg/clustermanager/egressip_controller_test.go
Labels: feature/egress-ip, area/unit-testing

#4899 kind: ovn branch and repo
  .github/workflows/test.yml
  contrib/kind.sh
  dist/images/Dockerfile.fedora
  dist/images/Dockerfile.fedora.dev
  dist/images/Makefile
Labels: area/e2e-testing

#4366 Enhance EgressQoS CR as a generic QoS feature
  docs/okeps/okep-4380-network-qos.md
Labels: kind/enhancement, kind/documentation, feature/network-qos

#5069 Fixes CNI primary udn log message
  go-controller/pkg/cni/cni.go
  go-controller/pkg/cni/udn/primary_network.go
  go-controller/pkg/cni/udn/primary_network_test.go
Labels: area/unit-testing

#5046 Perf improvement: egress ip/qos reroute rules
  go-controller/pkg/ovn/default_network_controller.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/secondary_layer2_network_controller.go
  go-controller/pkg/ovn/secondary_layer3_network_controller.go
Labels: area/scale&performance, feature/user-defined-network-segmentation

#5052 Do not update EncapIP if it is configured
  go-controller/pkg/config/config.go
  go-controller/pkg/node/default_node_network_controller.go
  go-controller/pkg/node/default_node_network_controller_test.go
  go-controller/pkg/node/node_ip_handler_linux.go
Labels: area/unit-testing

#5080 Serialize egress IP handling
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/egressip_test.go
Labels: feature/egress-ip, area/unit-testing

#5059 docs/multi-homing: Add missing physicalNetworkName reference
  docs/features/multiple-networks/multi-homing.md
Labels: kind/documentation

#5015 ovspinning: Enable the feature at runtime
  go-controller/pkg/node/ovspinning/ovspinning_linux.go
  go-controller/pkg/node/ovspinning/ovspinning_linux_test.go
Labels: area/unit-testing

#4929 Add BGP support for UDN
  go-controller/pkg/clustermanager/userdefinednetwork/controller_helper.go
  go-controller/pkg/clustermanager/userdefinednetwork/template/net-attach-def-template.go
  go-controller/pkg/clustermanager/userdefinednetwork/template/net-attach-def-template_test.go
  go-controller/pkg/node/default_node_network_controller.go
  go-controller/pkg/node/gateway.go
  go-controller/pkg/node/gateway_init.go
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/node/gateway_udn.go
  go-controller/pkg/node/gateway_udn_test.go
  go-controller/pkg/node/management-port.go
  go-controller/pkg/node/openflow_manager.go
  go-controller/pkg/node/secondary_node_network_controller.go
  go-controller/pkg/ovn/base_network_controller.go
  go-controller/pkg/ovn/default_network_controller.go
  go-controller/pkg/ovn/gateway.go
  go-controller/pkg/ovn/secondary_layer2_network_controller.go
  go-controller/pkg/ovn/secondary_layer3_network_controller.go
  go-controller/pkg/ovn/secondary_localnet_network_controller.go
Labels: kind/documentation, feature/egress-ip, area/unit-testing, feature/user-defined-network-segmentation, feature/bgp
