Repository ovn-kubernetes/ovn-kubernetes, pull requests merged in 2025-03, with the labels that each got.

#4946 RouteAdvertisements: fail if DisableMP is unset
  go-controller/pkg/clustermanager/routeadvertisements/controller.go
  go-controller/pkg/clustermanager/routeadvertisements/controller_test.go
Labels: area/unit-testing

#5070 Limit cluster manager node allocator updates/logs
  go-controller/pkg/clustermanager/clustermanager.go
  go-controller/pkg/clustermanager/clustermanager_test.go
  go-controller/pkg/clustermanager/network_cluster_controller.go
  go-controller/pkg/clustermanager/node/node_allocator.go
  go-controller/pkg/clustermanager/zone_cluster_controller.go
  go-controller/pkg/networkmanager/api.go
  go-controller/pkg/networkmanager/nad_controller.go
  go-controller/pkg/networkmanager/nad_controller_test.go
  go-controller/pkg/networkmanager/network_controller.go
  go-controller/pkg/node/gateway_udn.go
  go-controller/pkg/node/gateway_udn_test.go
  go-controller/pkg/node/secondary_node_network_controller.go
  go-controller/pkg/node/secondary_node_network_controller_test.go
  go-controller/pkg/ovn/base_network_controller.go
  go-controller/pkg/ovn/base_network_controller_secondary.go
  go-controller/pkg/ovn/base_network_controller_secondary_test.go
  go-controller/pkg/ovn/secondary_layer2_network_controller.go
  go-controller/pkg/ovn/secondary_layer3_network_controller.go
  go-controller/pkg/ovn/zone_interconnect/zone_ic_handler.go
  go-controller/pkg/testing/util.go
  go-controller/pkg/types/const.go
  go-controller/pkg/util/multi_network.go
  go-controller/pkg/util/node_annotations.go
  go-controller/pkg/util/node_annotations_unit_test.go
  go-controller/pkg/util/subnet_annotations.go
  go-controller/pkg/util/util.go
Labels: area/unit-testing, area/e2e-testing

#4879 EgressService: add additionalPrinterColumn for .status.host
  dist/templates/k8s.ovn.org_egressservices.yaml.j2
  go-controller/pkg/crd/egressservice/v1/types.go
Labels: lifecycle/stale

#5099 Add support to advertise EIPs for UDNs
  go-controller/pkg/clustermanager/routeadvertisements/controller.go
  go-controller/pkg/clustermanager/routeadvertisements/controller_test.go
  go-controller/pkg/factory/factory.go
  go-controller/pkg/networkmanager/api.go
  go-controller/pkg/networkmanager/nad_controller.go
  go-controller/pkg/testing/networkmanager/fake.go
Labels: area/unit-testing

#5110 awesome-pages became awesome-nav
  MEETINGS.md
  mkdocs.yml
  requirements.txt
Labels: kind/documentation

#5125 net controller: reconcile on physical net name updates
  go-controller/pkg/util/multi_network.go
  go-controller/pkg/util/multi_network_test.go
Labels: area/unit-testing

#5121 Add BGP Tests: Phase1
  .github/workflows/test.yml
  contrib/kind-common
  contrib/kind.sh
  dist/images/daemonset.sh
  dist/templates/ovn-setup.yaml.j2
  test/e2e/e2e.go
  test/e2e/external_gateways.go
  test/e2e/go.mod
  test/e2e/go.sum
  test/e2e/route_advertisements.go
  test/e2e/util.go
  test/scripts/e2e-cp.sh
  test/scripts/e2e-kind.sh
Labels: area/e2e-testing, feature/egress-gateway

#5127 E2Es: drop container rights for unpriv pods
  test/e2e/multihoming_utils.go
Labels: area/e2e-testing

#4850 udn: Add event when ip range full
  go-controller/pkg/allocator/ip/allocator.go
  go-controller/pkg/allocator/ip/subnet/allocator.go
  go-controller/pkg/clustermanager/pod/allocator.go
  go-controller/pkg/clustermanager/pod/allocator_test.go
  go-controller/pkg/ovn/base_network_controller_pods.go
Labels: area/unit-testing

#5124 Add BGP Tests: Phase2
  contrib/kind-common
  test/e2e/e2e.go
  test/e2e/network_segmentation.go
  test/e2e/route_advertisements.go
Labels: area/e2e-testing, feature/egress-gateway

#5041 Allow default network pods to reach localnet on the same node
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/node/node_ip_handler_linux.go
  go-controller/pkg/node/openflow_manager.go
  go-controller/pkg/types/const.go
  test/e2e/kubevirt.go
  test/e2e/localnet-underlay.go
  test/e2e/multihoming.go
  test/e2e/multihoming_utils.go
  test/e2e/network_segmentation.go
  test/e2e/network_segmentation_policy.go
Labels: area/unit-testing, area/e2e-testing, feature/services&endpoints, feature/kubevirt-live-migration

#5141 fix typo in networkqos okep
  docs/okeps/okep-4380-network-qos.md
Labels: kind/documentation
