Repository ovn-kubernetes/ovn-kubernetes, pull requests merged in 2025-06, with the labels that each got.

#5265 Configures ephemeral port range for OVN SNAT'ing
  go-controller/pkg/config/config.go
  go-controller/pkg/config/utils.go
  go-controller/pkg/libovsdb/ops/router.go
  go-controller/pkg/ovn/gateway_test.go
  go-controller/pkg/ovn/namespace_test.go
Labels: area/unit-testing

#5279 udn: Fix NAD template for join subnets field
  go-controller/pkg/clustermanager/userdefinednetwork/template/net-attach-def-template.go
  go-controller/pkg/clustermanager/userdefinednetwork/template/net-attach-def-template_test.go
Labels: area/unit-testing

#5113 Enable SNAT bypass in mgmtport-snat chain for specified subnets
  go-controller/pkg/node/default_node_network_controller_test.go
  go-controller/pkg/node/gateway_init_linux_test.go
  go-controller/pkg/node/managementport/port_linux.go
  go-controller/pkg/node/managementport/port_linux_test.go
  go-controller/pkg/node/obj_retry_node.go
  go-controller/pkg/ovnwebhook/nodeadmission.go
  go-controller/pkg/types/const.go
  go-controller/pkg/util/node_annotations.go
  go-controller/pkg/util/node_annotations_unit_test.go
Labels: area/unit-testing, area/e2e-testing, feature/admin-network-policy, feature/services&endpoints

#5284 Add the IP rule for a UDN only when it is advertised to the default VRF
  go-controller/pkg/node/gateway_udn.go
  go-controller/pkg/node/gateway_udn_test.go
Labels: area/unit-testing

#5026 stop adding events to NAD if the network type is not ovn-k
  go-controller/pkg/config/cni.go
  go-controller/pkg/networkmanager/nad_controller.go
  go-controller/pkg/networkmanager/nad_controller_test.go
  go-controller/pkg/util/multi_network.go
  go-controller/pkg/util/multi_network_test.go
Labels: feature/egress-ip, area/unit-testing, feature/egress-qos

#5308 [e2e] kubevirt: generate test name that is compatible with file path.
  test/e2e/kubevirt.go
Labels: area/e2e-testing, feature/kubevirt-live-migration

#5291 [UDN,BGP] Fix the host drop rules to match on new state
  go-controller/pkg/node/gateway_shared_intf.go
  test/e2e/route_advertisements.go
Labels: kind/bug, area/e2e-testing, feature/bgp

#5312 Use forward slash as path separator for some sysctl commands
  go-controller/pkg/node/gateway_init.go
  go-controller/pkg/node/gateway_init_linux_test.go
  go-controller/pkg/node/gateway_udn.go
  go-controller/pkg/node/gateway_udn_test.go
Labels: area/unit-testing

#5084 SDN-5676: Add component + feature name to e2e tests
  test/e2e/acl_logging.go
  test/e2e/e2e_suite_test.go
  test/e2e/egress_firewall.go
  test/e2e/egress_services.go
  test/e2e/egressip.go
  test/e2e/egressqos.go
  test/e2e/external_gateways.go
  test/e2e/feature/features.go
  test/e2e/gateway_mtu.go
  test/e2e/kubevirt.go
  test/e2e/label/component.go
  test/e2e/label/label.go
  test/e2e/label/override.go
  test/e2e/multi_node_zones_interconnect.go
  test/e2e/multicast.go
  test/e2e/multihoming.go
  test/e2e/network_segmentation.go
  test/e2e/network_segmentation_endpointslices_mirror.go
  test/e2e/network_segmentation_policy.go
  test/e2e/network_segmentation_services.go
  test/e2e/node_ip_mac_migration.go
  test/e2e/ovspinning.go
  test/e2e/service.go
  test/e2e/status_manager.go
  test/e2e/testcontext.go
  test/e2e/unidling.go
Labels: feature/egress-ip, area/unit-testing, area/e2e-testing, feature/egress-service, feature/services&endpoints, feature/kubevirt-live-migration, feature/egress-gateway, feature/egress-qos
