Repository ovn-kubernetes/ovn-kubernetes, pull requests merged in 2025-08, with the labels that each got.

#5423 Add BGP docs
  docs/api-reference/introduction.md
  docs/api-reference/routeadvertisements-api-spec.md
  docs/features/bgp-integration/route-advertisements.md
  mkdocs.yml
Labels: kind/documentation

#5297 OKEP 5296: Upstreams BGP enhancement
  docs/images/bgp_novpn_advertisements.png
  docs/images/vrf-lite.png
  docs/okeps/okep-5296-bgp.md
  mkdocs.yml
Labels: kind/documentation

#5464 OVN Kubernetes v1.1.0 Release
  dist/images/ovndb-raft-functions.sh
  dist/images/ovnkube.sh
  dist/images/run-ovn-dpu.sh
  dist/images/run-ovnkube-node-dpu.sh
  dist/templates/ovnkube-control-plane.yaml.j2
  dist/templates/ovnkube-db-raft.yaml.j2
  dist/templates/ovnkube-db.yaml.j2
  dist/templates/ovnkube-identity.yaml.j2
  dist/templates/ovnkube-master.yaml.j2
  dist/templates/ovnkube-node.yaml.j2
  dist/templates/ovnkube-single-node-zone.yaml.j2
  dist/templates/ovnkube-zone-controller.yaml.j2
  dist/templates/ovs-node.yaml.j2
  go-controller/pkg/config/config.go
  helm/ovn-kubernetes/Chart.yaml
  helm/ovn-kubernetes/README.md
  helm/ovn-kubernetes/charts/ovn-ipsec/Chart.yaml
  helm/ovn-kubernetes/charts/ovnkube-control-plane/Chart.yaml
  helm/ovn-kubernetes/charts/ovnkube-control-plane/templates/ovnkube-control-plane.yaml
  helm/ovn-kubernetes/charts/ovnkube-db-raft/Chart.yaml
  helm/ovn-kubernetes/charts/ovnkube-db-raft/templates/statefulset.yaml
  helm/ovn-kubernetes/charts/ovnkube-db/Chart.yaml
  helm/ovn-kubernetes/charts/ovnkube-db/templates/deployment.yaml
  helm/ovn-kubernetes/charts/ovnkube-identity/Chart.yaml
  helm/ovn-kubernetes/charts/ovnkube-identity/templates/ovnkube-identity.yaml
  helm/ovn-kubernetes/charts/ovnkube-master/Chart.yaml
  helm/ovn-kubernetes/charts/ovnkube-master/templates/deployment-ovnkube-master.yaml
  helm/ovn-kubernetes/charts/ovnkube-node-dpu-host/Chart.yaml
  helm/ovn-kubernetes/charts/ovnkube-node-dpu-host/templates/ovnkube-node-dpu-host.yaml
  helm/ovn-kubernetes/charts/ovnkube-node-dpu/Chart.yaml
  helm/ovn-kubernetes/charts/ovnkube-node-dpu/templates/ovnkube-node-dpu.yaml
  helm/ovn-kubernetes/charts/ovnkube-node/Chart.yaml
  helm/ovn-kubernetes/charts/ovnkube-node/templates/ovnkube-node.yaml
  helm/ovn-kubernetes/charts/ovnkube-single-node-zone/Chart.yaml
  helm/ovn-kubernetes/charts/ovnkube-single-node-zone/templates/ovnkube-single-node-zone.yaml
  helm/ovn-kubernetes/charts/ovnkube-zone-controller/Chart.yaml
  helm/ovn-kubernetes/charts/ovnkube-zone-controller/templates/ovnkube-zone-controller.yaml
  helm/ovn-kubernetes/charts/ovs-node/Chart.yaml
  helm/ovn-kubernetes/charts/ovs-node/templates/ovs-node.yaml
  helm/sdn-dashboard/Chart.yaml
Labels: kind/documentation

#5425 Prevent changes to default-network pod annotation
  .github/workflows/test.yml
  dist/images/daemonset.sh
  dist/templates/rbac-ovnkube-master.yaml.j2
  test/e2e/network_segmentation_default_network_annotation.go
Labels: area/e2e-testing

#5429 Fix dnsnameresolver address set
  .github/workflows/test.yml
  go-controller/pkg/ovn/dns_name_resolver/external_dns.go
  go-controller/pkg/ovn/dns_name_resolver/external_dns_test.go
  go-controller/pkg/ovn/dns_name_resolver/external_dns_tracker.go
  test/e2e/egress_firewall.go
  test/e2e/util.go
Labels: area/unit-testing, area/e2e-testing, feature/egress-firewall

#5463 SNAT traffic from advertised UDNs towards UDN enabled default services
  go-controller/pkg/node/gateway_udn.go
  go-controller/pkg/node/gateway_udn_test.go
  go-controller/pkg/ovn/base_network_controller_secondary.go
  go-controller/pkg/ovn/gateway.go
Labels: area/unit-testing

#5396 Remove OVNNodeGRLRPAddrs annotation
  go-controller/hybrid-overlay/pkg/controller/ovn_node_linux.go
  go-controller/hybrid-overlay/pkg/controller/ovn_node_linux_test.go
  go-controller/pkg/allocator/pod/pod_annotation.go
  go-controller/pkg/allocator/pod/pod_annotation_test.go
  go-controller/pkg/clustermanager/clustermanager_test.go
  go-controller/pkg/clustermanager/node/node_allocator.go
  go-controller/pkg/clustermanager/node/node_allocator_test.go
  go-controller/pkg/clustermanager/zone_cluster_controller.go
  go-controller/pkg/generator/udn/join_ips.go
  go-controller/pkg/kubevirt/pod.go
  go-controller/pkg/kubevirt/router.go
  go-controller/pkg/ovn/base_network_controller.go
  go-controller/pkg/ovn/base_network_controller_pods.go
  go-controller/pkg/ovn/controller/egressservice/egressservice_zone_node.go
  go-controller/pkg/ovn/default_network_controller.go
  go-controller/pkg/ovn/egressfirewall_test.go
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/egressip_test.go
  go-controller/pkg/ovn/egressip_udn_l2_test.go
  go-controller/pkg/ovn/egressip_udn_l3_test.go
  go-controller/pkg/ovn/egressservices_test.go
  go-controller/pkg/ovn/hybrid_test.go
  go-controller/pkg/ovn/kubevirt_test.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/master_test.go
  go-controller/pkg/ovn/multicast_test.go
  go-controller/pkg/ovn/namespace.go
  go-controller/pkg/ovn/namespace_test.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/secondary_layer2_network_controller.go
  go-controller/pkg/ovn/secondary_layer3_network_controller.go
  go-controller/pkg/ovn/secondary_layer3_network_controller_test.go
  go-controller/pkg/ovn/zone_interconnect/zone_ic_handler.go
  go-controller/pkg/ovn/zone_interconnect/zone_ic_handler_test.go
  go-controller/pkg/util/node_annotations.go
  go-controller/pkg/util/node_annotations_unit_test.go
  go-controller/pkg/util/pod_annotation.go
  test/e2e/kubevirt.go
  test/e2e/kubevirt/net.go
Labels: feature/egress-ip, area/unit-testing, area/e2e-testing, feature/admin-network-policy, feature/egress-service, feature/kubevirt-live-migration, feature/egress-gateway, feature/egress-firewall, feature/egress-qos

#5507 Ensure that UDN update events trigger updates for NAD annotations correctly
  go-controller/pkg/clustermanager/userdefinednetwork/controller_helper.go
  go-controller/pkg/clustermanager/userdefinednetwork/controller_test.go
Labels: area/unit-testing

#5515 Adds CNI unprivileged mode unit and e2e testing
  .github/workflows/test.yml
  go-controller/pkg/cni/cni_test.go
  go-controller/pkg/cni/cniserver_test.go
  go-controller/pkg/cni/cnishim.go
  go-controller/pkg/cni/cnishim_test.go
  go-controller/pkg/config/config.go
Labels: area/unit-testing
