Repository ovn-kubernetes/ovn-kubernetes, pull requests merged in 2025-09, with the labels that each got.

#4885 multi-homing, tests: do not use OVN provided IPAM in L3 nets
  go-controller/pkg/ovn/base_network_controller.go
  go-controller/pkg/ovn/egressfirewall_test.go
  go-controller/pkg/ovn/egressip_udn_l3_test.go
  go-controller/pkg/ovn/master_test.go
  go-controller/pkg/ovn/multihoming_test.go
Labels: area/unit-testing, feature/multi-networks, feature/egress-firewall

#5411 Expose error when IP conflict occurs on pod creation
  go-controller/pkg/allocator/pod/pod_annotation.go
  go-controller/pkg/allocator/pod/pod_annotation_test.go
  go-controller/pkg/clustermanager/pod/allocator.go
  test/e2e/kubevirt.go
  test/e2e/multihoming_utils.go
  test/e2e/network_segmentation.go
  test/e2e/network_segmentation_preconfigured_layer2.go
Labels: kind/documentation, feature/egress-ip, area/unit-testing, area/e2e-testing, feature/admin-network-policy, feature/egress-service, feature/services&endpoints, feature/kubevirt-live-migration, feature/egress-gateway

#5564 Update maintainers affiliation
  MAINTAINERS.md
Labels: kind/documentation

#5558 Additional e2e enhancements
  test/e2e/deploymentconfig/config.go
  test/e2e/e2e.go
  test/e2e/e2e_suite_test.go
  test/e2e/egressip.go
  test/e2e/feature/features.go
  test/e2e/network_segmentation.go
  test/e2e/network_segmentation_api_validations.go
  test/e2e/network_segmentation_default_network_annotation.go
  test/e2e/network_segmentation_localnet.go
  test/e2e/network_segmentation_policy.go
  test/e2e/networkqos.go
  test/e2e/service.go
Labels: feature/egress-ip, area/unit-testing, area/e2e-testing, feature/services&endpoints

#5490 Change networks to relatively rare CIDR ranges
  test/e2e/kubevirt.go
  test/e2e/multihoming.go
  test/e2e/network_segmentation.go
  test/e2e/network_segmentation_endpointslices_mirror.go
  test/e2e/network_segmentation_policy.go
  test/e2e/network_segmentation_preconfigured_layer2.go
  test/e2e/network_segmentation_services.go
Labels: area/e2e-testing, feature/kubevirt-live-migration

#5582 Revert "multi-homing, tests: do not use OVN provided IPAM in L3 nets"
  go-controller/pkg/ovn/base_network_controller.go
  go-controller/pkg/ovn/egressfirewall_test.go
  go-controller/pkg/ovn/egressip_udn_l3_test.go
  go-controller/pkg/ovn/master_test.go
  go-controller/pkg/ovn/multihoming_test.go
Labels: area/unit-testing, feature/egress-firewall

#5553 OKEP-5552: Add support for dynamic UDN allocation per node
  docs/okeps/okep-5552-dynamic-udn-node-allocation.md
  mkdocs.yml
Labels: kind/documentation
