Repository ovn-kubernetes/ovn-kubernetes, pull requests merged in 2025-01, with the labels that each got.

#4842 e2e, CUDN: Improve stability
  test/e2e/network_segmentation.go
Labels: area/e2e-testing, feature/user-defined-network-segmentation

#4934 Add missing enum validation for RouteAdvertisements
  dist/templates/k8s.ovn.org_routeadvertisements.yaml.j2
  go-controller/pkg/crd/routeadvertisements/v1/types.go
Labels: kind/bug, feature/bgp

#4943 Fix subnet check for assigned pod IPs
  .github/workflows/test.yml
  test/e2e/network_segmentation.go
  test/e2e/network_segmentation_policy.go
Labels: area/e2e-testing, feature/user-defined-network-segmentation

#4835 Import learnt BGP routes into OVN
  contrib/kind.sh
  dist/templates/rbac-ovnkube-cluster-manager.yaml.j2
  dist/templates/rbac-ovnkube-master.yaml.j2
  go-controller/pkg/controllermanager/controller_manager.go
  go-controller/pkg/libovsdb/ops/router.go
  go-controller/pkg/ovn/base_network_controller.go
  go-controller/pkg/ovn/default_network_controller.go
  go-controller/pkg/ovn/ovn_test.go
  go-controller/pkg/ovn/routeimport/route_import.go
  go-controller/pkg/ovn/routeimport/route_import_test.go
  go-controller/pkg/testing/libovsdb/matchers.go
  go-controller/pkg/util/mocks/NetLinkOps.go
  go-controller/pkg/util/net_linux.go
  go-controller/vendor/github.com/go-logr/logr/testr/testr.go
  go-controller/vendor/modules.txt
Labels: kind/documentation, feature/egress-ip, area/unit-testing, feature/services&endpoints, feature/bgp, feature/egress-qos

#4884 UDN: Rename NetworkReady condition to NetworkCreated
  go-controller/pkg/clustermanager/userdefinednetwork/controller.go
  go-controller/pkg/clustermanager/userdefinednetwork/controller_test.go
  test/e2e/network_segmentation.go
Labels: area/unit-testing, area/e2e-testing, feature/user-defined-network-segmentation

#4947 Fix WatchNamespaces for UDNs
  go-controller/pkg/ovn/base_network_controller_namespace.go
  go-controller/pkg/ovn/base_network_controller_namespace_test.go
Labels: kind/bug, area/unit-testing, feature/user-defined-network-segmentation

#4893 Migrate EgressService rules from iptables to nftables
  go-controller/pkg/node/controllers/egressservice/egressservice_node.go
  go-controller/pkg/node/egress_service_test.go
  go-controller/pkg/node/gateway_init_linux_test.go
  go-controller/pkg/node/gateway_iptables.go
  go-controller/pkg/node/gateway_localnet_linux_test.go
  go-controller/pkg/node/gateway_shared_intf.go
Labels: area/unit-testing

#4951 Ensure network manager is shutdown in tests
  go-controller/pkg/ovn/egressip_udn_l2_test.go
  go-controller/pkg/ovn/secondary_layer2_network_controller_test.go
Labels: area/unit-testing

#4941 Helm image secrets -- backport to release-1.0
  helm/ovn-kubernetes/Chart.yaml
  helm/ovn-kubernetes/README.md
  helm/ovn-kubernetes/charts/ovn-ipsec/templates/daemonset.yaml
  helm/ovn-kubernetes/charts/ovnkube-control-plane/templates/ovnkube-control-plane.yaml
  helm/ovn-kubernetes/charts/ovnkube-db/templates/deployment.yaml
  helm/ovn-kubernetes/charts/ovnkube-identity/templates/ovnkube-identity.yaml
  helm/ovn-kubernetes/charts/ovnkube-master/templates/deployment-ovnkube-master.yaml
  helm/ovn-kubernetes/charts/ovnkube-node-dpu-host/templates/ovnkube-node-dpu-host.yaml
  helm/ovn-kubernetes/charts/ovnkube-node-dpu/templates/ovnkube-node-dpu.yaml
  helm/ovn-kubernetes/charts/ovnkube-node/templates/ovnkube-node.yaml
  helm/ovn-kubernetes/charts/ovnkube-single-node-zone/templates/ovnkube-single-node-zone.yaml
  helm/ovn-kubernetes/charts/ovnkube-zone-controller/templates/ovnkube-zone-controller.yaml
  helm/ovn-kubernetes/charts/ovs-node/templates/ovs-node.yaml
  helm/ovn-kubernetes/templates/_helpers.tpl
  helm/ovn-kubernetes/templates/ovn-setup.yaml
Labels: kind/documentation, area/unit-testing

#4935 Services controller: Handle startup failures
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/ovn/controller/services/services_controller.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/secondary_layer2_network_controller.go
  go-controller/pkg/ovn/secondary_layer3_network_controller.go
Labels: feature/services&endpoints, feature/user-defined-network-segmentation

#4854 managedTap: Use the new bridge type name
  contrib/kind-common
  test/e2e/kubevirt.go
Labels: area/e2e-testing, feature/kubevirt-live-migration

#4959 e2e,net-seg,udn: Wait for condition to populate
  test/e2e/network_segmentation.go
Labels: area/e2e-testing

#4877 OVN DNC: ignore all transit switches when cleaning up stale Nodes OVN switch
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/multihoming_test.go
  go-controller/pkg/ovn/zone_interconnect/zone_ic_handler.go
  test/e2e/network_segmentation.go
Labels: kind/bug, area/unit-testing, area/e2e-testing, feature/user-defined-network-segmentation

#4970 e2e,udn crd: Use the right IP family according to env
  test/e2e/network_segmentation.go
Labels: kind/bug, area/e2e-testing, feature/user-defined-network-segmentation

#4975 Fix pods cleanup in ClusterUserDefinedNetwork test
  test/e2e/network_segmentation.go
Labels: area/e2e-testing

#4912 Enforce udn ns label
  dist/templates/rbac-ovnkube-master.yaml.j2
  go-controller/pkg/clustermanager/endpointslicemirror/endpointslice_mirror_controller_test.go
  go-controller/pkg/clustermanager/userdefinednetwork/controller_helper.go
  go-controller/pkg/clustermanager/userdefinednetwork/controller_test.go
  go-controller/pkg/libovsdb/ops/lbgroup.go
  go-controller/pkg/networkmanager/nad_controller.go
  go-controller/pkg/networkmanager/nad_controller_test.go
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/egressip_test.go
  go-controller/pkg/ovn/egressip_udn_l2_test.go
  go-controller/pkg/ovn/egressip_udn_l3_test.go
  go-controller/pkg/ovn/multicast_test.go
  go-controller/pkg/ovn/namespace_test.go
  go-controller/pkg/ovn/ovn_test.go
  go-controller/pkg/ovn/secondary_layer2_network_controller.go
  go-controller/pkg/ovn/secondary_layer2_network_controller_test.go
  go-controller/pkg/ovn/secondary_layer3_network_controller.go
  go-controller/pkg/ovn/secondary_layer3_network_controller_test.go
  go-controller/pkg/types/const.go
  go-controller/pkg/util/util.go
  test/e2e/e2e.go
  test/e2e/egressip.go
  test/e2e/kubevirt.go
  test/e2e/multicast.go
  test/e2e/network_segmentation.go
  test/e2e/network_segmentation_endpointslices_mirror.go
  test/e2e/network_segmentation_policy.go
  test/e2e/network_segmentation_services.go
  test/e2e/util.go
Labels: kind/bug, feature/egress-ip, area/unit-testing, area/e2e-testing, feature/kubevirt-live-migration, feature/user-defined-network-segmentation

#4933 (C)UDN CRD: update CEL and add IPAM section
  dist/templates/k8s.ovn.org_clusteruserdefinednetworks.yaml.j2
  dist/templates/k8s.ovn.org_userdefinednetworks.yaml.j2
  go-controller/pkg/clustermanager/userdefinednetwork/controller_test.go
  go-controller/pkg/clustermanager/userdefinednetwork/template/net-attach-def-template.go
  go-controller/pkg/clustermanager/userdefinednetwork/template/net-attach-def-template_test.go
  go-controller/pkg/crd/userdefinednetwork/v1/apis/applyconfiguration/userdefinednetwork/v1/ipamconfig.go
  go-controller/pkg/crd/userdefinednetwork/v1/apis/applyconfiguration/userdefinednetwork/v1/layer2config.go
  go-controller/pkg/crd/userdefinednetwork/v1/apis/applyconfiguration/utils.go
  go-controller/pkg/crd/userdefinednetwork/v1/shared.go
  go-controller/pkg/crd/userdefinednetwork/v1/zz_generated.deepcopy.go
Labels: area/unit-testing, feature/user-defined-network-segmentation

#4956 UDN EIP IP: change scope from link to global
  go-controller/pkg/node/gateway_egressip.go
Labels: kind/bug, feature/egress-ip, feature/user-defined-network-segmentation

#4977 EIP: reduce log spam from errors that arent really errors due to race…
  go-controller/pkg/ovn/egressip.go
Labels: feature/egress-ip, feature/user-defined-network-segmentation

#4887 Dockerfile.fedora: Bump OVN to ovn24.09-24.09.1-10.fc41
  dist/images/Dockerfile.fedora
  test/e2e/external_gateways.go
Labels: area/e2e-testing, feature/egress-gateway

#4984 Refactor and fix UDN/CUDN readiness checks
  test/e2e/network_segmentation.go
  test/e2e/network_segmentation_endpointslices_mirror.go
Labels: area/e2e-testing

#4986 e2e, pudn: Use port to check overlapping isolation
  test/e2e/network_segmentation.go
Labels: area/e2e-testing

#4976 Remove per-pod-SNAT support for UDNs
  go-controller/pkg/config/config.go
  go-controller/pkg/ovn/base_network_controller_secondary.go
  go-controller/pkg/ovn/gateway.go
  go-controller/pkg/ovn/secondary_layer2_network_controller_test.go
  go-controller/pkg/ovn/secondary_layer3_network_controller_test.go
Labels: area/unit-testing, feature/user-defined-network-segmentation

#4957 Use annotations in mirrored EndpointSlices for potentially long values
  docs/features/multiple-networks/mirrored-endpointslices.md
  go-controller/pkg/clustermanager/endpointslicemirror/endpointslice_mirror_controller.go
  go-controller/pkg/clustermanager/endpointslicemirror/endpointslice_mirror_controller_test.go
  go-controller/pkg/testing/kube.go
  go-controller/pkg/types/const.go
  go-controller/pkg/util/util.go
  go-controller/pkg/util/util_unit_test.go
Labels: kind/bug, kind/documentation, area/unit-testing, feature/user-defined-network-segmentation

#4988 docs: update (C)UDN CRD reference.
  docs/api-reference/userdefinednetwork-api-spec.md
Labels: kind/documentation

#4993 Do not rely on the active network while removing the EndpointSlice
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/util/util.go
  go-controller/pkg/util/util_unit_test.go
Labels: kind/bug, area/unit-testing, feature/user-defined-network-segmentation

#4996 Fix race between NAD and NetPol deletions
  go-controller/pkg/ovn/base_network_controller.go
  go-controller/pkg/util/util.go
Labels: kind/bug, feature/user-defined-network-segmentation

#4998 Fixes SNAT removal with egress IP
  go-controller/pkg/ovn/egressip.go
Labels: feature/egress-ip

#4761 [release-1.0]: Fix several issues for supporting DPUs
  dist/images/Dockerfile.ubuntu.arm64
  dist/images/daemonset.sh
  dist/images/ovnkube.sh
  dist/templates/ovnkube-master.yaml.j2
  dist/templates/ovnkube-node.yaml.j2
  go-controller/cmd/ovnkube/ovnkube.go
  go-controller/pkg/config/config.go
  go-controller/pkg/config/config_test.go
  go-controller/pkg/node/default_node_network_controller.go
  go-controller/pkg/node/default_node_network_controller_test.go
  go-controller/pkg/node/gateway_init.go
  go-controller/pkg/node/gateway_init_linux_test.go
  go-controller/pkg/node/node_ip_handler_linux.go
  go-controller/pkg/ovn/base_network_controller_pods.go
  go-controller/pkg/ovn/master.go
  helm/ovn-kubernetes/charts/ovnkube-master/templates/deployment-ovnkube-master.yaml
  helm/ovn-kubernetes/charts/ovnkube-node-dpu/templates/ovnkube-node-dpu.yaml
  helm/ovn-kubernetes/charts/ovnkube-node-dpu/values.yaml
  helm/ovn-kubernetes/templates/_helpers.tpl
  helm/ovn-kubernetes/templates/rbac-ovnkube-node.yaml
  helm/ovn-kubernetes/values.yaml
Labels: kind/documentation, area/unit-testing

#4999 UDN isolation: trigger update on open-default-ports annotation change.
  go-controller/pkg/node/udn_isolation.go
  go-controller/pkg/node/udn_isolation_test.go
Labels: area/unit-testing, feature/user-defined-network-segmentation

#4939 Increase scalability of secondary network controllers by multiplexing informers.
  go-controller/pkg/clustermanager/clustermanager.go
  go-controller/pkg/clustermanager/node/subnet_allocator.go
  go-controller/pkg/clustermanager/secondary_network_cluster_manager.go
  go-controller/pkg/controllermanager/controller_manager.go
  go-controller/pkg/controllermanager/node_controller_manager.go
  go-controller/pkg/factory/factory.go
  go-controller/pkg/factory/handler.go
  go-controller/pkg/node/gateway_localnet_linux_test.go
  go-controller/pkg/node/node_ip_handler_linux_test.go
  go-controller/pkg/node/openflow_manager.go
  go-controller/pkg/node/ovn_test.go
  go-controller/pkg/ovn/ovn_test.go
  go-controller/pkg/testing/exec.go
Labels: feature/egress-ip, area/unit-testing, area/scale&performance, feature/user-defined-network-segmentation

#4997 Set network ID on netInfo even when already annotated
  go-controller/pkg/networkmanager/nad_controller.go
  go-controller/pkg/networkmanager/nad_controller_test.go
  go-controller/pkg/networkmanager/network_controller_test.go
  go-controller/pkg/util/multi_network.go
Labels: kind/bug, area/unit-testing, feature/user-defined-network-segmentation

#5002 Fix doc: Replace ovn-org with ovn-kubernetes to reflect repo move
  contrib/kind-helm.sh
  docs/developer-guide/image-build.md
  docs/installation/launching-ovn-kubernetes-with-helm.md
  helm/ovn-kubernetes/Chart.yaml
  helm/ovn-kubernetes/README.md
  helm/ovn-kubernetes/README.md.gotmpl
  helm/ovn-kubernetes/values-multi-node-zone.yaml
  helm/ovn-kubernetes/values-no-ic.yaml
  helm/ovn-kubernetes/values-single-node-zone.yaml
Labels: kind/documentation

#5007 Reconcile pending pods when a NAD is added to an existing network
  go-controller/pkg/clustermanager/network_cluster_controller.go
  go-controller/pkg/ovn/base_network_controller.go
  go-controller/pkg/retry/obj_retry.go
  go-controller/pkg/util/multi_network.go
  test/e2e/multihoming.go
Labels: area/e2e-testing

#5013 Fix getting active network secondary udn
  go-controller/pkg/clustermanager/pod/allocator.go
  go-controller/pkg/clustermanager/userdefinednetwork/controller_test.go
  go-controller/pkg/ovn/base_network_controller.go
  go-controller/pkg/ovn/base_network_controller_pods.go
  go-controller/pkg/ovn/base_network_controller_secondary.go
  go-controller/pkg/ovn/base_secondary_layer2_network_controller.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/pods.go
  go-controller/pkg/ovn/secondary_layer2_network_controller.go
  go-controller/pkg/ovn/secondary_layer3_network_controller.go
  go-controller/pkg/types/const.go
  go-controller/pkg/util/multi_network.go
Labels: area/unit-testing
