Repository ovn-kubernetes/ovn-kubernetes, pull requests merged in 2025-04, with the labels that each got.

#5081 kubevirt, e2e: Add localnet ipamless live migration
  test/e2e/kubevirt.go
  test/e2e/multihoming_utils.go
Labels: area/e2e-testing, feature/kubevirt-live-migration

#5165 Fix EIP "noreroute" LRPs when network contains multiple subnets of the same IP fa…
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/egressip_test.go
Labels: feature/egress-ip, area/unit-testing

#5087 docs,okeps: Localnet API proposal
  docs/okeps/okep-5085-localnet-api.md
  mkdocs.yml
Labels: kind/documentation

#4878 l2, udpn: Add ipv6 lla gateway field to the ovn pod annotation
  go-controller/pkg/allocator/pod/pod_annotation.go
  go-controller/pkg/allocator/pod/pod_annotation_test.go
  go-controller/pkg/clustermanager/network_cluster_controller.go
  go-controller/pkg/clustermanager/pod/allocator.go
  go-controller/pkg/clustermanager/pod/allocator_test.go
  go-controller/pkg/ovn/base_network_controller_pods.go
  go-controller/pkg/util/pod_annotation.go
  go-controller/pkg/util/pod_annotation_unit_test.go
Labels: area/unit-testing

#5167 Add E2Es for testing isolation around BGP advertised networks
  test/e2e/route_advertisements.go
Labels: area/e2e-testing

#5148 Support network segmentation via helm
  .github/workflows/test.yml
  contrib/kind-common
  contrib/kind-helm.sh
  contrib/kind.sh
  helm/ovn-kubernetes/README.md
  helm/ovn-kubernetes/charts/ovnkube-control-plane/templates/ovnkube-control-plane.yaml
  helm/ovn-kubernetes/charts/ovnkube-control-plane/templates/rbac-ovnkube-cluster-manager.yaml
  helm/ovn-kubernetes/charts/ovnkube-master/templates/deployment-ovnkube-master.yaml
  helm/ovn-kubernetes/charts/ovnkube-master/templates/rbac-ovnkube-master.yaml
  helm/ovn-kubernetes/charts/ovnkube-node/templates/ovnkube-node.yaml
  helm/ovn-kubernetes/charts/ovnkube-single-node-zone/templates/ovnkube-single-node-zone.yaml
  helm/ovn-kubernetes/charts/ovnkube-zone-controller/templates/ovnkube-zone-controller.yaml
  helm/ovn-kubernetes/crds/k8s.ovn.org_clusteruserdefinednetworks.yaml
  helm/ovn-kubernetes/crds/k8s.ovn.org_routeadvertisements.yaml
  helm/ovn-kubernetes/crds/k8s.ovn.org_userdefinednetworks.yaml
  helm/ovn-kubernetes/templates/rbac-ovnkube-node.yaml
  helm/ovn-kubernetes/values-multi-node-zone.yaml
  helm/ovn-kubernetes/values-no-ic.yaml
  helm/ovn-kubernetes/values-single-node-zone.yaml
  test/scripts/install-kind.sh
Labels: kind/documentation

#5175 routeimport: account for CUDN network name prefix
  go-controller/pkg/ovn/routeimport/route_import.go
  go-controller/pkg/ovn/routeimport/route_import_test.go
Labels: area/unit-testing

#5123 add job to test github pages deployment
  .github/workflows/docs.yml
  docs/ci/ci.md
Labels: kind/documentation

#5164 node, metrics: Replace depracated option with equivalent
  go-controller/pkg/config/config.go
  go-controller/pkg/metrics/ovn.go
  go-controller/pkg/node/default_node_network_controller.go
  go-controller/pkg/node/default_node_network_controller_test.go
Labels: area/unit-testing

#4847 kubevirt, l2, udpn: send unsolicited router advertisement after live migration to reconcile ipv6 default gw
  go-controller/go.mod
  go-controller/pkg/kubevirt/pod.go
  go-controller/pkg/ovn/secondary_layer2_network_controller.go
  go-controller/pkg/util/ndp/ra.go
  test/e2e/kubevirt.go
  test/e2e/kubevirt/net.go
  test/e2e/kubevirt/types.go
Labels: kind/documentation, area/unit-testing, area/e2e-testing, feature/kubevirt-live-migration, feature/user-defined-network-segmentation

#5169 Import BGP routes to UDN when EgressIP is advertised
  go-controller/pkg/clustermanager/routeadvertisements/controller.go
  go-controller/pkg/clustermanager/routeadvertisements/controller_test.go
Labels: area/unit-testing

#4852 UDN: Filter RA according local GW Router LLA only to avoid multi path
  go-controller/pkg/cni/helper_linux.go
  go-controller/pkg/cni/helper_linux_test.go
  test/e2e/kubevirt.go
Labels: area/unit-testing, area/e2e-testing, feature/kubevirt-live-migration, feature/user-defined-network-segmentation

#5184 upgrade-ovn.sh: ovnkube-identity is now a DaemonSet
  contrib/kind-helm.sh
  docs/features/infrastructure-security-controls/node-identity.md
  docs/installation/launching-ovn-kubernetes-with-helm.md
  helm/ovn-kubernetes/README.md.gotmpl
  helm/ovn-kubernetes/values-multi-node-zone.yaml
  helm/ovn-kubernetes/values-no-ic.yaml
  helm/ovn-kubernetes/values-single-node-zone.yaml
  test/scripts/upgrade-ovn.sh
Labels: kind/documentation

#5010 crds,cudn: Support localnet topology
  dist/templates/k8s.ovn.org_clusteruserdefinednetworks.yaml.j2
  dist/templates/k8s.ovn.org_userdefinednetworks.yaml.j2
  docs/api-reference/userdefinednetwork-api-spec.md
  go-controller/pkg/clustermanager/userdefinednetwork/template/net-attach-def-template.go
  go-controller/pkg/clustermanager/userdefinednetwork/template/net-attach-def-template_test.go
  go-controller/pkg/crd/userdefinednetwork/v1/apis/applyconfiguration/userdefinednetwork/v1/accessvlanconfig.go
  go-controller/pkg/crd/userdefinednetwork/v1/apis/applyconfiguration/userdefinednetwork/v1/localnetconfig.go
  go-controller/pkg/crd/userdefinednetwork/v1/apis/applyconfiguration/userdefinednetwork/v1/networkspec.go
  go-controller/pkg/crd/userdefinednetwork/v1/apis/applyconfiguration/userdefinednetwork/v1/vlanconfig.go
  go-controller/pkg/crd/userdefinednetwork/v1/apis/applyconfiguration/utils.go
  go-controller/pkg/crd/userdefinednetwork/v1/cudn.go
  go-controller/pkg/crd/userdefinednetwork/v1/shared.go
  go-controller/pkg/crd/userdefinednetwork/v1/spec.go
  go-controller/pkg/crd/userdefinednetwork/v1/udn.go
  go-controller/pkg/crd/userdefinednetwork/v1/zz_generated.deepcopy.go
  test/e2e/network_segmentation_api_validations.go
  test/e2e/network_segmentation_localnet.go
  test/e2e/testdata/cudn/invalid-scenarios-localnet-mtu.go
  test/e2e/testdata/cudn/invalid-scenarios-localnet-phynetname.go
  test/e2e/testdata/cudn/invalid-scenarios-localnet-role.go
  test/e2e/testdata/cudn/invalid-scenarios-localnet-subnets.go
  test/e2e/testdata/cudn/invalid-scenarios-localnet-vlan.go
  test/e2e/testdata/cudn/invalid-scenarios-mismatch-topo-conf.go
  test/e2e/testdata/cudn/valid-scenarios-localnet.go
  test/e2e/testdata/scenario.go
Labels: kind/documentation, area/unit-testing, area/e2e-testing

#5190 docs: Use official logo
  docs/images/ovn-inside-k8s-stacked.png
  docs/images/ovn-inside-k8s.png
  docs/index.md
Labels: kind/documentation

#5163 Block local processes from accessing advertised UDNs
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/node/gateway_udn.go
  go-controller/pkg/node/gateway_udn_test.go
  test/e2e/route_advertisements.go
Labels: area/unit-testing, area/e2e-testing, feature/bgp

#5136 Fix the commands for image build in the docs and script.
  dist/READMEcontainer.md
  docs/developer-guide/image-build.md
  docs/installation/launching-ovn-kubernetes-on-kind.md
  docs/installation/launching-ovn-kubernetes-with-helm.md
  docs/observability/ovn-observability.md
  helm/basic-deploy.sh
  helm/ovn-kubernetes/README.md
  helm/ovn-kubernetes/README.md.gotmpl
Labels: kind/documentation

#5200 Configure isolation and routes during network addition
  go-controller/pkg/node/gateway_udn.go
  go-controller/pkg/node/gateway_udn_test.go
Labels: area/unit-testing

#5192 Isolate default network services from UDN pods
  go-controller/pkg/node/gateway.go
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/node/gateway_udn.go
  go-controller/pkg/node/gateway_udn_test.go
  test/e2e/route_advertisements.go
Labels: area/unit-testing, area/e2e-testing, feature/bgp

#5206 ovs client shouldn't be initialized on DPU Hosts
  go-controller/cmd/ovnkube/ovnkube.go
  go-controller/pkg/cni/cni.go
Labels: area/unit-testing

#5153 Guard against PMTUD route caching for Kubernetes Node IPs
  go-controller/pkg/node/default_node_network_controller.go
  go-controller/pkg/node/default_node_network_controller_test.go
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/node/linkmanager/link_network_manager.go
  go-controller/pkg/node/node_nftables.go
  go-controller/pkg/node/obj_retry_node.go
  go-controller/pkg/node/openflow_manager.go
  go-controller/pkg/ovn/base_network_controller.go
  go-controller/pkg/ovn/master_test.go
  go-controller/pkg/ovn/secondary_layer3_network_controller_test.go
  go-controller/pkg/types/const.go
  test/e2e/pod.go
  test/e2e/service.go
Labels: area/unit-testing, area/e2e-testing, feature/services&endpoints
