Repository ovn-kubernetes/ovn-kubernetes, pull requests merged in 2025-10, with the labels that each got.

#5588 api, udn: subnets must be masked
  dist/templates/k8s.ovn.org_clusteruserdefinednetworks.yaml.j2
  dist/templates/k8s.ovn.org_userdefinednetworks.yaml.j2
  go-controller/pkg/crd/userdefinednetwork/v1/shared.go
  test/e2e/network_segmentation_preconfigured_layer2.go
Labels: area/e2e-testing, feature/user-defined-networks

#5461 add new default network advertisement toggle tests (pod to external & pod to another node)
  test/e2e/route_advertisements.go
Labels: kind/documentation, feature/egress-ip, area/unit-testing, area/e2e-testing, feature/services&endpoints, feature/kubevirt-live-migration, feature/egress-gateway

#5565 Fixes for flaky lb service test
  test/e2e/service.go
  test/e2e/util.go
Labels: area/e2e-testing, feature/services&endpoints
