Repository ovn-kubernetes/ovn-kubernetes, pull requests merged in 2025-05, with the labels that each got.

#5103 OVN IC mode should handle user provided encapIPs
  go-controller/pkg/libovsdb/libovsdb.go
  go-controller/pkg/libovsdb/ops/chassis.go
  go-controller/pkg/libovsdb/ops/chassis_test.go
  go-controller/pkg/node/default_node_network_controller.go
  go-controller/pkg/ovn/default_network_controller.go
  go-controller/pkg/ovn/zone_interconnect/chassis_handler.go
  go-controller/pkg/ovn/zone_interconnect/chassis_handler_test.go
  go-controller/pkg/ovnwebhook/nodeadmission.go
  go-controller/pkg/util/node_annotations.go
Labels: area/unit-testing

#5194 Add Nadia Pinaeva to maintainer's list
  MAINTAINERS.md
Labels: kind/documentation, area/community

#5181 Refactor routemanager
  go-controller/pkg/node/controllers/egressip/egressip.go
  go-controller/pkg/node/controllers/egressip/egressip_test.go
  go-controller/pkg/node/gateway_init_linux_test.go
  go-controller/pkg/node/routemanager/route_manager.go
  go-controller/pkg/node/routemanager/route_manager_test.go
  go-controller/pkg/util/net.go
Labels: area/unit-testing

#5210 Show warning message when a RouteAdvertisements advertise EIP for L2 UDNs
  go-controller/pkg/clustermanager/routeadvertisements/controller.go
  go-controller/pkg/clustermanager/routeadvertisements/controller_test.go
Labels: area/unit-testing

#5242 Fix LB service e2e test
  test/e2e/service.go
Labels: area/e2e-testing, feature/services&endpoints

#5248 formatting fix for "launching-ovn-kubernetes-on-kind"
  docs/installation/launching-ovn-kubernetes-on-kind.md
Labels: kind/documentation

#5186 Drop trafffic between advertised UDN networks
  dist/images/Dockerfile.fedora
  go-controller/pkg/controllermanager/controller_manager.go
  go-controller/pkg/libovsdb/ops/db_object_types.go
  go-controller/pkg/ovn/default_network_controller.go
  go-controller/pkg/ovn/external_ids_syncer/acl/acl_suite_test.go
  go-controller/pkg/ovn/external_ids_syncer/acl/acl_sync.go
  go-controller/pkg/ovn/external_ids_syncer/acl/acl_sync_test.go
  go-controller/pkg/ovn/external_ids_syncer/address_set/address_set_suite_test.go
  go-controller/pkg/ovn/external_ids_syncer/address_set/address_set_sync.go
  go-controller/pkg/ovn/external_ids_syncer/address_set/address_set_sync_test.go
  go-controller/pkg/ovn/external_ids_syncer/port_group/port_gorup_suite_test.go
  go-controller/pkg/ovn/external_ids_syncer/port_group/port_group_sync.go
  go-controller/pkg/ovn/external_ids_syncer/port_group/port_group_sync_test.go
  go-controller/pkg/ovn/gateway_test.go
  go-controller/pkg/ovn/master_test.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/secondary_layer2_network_controller.go
  go-controller/pkg/ovn/secondary_layer3_network_controller.go
  go-controller/pkg/ovn/udn_isolation.go
  go-controller/pkg/types/const.go
  test/e2e/route_advertisements.go
Labels: do-not-merge/hold, area/unit-testing, area/e2e-testing, feature/bgp

#5250 Node port watcher sync: ignore ns with no valid network
  go-controller/pkg/node/gateway_nftables.go
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/node/gateway_udn_test.go
  go-controller/pkg/testing/networkmanager/fake.go
Labels: area/unit-testing, feature/services&endpoints, feature/user-defined-networks

#5261 Retry all pods smarter
  go-controller/hybrid-overlay/pkg/controller/ho_node_windows.go
  go-controller/hybrid-overlay/pkg/controller/ovn_node_linux.go
  go-controller/pkg/clustermanager/network_cluster_controller.go
  go-controller/pkg/controllermanager/controller_manager.go
  go-controller/pkg/controllermanager/node_controller_manager_test.go
  go-controller/pkg/kube/annotator_test.go
  go-controller/pkg/kube/kube.go
  go-controller/pkg/kube/kube_test.go
  go-controller/pkg/kube/mocks/Interface.go
  go-controller/pkg/kube/mocks/InterfaceOVN.go
  go-controller/pkg/metrics/cluster_manager.go
  go-controller/pkg/metrics/metrics.go
  go-controller/pkg/metrics/node.go
  go-controller/pkg/metrics/ovn.go
  go-controller/pkg/metrics/ovn_db.go
  go-controller/pkg/metrics/ovn_northd.go
  go-controller/pkg/metrics/ovnkube_controller.go
  go-controller/pkg/metrics/ovs.go
  go-controller/pkg/metrics/recorders/duration.go
  go-controller/pkg/metrics/recorders/duration_test.go
  go-controller/pkg/node/default_node_network_controller.go
  go-controller/pkg/node/gateway_egressip_test.go
  go-controller/pkg/node/gateway_udn_test.go
  go-controller/pkg/ovn/base_event_handler.go
  go-controller/pkg/ovn/base_network_controller.go
  go-controller/pkg/ovn/controller/admin_network_policy/metrics.go
  go-controller/pkg/ovn/controller/network_qos/metrics.go
  go-controller/pkg/ovn/controller/services/loadbalancer.go
  go-controller/pkg/ovn/controller/services/services_controller.go
  go-controller/pkg/ovn/default_network_controller.go
  go-controller/pkg/ovn/gateway.go
  go-controller/pkg/ovn/hybrid.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/master_test.go
  go-controller/pkg/ovn/ovn_test.go
  go-controller/pkg/ovn/secondary_localnet_network_controller.go
  go-controller/pkg/ovndbmanager/ovndbmanager.go
  go-controller/pkg/retry/obj_retry.go
  go-controller/pkg/types/const.go
Labels: area/unit-testing, feature/admin-network-policy, feature/egress-service, feature/services&endpoints
