Repository ovn-kubernetes/ovn-kubernetes, pull requests merged in 2025-07, with the labels that each got.

#5314 Revert "Add the IP rule for a UDN only when it is advertised to the default VRF"
  go-controller/pkg/node/gateway_udn.go
  go-controller/pkg/node/gateway_udn_test.go
Labels: area/unit-testing

#5338 Add network QoS guide to docs navigation
  docs/features/network-qos-guide.md
  mkdocs.yml
Labels: kind/documentation, feature/network-qos

#5339 scale test fixes: memory leak + changed ofport
  go-controller/pkg/node/openflow_manager.go
  go-controller/pkg/ovn/controller/services/services_controller.go
  go-controller/pkg/util/multi_network.go
Labels: feature/services&endpoints

#5371 cluster-manager clbs if udn requests PersistentIPs but it is not enabled
  go-controller/pkg/clustermanager/userdefinednetwork/template/net-attach-def-template.go
  go-controller/pkg/clustermanager/userdefinednetwork/template/net-attach-def-template_test.go
Labels: area/unit-testing

#5238 OKEP-5233: Pre-assigned network configuration for UDNs with non-NATed pod traffic
  docs/okeps/okep-5233-preconfigured-udn-addresses.md
  mkdocs.yml
Labels: kind/documentation

#5370 Gateway refactoring: preparation work for Layer2 with router
  go-controller/Makefile
  go-controller/hack/lint.sh
  go-controller/pkg/libovsdb/ops/options.go
  go-controller/pkg/ovn/base_network_controller.go
  go-controller/pkg/ovn/base_network_controller_pods.go
  go-controller/pkg/ovn/egressgw.go
  go-controller/pkg/ovn/egressgw_test.go
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/egressip_test.go
  go-controller/pkg/ovn/egressip_udn_l3_test.go
  go-controller/pkg/ovn/external_gateway_apb_test.go
  go-controller/pkg/ovn/gateway.go
  go-controller/pkg/ovn/gateway_test.go
  go-controller/pkg/ovn/hybrid_test.go
  go-controller/pkg/ovn/kubevirt_test.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/master_test.go
  go-controller/pkg/ovn/multihoming_test.go
  go-controller/pkg/ovn/multipolicy_test.go
  go-controller/pkg/ovn/network_segmentation_test.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/pods.go
  go-controller/pkg/ovn/pods_test.go
  go-controller/pkg/ovn/secondary_layer2_network_controller.go
  go-controller/pkg/ovn/secondary_layer2_network_controller_test.go
  go-controller/pkg/ovn/secondary_layer3_network_controller.go
  go-controller/pkg/ovn/secondary_layer3_network_controller_test.go
  go-controller/pkg/ovn/topology/topologyfactory.go
  go-controller/pkg/ovn/topology/topologyfactory_test.go
  go-controller/pkg/ovn/zone_interconnect/zone_ic_handler.go
  go-controller/pkg/util/multi_network.go
Labels: feature/egress-ip, area/unit-testing, feature/services&endpoints, feature/kubevirt-live-migration, feature/egress-gateway

#5101 Update github runners to use the new kernel
  .github/workflows/test.yml
  dist/images/ovnkube.sh
  go-controller/pkg/config/config.go
  go-controller/pkg/node/default_node_network_controller.go
  test/e2e/network_segmentation.go
  test/e2e/node_ip_mac_migration.go
  test/e2e/util.go
Labels: area/e2e-testing

#5327 ovnkube in dpu host mode: advanced gateway detection
  docs/features/hardware-offload/derive-from-mgmt-port.md
  docs/features/hardware-offload/dpu-gateway-interface.md
  docs/features/hardware-offload/dpu-support.md
  docs/installation/ovn_k8s.conf.5
  go-controller/pkg/node/default_node_network_controller.go
  go-controller/pkg/node/default_node_network_controller_test.go
  go-controller/pkg/types/const.go
Labels: kind/documentation, area/unit-testing

#5336 E2Es: remove additional references to KinD setup
  test/e2e/e2e.go
  test/e2e/multi_node_zones_interconnect.go
  test/e2e/multihoming.go
  test/e2e/route_advertisements.go
Labels: area/e2e-testing

#5368 virt: Delete LSP at external process killing VM
  go-controller/pkg/kubevirt/pod.go
  go-controller/pkg/kubevirt/pod_test.go
  go-controller/pkg/ovn/kubevirt_test.go
  test/e2e/kubevirt.go
  test/e2e/kubevirt/pod.go
Labels: area/unit-testing, area/e2e-testing, feature/kubevirt-live-migration

#5345 refactor pkg/node bridgeconfig into its own package, fix the locking
  go-controller/.golangci.yml
  go-controller/pkg/node/bridgeconfig/bridgeconfig.go
  go-controller/pkg/node/bridgeconfig/bridgeconfig_testutil.go
  go-controller/pkg/node/bridgeconfig/bridgeflows.go
  go-controller/pkg/node/default_node_network_controller.go
  go-controller/pkg/node/default_node_network_controller_test.go
  go-controller/pkg/node/egress_service_test.go
  go-controller/pkg/node/egressip/gateway_egressip.go
  go-controller/pkg/node/egressip/gateway_egressip_suite_test.go
  go-controller/pkg/node/egressip/gateway_egressip_test.go
  go-controller/pkg/node/gateway.go
  go-controller/pkg/node/gateway_init.go
  go-controller/pkg/node/gateway_init_linux_test.go
  go-controller/pkg/node/gateway_localnet_linux_test.go
  go-controller/pkg/node/gateway_nftables.go
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/node/gateway_udn.go
  go-controller/pkg/node/gateway_udn_test.go
  go-controller/pkg/node/helper_linux.go
  go-controller/pkg/node/node_ip_handler_linux.go
  go-controller/pkg/node/node_ip_handler_linux_test.go
  go-controller/pkg/node/openflow_manager.go
  go-controller/pkg/node/types/const.go
  go-controller/pkg/node/util/util.go
  go-controller/pkg/node/util/util_suite_test.go
  go-controller/pkg/node/util/util_test.go
Labels: kind/documentation, feature/egress-ip, area/unit-testing, area/e2e-testing, feature/egress-service, feature/services&endpoints, feature/kubevirt-live-migration, feature/egress-gateway, feature/egress-qos

#5299 build, vendor: consume ipamclaims v0.5.0-alpha
  go-controller/go.mod
  go-controller/go.sum
  go-controller/vendor/github.com/k8snetworkplumbingwg/ipamclaims/pkg/crd/ipamclaims/v1alpha1/apis/clientset/versioned/clientset.go
  go-controller/vendor/github.com/k8snetworkplumbingwg/ipamclaims/pkg/crd/ipamclaims/v1alpha1/apis/clientset/versioned/fake/clientset_generated.go
  go-controller/vendor/github.com/k8snetworkplumbingwg/ipamclaims/pkg/crd/ipamclaims/v1alpha1/apis/clientset/versioned/fake/doc.go
  go-controller/vendor/github.com/k8snetworkplumbingwg/ipamclaims/pkg/crd/ipamclaims/v1alpha1/apis/clientset/versioned/fake/register.go
  go-controller/vendor/github.com/k8snetworkplumbingwg/ipamclaims/pkg/crd/ipamclaims/v1alpha1/apis/clientset/versioned/scheme/doc.go
  go-controller/vendor/github.com/k8snetworkplumbingwg/ipamclaims/pkg/crd/ipamclaims/v1alpha1/apis/clientset/versioned/scheme/register.go
  go-controller/vendor/github.com/k8snetworkplumbingwg/ipamclaims/pkg/crd/ipamclaims/v1alpha1/apis/clientset/versioned/typed/ipamclaims/v1alpha1/doc.go
  go-controller/vendor/github.com/k8snetworkplumbingwg/ipamclaims/pkg/crd/ipamclaims/v1alpha1/apis/clientset/versioned/typed/ipamclaims/v1alpha1/fake/doc.go
  go-controller/vendor/github.com/k8snetworkplumbingwg/ipamclaims/pkg/crd/ipamclaims/v1alpha1/apis/clientset/versioned/typed/ipamclaims/v1alpha1/fake/fake_ipamclaim.go
  go-controller/vendor/github.com/k8snetworkplumbingwg/ipamclaims/pkg/crd/ipamclaims/v1alpha1/apis/clientset/versioned/typed/ipamclaims/v1alpha1/fake/fake_ipamclaims_client.go
  go-controller/vendor/github.com/k8snetworkplumbingwg/ipamclaims/pkg/crd/ipamclaims/v1alpha1/apis/clientset/versioned/typed/ipamclaims/v1alpha1/generated_expansion.go
  go-controller/vendor/github.com/k8snetworkplumbingwg/ipamclaims/pkg/crd/ipamclaims/v1alpha1/apis/clientset/versioned/typed/ipamclaims/v1alpha1/ipamclaim.go
  go-controller/vendor/github.com/k8snetworkplumbingwg/ipamclaims/pkg/crd/ipamclaims/v1alpha1/apis/clientset/versioned/typed/ipamclaims/v1alpha1/ipamclaims_client.go
  go-controller/vendor/github.com/k8snetworkplumbingwg/ipamclaims/pkg/crd/ipamclaims/v1alpha1/apis/informers/externalversions/factory.go
  go-controller/vendor/github.com/k8snetworkplumbingwg/ipamclaims/pkg/crd/ipamclaims/v1alpha1/apis/informers/externalversions/generic.go
  go-controller/vendor/github.com/k8snetworkplumbingwg/ipamclaims/pkg/crd/ipamclaims/v1alpha1/apis/informers/externalversions/internalinterfaces/factory_interfaces.go
  go-controller/vendor/github.com/k8snetworkplumbingwg/ipamclaims/pkg/crd/ipamclaims/v1alpha1/apis/informers/externalversions/ipamclaims/interface.go
  go-controller/vendor/github.com/k8snetworkplumbingwg/ipamclaims/pkg/crd/ipamclaims/v1alpha1/apis/informers/externalversions/ipamclaims/v1alpha1/interface.go
  go-controller/vendor/github.com/k8snetworkplumbingwg/ipamclaims/pkg/crd/ipamclaims/v1alpha1/apis/informers/externalversions/ipamclaims/v1alpha1/ipamclaim.go
  go-controller/vendor/github.com/k8snetworkplumbingwg/ipamclaims/pkg/crd/ipamclaims/v1alpha1/apis/listers/ipamclaims/v1alpha1/expansion_generated.go
  go-controller/vendor/github.com/k8snetworkplumbingwg/ipamclaims/pkg/crd/ipamclaims/v1alpha1/apis/listers/ipamclaims/v1alpha1/ipamclaim.go
  go-controller/vendor/github.com/k8snetworkplumbingwg/ipamclaims/pkg/crd/ipamclaims/v1alpha1/types.go
  go-controller/vendor/github.com/k8snetworkplumbingwg/ipamclaims/pkg/crd/ipamclaims/v1alpha1/zz_generated.deepcopy.go
  go-controller/vendor/modules.txt
  test/e2e/go.mod
  test/e2e/go.sum
Labels: area/e2e-testing

#5424 Change OVN-Kubernetes community meeting time
  MEETINGS.md
Labels: kind/documentation

#5320 udn, pre assigned port net ids: provision the default net NAD CR
  go-controller/pkg/clustermanager/clustermanager_test.go
  go-controller/pkg/clustermanager/routeadvertisements/controller.go
  go-controller/pkg/clustermanager/routeadvertisements/controller_test.go
  go-controller/pkg/clustermanager/userdefinednetwork/controller.go
  go-controller/pkg/util/multi_network.go
  go-controller/pkg/util/nad.go
Labels: area/unit-testing

#5140 UDN Isolation with BGP: Remove support for receiving advertised routes from remote nodes
  go-controller/pkg/clustermanager/routeadvertisements/controller.go
  go-controller/pkg/clustermanager/routeadvertisements/controller_test.go
  go-controller/pkg/libovsdb/ops/router.go
  go-controller/pkg/node/bridgeconfig/bridgeflows.go
  go-controller/pkg/node/default_node_network_controller.go
  go-controller/pkg/node/default_node_network_controller_test.go
  go-controller/pkg/node/gateway.go
  go-controller/pkg/node/gateway_init_linux_test.go
  go-controller/pkg/node/gateway_iptables.go
  go-controller/pkg/node/gateway_localnet.go
  go-controller/pkg/node/gateway_nftables.go
  go-controller/pkg/node/gateway_udn.go
  go-controller/pkg/node/gateway_udn_test.go
  go-controller/pkg/node/node_nftables.go
  go-controller/pkg/node/obj_retry_node.go
  go-controller/pkg/ovn/base_network_controller_secondary.go
  go-controller/pkg/ovn/egressgw.go
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/gateway.go
  go-controller/pkg/ovn/gateway_test.go
  go-controller/pkg/ovn/master_test.go
  go-controller/pkg/ovn/namespace.go
  go-controller/pkg/ovn/pods.go
  go-controller/pkg/ovn/secondary_layer2_network_controller.go
  go-controller/pkg/ovn/secondary_layer3_network_controller.go
  go-controller/pkg/types/const.go
  go-controller/pkg/util/multi_network.go
  test/e2e/route_advertisements.go
Labels: feature/egress-ip, area/unit-testing, area/e2e-testing, feature/egress-gateway, feature/user-defined-networks, feature/bgp, component/node, component/ovnkube-controller
